Connected to Python 3.9.6

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
data = pd.read_csv(file_path)

NameError: name 'pd' is not defined

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'seaborn'

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
data = pd.read_csv(file_path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
data = pd.read_csv(file_path)

In [ ]:
print(data.head())

     gameId             gameDate   hometeamCity hometeamName  hometeamId  \
0  22400477  2025-01-03 22:30:00    Los Angeles       Lakers  1610612747
1  22400476  2025-01-03 22:00:00     Sacramento        Kings  1610612758
2  22400474  2025-01-03 20:30:00         Dallas    Mavericks  1610612742
3  22400473  2025-01-03 20:00:00  Oklahoma City      Thunder  1610612760
4  22400471  2025-01-03 20:00:00        Houston      Rockets  1610612745

  awayteamCity awayteamName  awayteamId  homeScore  awayScore      winner  \
0      Atlanta        Hawks  1610612737        119        102  1610612747
1      Memphis    Grizzlies  1610612763        138        133  1610612758
2    Cleveland    Cavaliers  1610612739        122        134  1610612739
3     New York       Knicks  1610612752        117        107  1610612760
4       Boston      Celtics  1610612738         86        109  1610612738

   arenaId  attendance  gameType  tournamentRound
0      NaN     18997.0       NaN              NaN
1      NaN     16601.0       NaN              NaN
2      NaN     20231.0       NaN              NaN
3      NaN     18203.0       NaN              NaN
4      NaN     18055.0       NaN              NaN

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as pltimport kagglehub

# Download latest version
path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")

print("Path to dataset files:", path)

SyntaxError: invalid syntax (<ipython-input-7-a596694fa117>, line 5)

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import kagglehub

# Download latest version
path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")

print("Path to dataset files:", path)

ModuleNotFoundError: No module named 'kagglehub'

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/Teams.csv')file_path = '~/code/data/kaggle/input/basketball/csv/TeamHistories.csv'

print(team_data.head())

SyntaxError: invalid syntax (<ipython-input-9-271770a9f38f>, line 6)

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/Teams.csv')file_path = '~/code/data/kaggle/input/basketball/csv/TeamHistories.csv'

print(team_data.head())

SyntaxError: invalid syntax (<ipython-input-11-271770a9f38f>, line 6)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')

print(team_data.head())

       teamId    teamCity    teamName teamAbbrev  yearFounded  yearActiveTill
0  1610612737  Tri-Cities  Blackhawks      TRI           1949            1950
1  1610612737   Milwaukee       Hawks      MIL           1951            1954
2  1610612737   St. Louis       Hawks      STL           1955            1967
3  1610612737     Atlanta       Hawks      ATL           1968            2100
4  1610612738      Boston     Celtics      BOS           1946            2100

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')

print(data.head())

     gameId             gameDate   hometeamCity hometeamName  hometeamId  \
0  22400477  2025-01-03 22:30:00    Los Angeles       Lakers  1610612747
1  22400476  2025-01-03 22:00:00     Sacramento        Kings  1610612758
2  22400474  2025-01-03 20:30:00         Dallas    Mavericks  1610612742
3  22400473  2025-01-03 20:00:00  Oklahoma City      Thunder  1610612760
4  22400471  2025-01-03 20:00:00        Houston      Rockets  1610612745

  awayteamCity awayteamName  awayteamId  homeScore  awayScore      winner  \
0      Atlanta        Hawks  1610612737        119        102  1610612747
1      Memphis    Grizzlies  1610612763        138        133  1610612758
2    Cleveland    Cavaliers  1610612739        122        134  1610612739
3     New York       Knicks  1610612752        117        107  1610612760
4       Boston      Celtics  1610612738         86        109  1610612738

   arenaId  attendance  gameType  tournamentRound
0      NaN     18997.0       NaN              NaN
1      NaN     16601.0       NaN              NaN
2      NaN     20231.0       NaN              NaN
3      NaN     18203.0       NaN              NaN
4      NaN     18055.0       NaN              NaN

In [ ]:
# Merge home team abbreviations
game_data = pd.merge(data, team_data[['teamId', 'teamAbbrev']], left_on='hometeamId', right_on='teamId', how='left')
game_data = game_data.rename(columns={'teamAbbrev': 'hometeamAbbrev'}).drop(columns=['teamId'])

# Merge away team abbreviations
game_data = pd.merge(game_data, team_data[['teamId', 'teamAbbrev']], left_on='awayteamId', right_on='teamId', how='left')
game_data = game_data.rename(columns={'teamAbbrev': 'awayteamAbbrev'}).drop(columns=['teamId'])

In [ ]:
# Merge home team abbreviations
game_data = pd.merge(data, team_data[['teamId', 'teamAbbrev']], left_on='hometeamId', right_on='teamId', how='left')
game_data = game_data.rename(columns={'teamAbbrev': 'hometeamAbbrev'}).drop(columns=['teamId'])

# Merge away team abbreviations
game_data = pd.merge(game_data, team_data[['teamId', 'teamAbbrev']], left_on='awayteamId', right_on='teamId', how='left')
game_data = game_data.rename(columns={'teamAbbrev': 'awayteamAbbrev'}).drop(columns=['teamId'])

print(game_data[['gameId', 'hometeamCity', 'hometeamName', 'hometeamAbbrev', 'awayteamCity', 'awayteamName', 'awayteamAbbrev']])

          gameId  hometeamCity hometeamName hometeamAbbrev  awayteamCity  \
0       22400477   Los Angeles       Lakers          MIN         Atlanta
1       22400477   Los Angeles       Lakers          MIN         Atlanta
2       22400477   Los Angeles       Lakers          MIN         Atlanta
3       22400477   Los Angeles       Lakers          MIN         Atlanta
4       22400477   Los Angeles       Lakers          LAL         Atlanta
...          ...           ...          ...            ...           ...
252301  24600063      New York       Knicks          NYK    Philadelphia
252302  24600063      New York       Knicks          NYK    Philadelphia
252303  24600052  Philadelphia     Warriors          PHI          Boston
252304  24600052  Philadelphia     Warriors          SF           Boston
252305  24600052  Philadelphia     Warriors          GSW          Boston

       awayteamName awayteamAbbrev
0             Hawks          TRI
1             Hawks          MIL
2             Hawks          STL
3             Hawks          ATL
4             Hawks          TRI
...             ...            ...
252301     Warriors          SF
252302     Warriors          GSW
252303      Celtics          BOS
252304      Celtics          BOS
252305      Celtics          BOS

[252306 rows x 7 columns]

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')

print(data.head())

     gameId             gameDate   hometeamCity hometeamName  hometeamId  \
0  22400477  2025-01-03 22:30:00    Los Angeles       Lakers  1610612747
1  22400476  2025-01-03 22:00:00     Sacramento        Kings  1610612758
2  22400474  2025-01-03 20:30:00         Dallas    Mavericks  1610612742
3  22400473  2025-01-03 20:00:00  Oklahoma City      Thunder  1610612760
4  22400471  2025-01-03 20:00:00        Houston      Rockets  1610612745

  awayteamCity awayteamName  awayteamId  homeScore  awayScore      winner  \
0      Atlanta        Hawks  1610612737        119        102  1610612747
1      Memphis    Grizzlies  1610612763        138        133  1610612758
2    Cleveland    Cavaliers  1610612739        122        134  1610612739
3     New York       Knicks  1610612752        117        107  1610612760
4       Boston      Celtics  1610612738         86        109  1610612738

   arenaId  attendance  gameType  tournamentRound
0      NaN     18997.0       NaN              NaN
1      NaN     16601.0       NaN              NaN
2      NaN     20231.0       NaN              NaN
3      NaN     18203.0       NaN              NaN
4      NaN     18055.0       NaN              NaN

In [ ]:
# Assuming game_data is already loaded as in the previous example

# Convert 'gameDate' column to datetime
game_data['gameDate'] = pd.to_datetime(game_data['gameDate'])

# Filter games from the 2000-01 season onwards (year >= 2000)
game_data_filtered = game_data[game_data['gameDate'].dt.year >= 2000]

# Check the filtered data
print(game_data_filtered[['gameId', 'gameDate', 'hometeamCity', 'hometeamName', 'awayteamCity', 'awayteamName']])

ValueError: time data "1955-01-03" doesn't match format "%Y-%m-%d %H:%M:%S", at position 28573. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [ ]:
# Assuming game_data is already loaded

# Convert 'gameDate' column to datetime and extract only the date (year-month-day)
game_data['gameDate'] = pd.to_datetime(game_data['gameDate']).dt.date

# Filter games from the 2000-01 season onwards (year >= 2000)
game_data_filtered = game_data[game_data['gameDate'].apply(lambda x: x.year >= 2000)]

# Check the filtered data
print(game_data_filtered[['gameId', 'gameDate', 'hometeamCity', 'hometeamName', 'awayteamCity', 'awayteamName']])

ValueError: time data "1955-01-03" doesn't match format "%Y-%m-%d %H:%M:%S", at position 28573. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [ ]:
# Merge home team abbreviations
game_data = pd.merge(data, team_data[['teamId', 'teamAbbrev']], left_on='hometeamId', right_on='teamId', how='left')
game_data = game_data.rename(columns={'teamAbbrev': 'hometeamAbbrev'}).drop(columns=['teamId'])

# Merge away team abbreviations
game_data = pd.merge(game_data, team_data[['teamId', 'teamAbbrev']], left_on='awayteamId', right_on='teamId', how='left')
game_data = game_data.rename(columns={'teamAbbrev': 'awayteamAbbrev'}).drop(columns=['teamId'])

print(game_data[['gameId', 'hometeamCity', 'hometeamName', 'hometeamAbbrev', 'awayteamCity', 'awayteamName', 'awayteamAbbrev']])

          gameId  hometeamCity hometeamName hometeamAbbrev  awayteamCity  \
0       22400477   Los Angeles       Lakers          MIN         Atlanta
1       22400477   Los Angeles       Lakers          MIN         Atlanta
2       22400477   Los Angeles       Lakers          MIN         Atlanta
3       22400477   Los Angeles       Lakers          MIN         Atlanta
4       22400477   Los Angeles       Lakers          LAL         Atlanta
...          ...           ...          ...            ...           ...
252301  24600063      New York       Knicks          NYK    Philadelphia
252302  24600063      New York       Knicks          NYK    Philadelphia
252303  24600052  Philadelphia     Warriors          PHI          Boston
252304  24600052  Philadelphia     Warriors          SF           Boston
252305  24600052  Philadelphia     Warriors          GSW          Boston

       awayteamName awayteamAbbrev
0             Hawks          TRI
1             Hawks          MIL
2             Hawks          STL
3             Hawks          ATL
4             Hawks          TRI
...             ...            ...
252301     Warriors          SF
252302     Warriors          GSW
252303      Celtics          BOS
252304      Celtics          BOS
252305      Celtics          BOS

[252306 rows x 7 columns]

In [ ]:
# Assuming game_data is already loaded

# Convert 'gameDate' column to datetime and extract only the date (year-month-day)
game_data['gameDate'] = pd.to_datetime(game_data['gameDate']).dt.date

# Filter games from the 2000-01 season onwards (year >= 2000)
game_data_filtered = game_data[game_data['gameDate'].apply(lambda x: x.year >= 2000)]

# Check the filtered data
print(game_data_filtered[['gameId', 'gameDate', 'hometeamCity', 'hometeamName', 'awayteamCity', 'awayteamName']])

ValueError: time data "1955-01-03" doesn't match format "%Y-%m-%d %H:%M:%S", at position 28573. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')

print(data.head())

     gameId             gameDate   hometeamCity hometeamName  hometeamId  \
0  22400477  2025-01-03 22:30:00    Los Angeles       Lakers  1610612747
1  22400476  2025-01-03 22:00:00     Sacramento        Kings  1610612758
2  22400474  2025-01-03 20:30:00         Dallas    Mavericks  1610612742
3  22400473  2025-01-03 20:00:00  Oklahoma City      Thunder  1610612760
4  22400471  2025-01-03 20:00:00        Houston      Rockets  1610612745

  awayteamCity awayteamName  awayteamId  homeScore  awayScore      winner  \
0      Atlanta        Hawks  1610612737        119        102  1610612747
1      Memphis    Grizzlies  1610612763        138        133  1610612758
2    Cleveland    Cavaliers  1610612739        122        134  1610612739
3     New York       Knicks  1610612752        117        107  1610612760
4       Boston      Celtics  1610612738         86        109  1610612738

   arenaId  attendance  gameType  tournamentRound
0      NaN     18997.0       NaN              NaN
1      NaN     16601.0       NaN              NaN
2      NaN     20231.0       NaN              NaN
3      NaN     18203.0       NaN              NaN
4      NaN     18055.0       NaN              NaN

In [ ]:
# Assuming game_data is already loaded

# Convert 'gameDate' column to datetime and extract only the date (year-month-day)
game_data['gameDate'] = pd.to_datetime(game_data['gameDate']).dt.date

# Filter games from the 2000-01 season onwards (year >= 2000)
game_data_filtered = game_data[game_data['gameDate'].apply(lambda x: x.year >= 2000)]

# Check the filtered data
print(game_data_filtered[['gameId', 'gameDate', 'hometeamCity', 'hometeamName', 'awayteamCity', 'awayteamName']])

ValueError: time data "1955-01-03" doesn't match format "%Y-%m-%d %H:%M:%S", at position 28573. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')

print(data.head())

     gameId             gameDate   hometeamCity hometeamName  hometeamId  \
0  22400477  2025-01-03 22:30:00    Los Angeles       Lakers  1610612747
1  22400476  2025-01-03 22:00:00     Sacramento        Kings  1610612758
2  22400474  2025-01-03 20:30:00         Dallas    Mavericks  1610612742
3  22400473  2025-01-03 20:00:00  Oklahoma City      Thunder  1610612760
4  22400471  2025-01-03 20:00:00        Houston      Rockets  1610612745

  awayteamCity awayteamName  awayteamId  homeScore  awayScore      winner  \
0      Atlanta        Hawks  1610612737        119        102  1610612747
1      Memphis    Grizzlies  1610612763        138        133  1610612758
2    Cleveland    Cavaliers  1610612739        122        134  1610612739
3     New York       Knicks  1610612752        117        107  1610612760
4       Boston      Celtics  1610612738         86        109  1610612738

   arenaId  attendance  gameType  tournamentRound
0      NaN     18997.0       NaN              NaN
1      NaN     16601.0       NaN              NaN
2      NaN     20231.0       NaN              NaN
3      NaN     18203.0       NaN              NaN
4      NaN     18055.0       NaN              NaN

In [ ]:
# Assuming game_data is already loaded

# Convert 'gameDate' column to datetime and extract only the date (year-month-day)
game_data['gameDate'] = pd.to_datetime(game_data['gameDate']).dt.date

# Filter games from the 2000-01 season onwards (year >= 2000)
game_data_filtered = game_data[game_data['gameDate'].apply(lambda x: x.year >= 2000)]

# Check the filtered data
print(game_data_filtered[['gameId', 'gameDate', 'hometeamCity', 'hometeamName', 'awayteamCity', 'awayteamName']])

ValueError: time data "1955-01-03" doesn't match format "%Y-%m-%d %H:%M:%S", at position 28573. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [ ]:
# Assuming game_data is already loaded

# Convert 'gameDate' column to datetime, with errors='coerce' to handle invalid date formats
game_data['gameDate'] = pd.to_datetime(game_data['gameDate'], errors='coerce')

# Drop rows with invalid 'gameDate' (NaT values)
game_data = game_data.dropna(subset=['gameDate'])

# Extract only the date (year-month-day) part
game_data['gameDate'] = game_data['gameDate'].dt.date

# Filter games from the 2000-01 season onwards (year >= 2000)
game_data_filtered = game_data[game_data['gameDate'].apply(lambda x: x.year >= 2000)]

# Check the filtered data
print(game_data_filtered[['gameId', 'gameDate', 'hometeamCity', 'hometeamName', 'awayteamCity', 'awayteamName']])

          gameId    gameDate  hometeamCity hometeamName  awayteamCity  \
0       22400477  2025-01-03   Los Angeles       Lakers       Atlanta
1       22400477  2025-01-03   Los Angeles       Lakers       Atlanta
2       22400477  2025-01-03   Los Angeles       Lakers       Atlanta
3       22400477  2025-01-03   Los Angeles       Lakers       Atlanta
4       22400477  2025-01-03   Los Angeles       Lakers       Atlanta
...          ...         ...           ...          ...           ...
104863  29900426  2000-01-04    Washington      Wizards  Golden State
104864  29900425  2000-01-04  Philadelphia        76ers     Milwaukee
104865  29900425  2000-01-04  Philadelphia        76ers     Milwaukee
104866  29900424  2000-01-04        Boston      Celtics     Cleveland
104867  29900423  2000-01-03         Miami         Heat       Orlando

       awayteamName
0             Hawks
1             Hawks
2             Hawks
3             Hawks
4             Hawks
...             ...
104863     Warriors
104864        Bucks
104865        Bucks
104866    Cavaliers
104867        Magic

[104868 rows x 6 columns]

In [ ]:
# Merge home team abbreviations
game_data = pd.merge(data, team_data[['teamId', 'teamAbbrev']], left_on='hometeamId', right_on='teamId', how='left')
game_data = game_data.rename(columns={'teamAbbrev': 'hometeamAbbrev'}).drop(columns=['teamId'])

# Merge away team abbreviations
game_data = pd.merge(game_data, team_data[['teamId', 'teamAbbrev']], left_on='awayteamId', right_on='teamId', how='left')
game_data = game_data.rename(columns={'teamAbbrev': 'awayteamAbbrev'}).drop(columns=['teamId'])

print(game_data[['gameId', 'hometeamCity', 'hometeamName', 'hometeamAbbrev', 'awayteamCity', 'awayteamName', 'awayteamAbbrev']])

          gameId  hometeamCity hometeamName hometeamAbbrev  awayteamCity  \
0       22400477   Los Angeles       Lakers          MIN         Atlanta
1       22400477   Los Angeles       Lakers          MIN         Atlanta
2       22400477   Los Angeles       Lakers          MIN         Atlanta
3       22400477   Los Angeles       Lakers          MIN         Atlanta
4       22400477   Los Angeles       Lakers          LAL         Atlanta
...          ...           ...          ...            ...           ...
252301  24600063      New York       Knicks          NYK    Philadelphia
252302  24600063      New York       Knicks          NYK    Philadelphia
252303  24600052  Philadelphia     Warriors          PHI          Boston
252304  24600052  Philadelphia     Warriors          SF           Boston
252305  24600052  Philadelphia     Warriors          GSW          Boston

       awayteamName awayteamAbbrev
0             Hawks          TRI
1             Hawks          MIL
2             Hawks          STL
3             Hawks          ATL
4             Hawks          TRI
...             ...            ...
252301     Warriors          SF
252302     Warriors          GSW
252303      Celtics          BOS
252304      Celtics          BOS
252305      Celtics          BOS

[252306 rows x 7 columns]

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')

print(data.head())

     gameId             gameDate   hometeamCity hometeamName  hometeamId  \
0  22400477  2025-01-03 22:30:00    Los Angeles       Lakers  1610612747
1  22400476  2025-01-03 22:00:00     Sacramento        Kings  1610612758
2  22400474  2025-01-03 20:30:00         Dallas    Mavericks  1610612742
3  22400473  2025-01-03 20:00:00  Oklahoma City      Thunder  1610612760
4  22400471  2025-01-03 20:00:00        Houston      Rockets  1610612745

  awayteamCity awayteamName  awayteamId  homeScore  awayScore      winner  \
0      Atlanta        Hawks  1610612737        119        102  1610612747
1      Memphis    Grizzlies  1610612763        138        133  1610612758
2    Cleveland    Cavaliers  1610612739        122        134  1610612739
3     New York       Knicks  1610612752        117        107  1610612760
4       Boston      Celtics  1610612738         86        109  1610612738

   arenaId  attendance  gameType  tournamentRound
0      NaN     18997.0       NaN              NaN
1      NaN     16601.0       NaN              NaN
2      NaN     20231.0       NaN              NaN
3      NaN     18203.0       NaN              NaN
4      NaN     18055.0       NaN              NaN

In [ ]:
# Assuming game_data is already loaded

# Convert 'gameDate' column to datetime, with errors='coerce' to handle invalid date formats
game_data['gameDate'] = pd.to_datetime(game_data['gameDate'], errors='coerce')

# Drop rows with invalid 'gameDate' (NaT values)
game_data = game_data.dropna(subset=['gameDate'])

# Extract only the date (year-month-day) part
game_data['gameDate'] = game_data['gameDate'].dt.date

# Filter games from the 2000-01 season onwards (year >= 2000)
game_data_filtered = game_data[game_data['gameDate'].apply(lambda x: x.year >= 2000)]

# Check the filtered data
print(game_data_filtered[['gameId', 'gameDate', 'hometeamCity', 'hometeamName', 'awayteamCity', 'awayteamName']])

          gameId    gameDate  hometeamCity hometeamName  awayteamCity  \
0       22400477  2025-01-03   Los Angeles       Lakers       Atlanta
1       22400477  2025-01-03   Los Angeles       Lakers       Atlanta
2       22400477  2025-01-03   Los Angeles       Lakers       Atlanta
3       22400477  2025-01-03   Los Angeles       Lakers       Atlanta
4       22400477  2025-01-03   Los Angeles       Lakers       Atlanta
...          ...         ...           ...          ...           ...
104863  29900426  2000-01-04    Washington      Wizards  Golden State
104864  29900425  2000-01-04  Philadelphia        76ers     Milwaukee
104865  29900425  2000-01-04  Philadelphia        76ers     Milwaukee
104866  29900424  2000-01-04        Boston      Celtics     Cleveland
104867  29900423  2000-01-03         Miami         Heat       Orlando

       awayteamName
0             Hawks
1             Hawks
2             Hawks
3             Hawks
4             Hawks
...             ...
104863     Warriors
104864        Bucks
104865        Bucks
104866    Cavaliers
104867        Magic

[104868 rows x 6 columns]

In [ ]:
# Convert game_date to datetime and select relevant columns
data['game_date'] = pd.to_datetime(data['game_date'])
new_table = data[['team_abbreviation_home', 'game_date', 'plus_minus_home', 
                  'matchup_home', 'team_abbreviation_away', 'plus_minus_away']]

KeyError: 'game_date'

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')

print(data.head())

     gameId             gameDate   hometeamCity hometeamName  hometeamId  \
0  22400477  2025-01-03 22:30:00    Los Angeles       Lakers  1610612747
1  22400476  2025-01-03 22:00:00     Sacramento        Kings  1610612758
2  22400474  2025-01-03 20:30:00         Dallas    Mavericks  1610612742
3  22400473  2025-01-03 20:00:00  Oklahoma City      Thunder  1610612760
4  22400471  2025-01-03 20:00:00        Houston      Rockets  1610612745

  awayteamCity awayteamName  awayteamId  homeScore  awayScore      winner  \
0      Atlanta        Hawks  1610612737        119        102  1610612747
1      Memphis    Grizzlies  1610612763        138        133  1610612758
2    Cleveland    Cavaliers  1610612739        122        134  1610612739
3     New York       Knicks  1610612752        117        107  1610612760
4       Boston      Celtics  1610612738         86        109  1610612738

   arenaId  attendance  gameType  tournamentRound
0      NaN     18997.0       NaN              NaN
1      NaN     16601.0       NaN              NaN
2      NaN     20231.0       NaN              NaN
3      NaN     18203.0       NaN              NaN
4      NaN     18055.0       NaN              NaN

In [ ]:
# Convert 'gameDate' column to datetime, with errors='coerce' to handle invalid date formats
game_data['gameDate'] = pd.to_datetime(game_data['gameDate'], errors='coerce')

# Drop rows with invalid 'gameDate' (NaT values)
game_data = game_data.dropna(subset=['gameDate'])

# Extract only the date (year-month-day) part
game_data['gameDate'] = game_data['gameDate'].dt.date

# Filter games from the 2000-01 season onwards (year >= 2000)
game_data_filtered = game_data[game_data['gameDate'].apply(lambda x: x.year >= 2000)]

# Check the filtered data
print(game_data_filtered[['gameId', 'gameDate', 'hometeamCity', 'hometeamName', 'awayteamCity', 'awayteamName']])

         gameId    gameDate   hometeamCity hometeamName  awayteamCity  \
0      22400477  2025-01-03    Los Angeles       Lakers       Atlanta
1      22400476  2025-01-03     Sacramento        Kings       Memphis
2      22400474  2025-01-03         Dallas    Mavericks     Cleveland
3      22400473  2025-01-03  Oklahoma City      Thunder      New York
4      22400471  2025-01-03        Houston      Rockets        Boston
...         ...         ...            ...          ...           ...
29244  29900427  2000-01-04        Orlando        Magic       Detroit
29245  29900426  2000-01-04     Washington      Wizards  Golden State
29246  29900425  2000-01-04   Philadelphia        76ers     Milwaukee
29247  29900424  2000-01-04         Boston      Celtics     Cleveland
29248  29900423  2000-01-03          Miami         Heat       Orlando

      awayteamName
0            Hawks
1        Grizzlies
2        Cavaliers
3           Knicks
4          Celtics
...            ...
29244      Pistons
29245     Warriors
29246        Bucks
29247    Cavaliers
29248        Magic

[29249 rows x 6 columns]

In [ ]:
# Convert game_date to datetime and select relevant columns
data['game_date'] = pd.to_datetime(data['game_date'])
new_table = data[['team_abbreviation_home', 'game_date', 'plus_minus_home', 
                  'matchup_home', 'team_abbreviation_away', 'plus_minus_away']]

KeyError: 'game_date'

In [ ]:
# Merge home team abbreviations
game_data = pd.merge(game_data, team_data[['teamId', 'teamAbbrev']], left_on='hometeamId', right_on='teamId', how='left')
game_data = game_data.rename(columns={'teamAbbrev': 'hometeamAbbrev'}).drop(columns=['teamId'])

# Merge away team abbreviations
game_data = pd.merge(game_data, team_data[['teamId', 'teamAbbrev']], left_on='awayteamId', right_on='teamId', how='left')
game_data = game_data.rename(columns={'teamAbbrev': 'awayteamAbbrev'}).drop(columns=['teamId'])

print(game_data[['gameId', 'hometeamCity', 'hometeamName', 'hometeamAbbrev', 'awayteamCity', 'awayteamName', 'awayteamAbbrev']])

          gameId hometeamCity hometeamName hometeamAbbrev  awayteamCity  \
0       22400477  Los Angeles       Lakers          MIN         Atlanta
1       22400477  Los Angeles       Lakers          MIN         Atlanta
2       22400477  Los Angeles       Lakers          MIN         Atlanta
3       22400477  Los Angeles       Lakers          MIN         Atlanta
4       22400477  Los Angeles       Lakers          LAL         Atlanta
...          ...          ...          ...            ...           ...
244667  25400116  Minneapolis       Lakers          MIN    Philadelphia
244668  25400116  Minneapolis       Lakers          MIN    Philadelphia
244669  25400116  Minneapolis       Lakers          LAL    Philadelphia
244670  25400116  Minneapolis       Lakers          LAL    Philadelphia
244671  25400116  Minneapolis       Lakers          LAL    Philadelphia

       awayteamName awayteamAbbrev
0             Hawks          TRI
1             Hawks          MIL
2             Hawks          STL
3             Hawks          ATL
4             Hawks          TRI
...             ...            ...
244667     Warriors          SF
244668     Warriors          GSW
244669     Warriors          PHI
244670     Warriors          SF
244671     Warriors          GSW

[244672 rows x 7 columns]

In [ ]:
# Assuming team_data and game_data_filtered are already loaded

# Allowed team abbreviations
allowed_teams = [
    'ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL',
    'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS'
]

# Merge home team abbreviations
game_data_filtered = pd.merge(
    game_data_filtered, 
    team_data[['teamId', 'teamAbbrev']], 
    left_on='hometeamId', 
    right_on='teamId', 
    how='left'
)
game_data_filtered = game_data_filtered.rename(columns={'teamAbbrev': 'team_abbreviation_home'}).drop(columns=['teamId'])

# Merge away team abbreviations
game_data_filtered = pd.merge(
    game_data_filtered, 
    team_data[['teamId', 'teamAbbrev']], 
    left_on='awayteamId', 
    right_on='teamId', 
    how='left'
)
game_data_filtered = game_data_filtered.rename(columns={'teamAbbrev': 'team_abbreviation_away'}).drop(columns=['teamId'])

# Filter to include only rows where both home and away team abbreviations are in the allowed_teams list
game_data_filtered = game_data_filtered[
    game_data_filtered['team_abbreviation_home'].isin(allowed_teams) &
    game_data_filtered['team_abbreviation_away'].isin(allowed_teams)
]

# Check the result
print(game_data_filtered[['gameId', 'gameDate', 'hometeamCity', 'hometeamName', 'team_abbreviation_home', 
                          'awayteamCity', 'awayteamName', 'team_abbreviation_away']])

Empty DataFrame
Columns: [gameId, gameDate, hometeamCity, hometeamName, team_abbreviation_home, awayteamCity, awayteamName, team_abbreviation_away]
Index: []

In [ ]:
# Assuming team_data and game_data_filtered are already loaded

# Allowed team abbreviations
allowed_teams = [
    'ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL',
    'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS'
]

# Merge home team abbreviations
game_data_filtered = pd.merge(
    game_data_filtered, 
    team_data[['teamId', 'teamAbbrev']], 
    left_on='hometeamId', 
    right_on='teamId', 
    how='left'
)
game_data_filtered = game_data_filtered.rename(columns={'teamAbbrev': 'team_abbreviation_home'}).drop(columns=['teamId'])

# Merge away team abbreviations
game_data_filtered = pd.merge(
    game_data_filtered, 
    team_data[['teamId', 'teamAbbrev']], 
    left_on='awayteamId', 
    right_on='teamId', 
    how='left'
)
game_data_filtered = game_data_filtered.rename(columns={'teamAbbrev': 'team_abbreviation_away'}).drop(columns=['teamId'])

# Filter to include only rows where both home and away team abbreviations are in the allowed_teams list
game_data_filtered = game_data_filtered[
    game_data_filtered['team_abbreviation_home'].isin(allowed_teams) &
    game_data_filtered['team_abbreviation_away'].isin(allowed_teams)
]

# Check the result
print(game_data_filtered[['gameId', 'gameDate', 'hometeamCity', 'hometeamName', 'team_abbreviation_home', 
                          'awayteamCity', 'awayteamName', 'team_abbreviation_away']])

ValueError: cannot reindex on an axis with duplicate labels

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')

print(data.head())

     gameId             gameDate   hometeamCity hometeamName  hometeamId  \
0  22400477  2025-01-03 22:30:00    Los Angeles       Lakers  1610612747
1  22400476  2025-01-03 22:00:00     Sacramento        Kings  1610612758
2  22400474  2025-01-03 20:30:00         Dallas    Mavericks  1610612742
3  22400473  2025-01-03 20:00:00  Oklahoma City      Thunder  1610612760
4  22400471  2025-01-03 20:00:00        Houston      Rockets  1610612745

  awayteamCity awayteamName  awayteamId  homeScore  awayScore      winner  \
0      Atlanta        Hawks  1610612737        119        102  1610612747
1      Memphis    Grizzlies  1610612763        138        133  1610612758
2    Cleveland    Cavaliers  1610612739        122        134  1610612739
3     New York       Knicks  1610612752        117        107  1610612760
4       Boston      Celtics  1610612738         86        109  1610612738

   arenaId  attendance  gameType  tournamentRound
0      NaN     18997.0       NaN              NaN
1      NaN     16601.0       NaN              NaN
2      NaN     20231.0       NaN              NaN
3      NaN     18203.0       NaN              NaN
4      NaN     18055.0       NaN              NaN

In [ ]:
# Convert 'gameDate' column to datetime, with errors='coerce' to handle invalid date formats
game_data['gameDate'] = pd.to_datetime(game_data['gameDate'], errors='coerce')

# Drop rows with invalid 'gameDate' (NaT values)
game_data = game_data.dropna(subset=['gameDate'])

# Extract only the date (year-month-day) part
game_data['gameDate'] = game_data['gameDate'].dt.date

# Filter games from the 2000-01 season onwards (year >= 2000)
game_data_filtered = game_data[game_data['gameDate'].apply(lambda x: x.year >= 2000)]

# Check the filtered data
print(game_data_filtered[['gameId', 'gameDate', 'hometeamCity', 'hometeamName', 'awayteamCity', 'awayteamName']])

         gameId    gameDate   hometeamCity hometeamName  awayteamCity  \
0      22400477  2025-01-03    Los Angeles       Lakers       Atlanta
1      22400476  2025-01-03     Sacramento        Kings       Memphis
2      22400474  2025-01-03         Dallas    Mavericks     Cleveland
3      22400473  2025-01-03  Oklahoma City      Thunder      New York
4      22400471  2025-01-03        Houston      Rockets        Boston
...         ...         ...            ...          ...           ...
29244  29900427  2000-01-04        Orlando        Magic       Detroit
29245  29900426  2000-01-04     Washington      Wizards  Golden State
29246  29900425  2000-01-04   Philadelphia        76ers     Milwaukee
29247  29900424  2000-01-04         Boston      Celtics     Cleveland
29248  29900423  2000-01-03          Miami         Heat       Orlando

      awayteamName
0            Hawks
1        Grizzlies
2        Cavaliers
3           Knicks
4          Celtics
...            ...
29244      Pistons
29245     Warriors
29246        Bucks
29247    Cavaliers
29248        Magic

[29249 rows x 6 columns]

In [ ]:
# Convert game_date to datetime and select relevant columns
data['game_date'] = pd.to_datetime(data['game_date'])
new_table = data[['team_abbreviation_home', 'game_date', 'plus_minus_home', 
                  'matchup_home', 'team_abbreviation_away', 'plus_minus_away']]

KeyError: 'game_date'

In [ ]:
# Merge home team abbreviations
game_data = pd.merge(game_data, team_data[['teamId', 'teamAbbrev']], left_on='hometeamId', right_on='teamId', how='left')
game_data = game_data.rename(columns={'teamAbbrev': 'hometeamAbbrev'}).drop(columns=['teamId'])

# Merge away team abbreviations
game_data = pd.merge(game_data, team_data[['teamId', 'teamAbbrev']], left_on='awayteamId', right_on='teamId', how='left')
game_data = game_data.rename(columns={'teamAbbrev': 'awayteamAbbrev'}).drop(columns=['teamId'])

print(game_data[['gameId', 'hometeamCity', 'hometeamName', 'hometeamAbbrev', 'awayteamCity', 'awayteamName', 'awayteamAbbrev']])

:

In [ ]:
# Assuming team_data and game_data_filtered are already loaded

# Allowed team abbreviations
allowed_teams = [
    'ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL',
    'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS'
]

# Merge home team abbreviations
game_data_filtered = pd.merge(
    game_data_filtered, 
    team_data[['teamId', 'teamAbbrev']], 
    left_on='hometeamId', 
    right_on='teamId', 
    how='left'
)
game_data_filtered = game_data_filtered.rename(columns={'teamAbbrev': 'team_abbreviation_home'}).drop(columns=['teamId'])

# Merge away team abbreviations
game_data_filtered = pd.merge(
    game_data_filtered, 
    team_data[['teamId', 'teamAbbrev']], 
    left_on='awayteamId', 
    right_on='teamId', 
    how='left'
)
game_data_filtered = game_data_filtered.rename(columns={'teamAbbrev': 'team_abbreviation_away'}).drop(columns=['teamId'])

# Filter to include only rows where both home and away team abbreviations are in the allowed_teams list
game_data_filtered = game_data_filtered[
    game_data_filtered['team_abbreviation_home'].isin(allowed_teams) &
    game_data_filtered['team_abbreviation_away'].isin(allowed_teams)
]

# Check the result
print(game_data_filtered[['gameId', 'gameDate', 'hometeamCity', 'hometeamName', 'team_abbreviation_home', 
                          'awayteamCity', 'awayteamName', 'team_abbreviation_away']])

:

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')

print(data.head())

     gameId             gameDate   hometeamCity hometeamName  hometeamId  \
0  22400477  2025-01-03 22:30:00    Los Angeles       Lakers  1610612747
1  22400476  2025-01-03 22:00:00     Sacramento        Kings  1610612758
2  22400474  2025-01-03 20:30:00         Dallas    Mavericks  1610612742
3  22400473  2025-01-03 20:00:00  Oklahoma City      Thunder  1610612760
4  22400471  2025-01-03 20:00:00        Houston      Rockets  1610612745

  awayteamCity awayteamName  awayteamId  homeScore  awayScore      winner  \
0      Atlanta        Hawks  1610612737        119        102  1610612747
1      Memphis    Grizzlies  1610612763        138        133  1610612758
2    Cleveland    Cavaliers  1610612739        122        134  1610612739
3     New York       Knicks  1610612752        117        107  1610612760
4       Boston      Celtics  1610612738         86        109  1610612738

   arenaId  attendance  gameType  tournamentRound
0      NaN     18997.0       NaN              NaN
1      NaN     16601.0       NaN              NaN
2      NaN     20231.0       NaN              NaN
3      NaN     18203.0       NaN              NaN
4      NaN     18055.0       NaN              NaN

In [ ]:
# Convert 'gameDate' column to datetime, with errors='coerce' to handle invalid date formats
game_data['gameDate'] = pd.to_datetime(game_data['gameDate'], errors='coerce')

# Drop rows with invalid 'gameDate' (NaT values)
game_data = game_data.dropna(subset=['gameDate'])

# Extract only the date (year-month-day) part
game_data['gameDate'] = game_data['gameDate'].dt.date

# Filter games from the 2000-01 season onwards (year >= 2000)
game_data_filtered = game_data[game_data['gameDate'].apply(lambda x: x.year >= 2000)]

# Check the filtered data
print(game_data_filtered[['gameId', 'gameDate', 'hometeamCity', 'hometeamName', 'awayteamCity', 'awayteamName']])

         gameId    gameDate   hometeamCity hometeamName  awayteamCity  \
0      22400477  2025-01-03    Los Angeles       Lakers       Atlanta
1      22400476  2025-01-03     Sacramento        Kings       Memphis
2      22400474  2025-01-03         Dallas    Mavericks     Cleveland
3      22400473  2025-01-03  Oklahoma City      Thunder      New York
4      22400471  2025-01-03        Houston      Rockets        Boston
...         ...         ...            ...          ...           ...
29244  29900427  2000-01-04        Orlando        Magic       Detroit
29245  29900426  2000-01-04     Washington      Wizards  Golden State
29246  29900425  2000-01-04   Philadelphia        76ers     Milwaukee
29247  29900424  2000-01-04         Boston      Celtics     Cleveland
29248  29900423  2000-01-03          Miami         Heat       Orlando

      awayteamName
0            Hawks
1        Grizzlies
2        Cavaliers
3           Knicks
4          Celtics
...            ...
29244      Pistons
29245     Warriors
29246        Bucks
29247    Cavaliers
29248        Magic

[29249 rows x 6 columns]

In [ ]:
# Convert game_date to datetime and select relevant columns
data['game_date'] = pd.to_datetime(data['game_date'])
new_table = data[['team_abbreviation_home', 'game_date', 'plus_minus_home', 
                  'matchup_home', 'team_abbreviation_away', 'plus_minus_away']]

KeyError: 'game_date'

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')

print(game_data.head())

     gameId             gameDate   hometeamCity hometeamName  hometeamId  \
0  22400477  2025-01-03 22:30:00    Los Angeles       Lakers  1610612747
1  22400476  2025-01-03 22:00:00     Sacramento        Kings  1610612758
2  22400474  2025-01-03 20:30:00         Dallas    Mavericks  1610612742
3  22400473  2025-01-03 20:00:00  Oklahoma City      Thunder  1610612760
4  22400471  2025-01-03 20:00:00        Houston      Rockets  1610612745

  awayteamCity awayteamName  awayteamId  homeScore  awayScore      winner  \
0      Atlanta        Hawks  1610612737        119        102  1610612747
1      Memphis    Grizzlies  1610612763        138        133  1610612758
2    Cleveland    Cavaliers  1610612739        122        134  1610612739
3     New York       Knicks  1610612752        117        107  1610612760
4       Boston      Celtics  1610612738         86        109  1610612738

   arenaId  attendance  gameType  tournamentRound
0      NaN     18997.0       NaN              NaN
1      NaN     16601.0       NaN              NaN
2      NaN     20231.0       NaN              NaN
3      NaN     18203.0       NaN              NaN
4      NaN     18055.0       NaN              NaN

In [ ]:
# Convert 'gameDate' column to datetime, with errors='coerce' to handle invalid date formats
game_data['gameDate'] = pd.to_datetime(game_data['gameDate'], errors='coerce')

# Drop rows with invalid 'gameDate' (NaT values)
game_data = game_data.dropna(subset=['gameDate'])

# Extract only the date (year-month-day) part
game_data['gameDate'] = game_data['gameDate'].dt.date

# Filter games from the 2000-01 season onwards (year >= 2000)
game_data_filtered = game_data[game_data['gameDate'].apply(lambda x: x.year >= 2000)]

# Check the filtered data
print(game_data_filtered[['gameId', 'gameDate', 'hometeamCity', 'hometeamName', 'awayteamCity', 'awayteamName']])

         gameId    gameDate   hometeamCity hometeamName  awayteamCity  \
0      22400477  2025-01-03    Los Angeles       Lakers       Atlanta
1      22400476  2025-01-03     Sacramento        Kings       Memphis
2      22400474  2025-01-03         Dallas    Mavericks     Cleveland
3      22400473  2025-01-03  Oklahoma City      Thunder      New York
4      22400471  2025-01-03        Houston      Rockets        Boston
...         ...         ...            ...          ...           ...
29244  29900427  2000-01-04        Orlando        Magic       Detroit
29245  29900426  2000-01-04     Washington      Wizards  Golden State
29246  29900425  2000-01-04   Philadelphia        76ers     Milwaukee
29247  29900424  2000-01-04         Boston      Celtics     Cleveland
29248  29900423  2000-01-03          Miami         Heat       Orlando

      awayteamName
0            Hawks
1        Grizzlies
2        Cavaliers
3           Knicks
4          Celtics
...            ...
29244      Pistons
29245     Warriors
29246        Bucks
29247    Cavaliers
29248        Magic

[29249 rows x 6 columns]

In [ ]:
# Convert game_date to datetime and select relevant columns
data['game_date'] = pd.to_datetime(data['game_date'])
new_table = data[['team_abbreviation_home', 'game_date', 'plus_minus_home', 
                  'matchup_home', 'team_abbreviation_away', 'plus_minus_away']]

KeyError: 'game_date'

In [ ]:
# Convert game_date to datetime and select relevant columns
game_data['game_date'] = pd.to_datetime(game_data['game_date'])
new_table = game_data[['team_abbreviation_home', 'game_date', 'plus_minus_home', 
                  'matchup_home', 'team_abbreviation_away', 'plus_minus_away']]

KeyError: 'game_date'

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')

print(game_data.head())

     gameId             gameDate   hometeamCity hometeamName  hometeamId  \
0  22400477  2025-01-03 22:30:00    Los Angeles       Lakers  1610612747
1  22400476  2025-01-03 22:00:00     Sacramento        Kings  1610612758
2  22400474  2025-01-03 20:30:00         Dallas    Mavericks  1610612742
3  22400473  2025-01-03 20:00:00  Oklahoma City      Thunder  1610612760
4  22400471  2025-01-03 20:00:00        Houston      Rockets  1610612745

  awayteamCity awayteamName  awayteamId  homeScore  awayScore      winner  \
0      Atlanta        Hawks  1610612737        119        102  1610612747
1      Memphis    Grizzlies  1610612763        138        133  1610612758
2    Cleveland    Cavaliers  1610612739        122        134  1610612739
3     New York       Knicks  1610612752        117        107  1610612760
4       Boston      Celtics  1610612738         86        109  1610612738

   arenaId  attendance  gameType  tournamentRound
0      NaN     18997.0       NaN              NaN
1      NaN     16601.0       NaN              NaN
2      NaN     20231.0       NaN              NaN
3      NaN     18203.0       NaN              NaN
4      NaN     18055.0       NaN              NaN

In [ ]:
# Convert 'gameDate' column to datetime, with errors='coerce' to handle invalid date formats
game_data['gameDate'] = pd.to_datetime(game_data['gameDate'], errors='coerce')

# Drop rows with invalid 'gameDate' (NaT values)
game_data = game_data.dropna(subset=['gameDate'])

# Extract only the date (year-month-day) part
game_data['gameDate'] = game_data['gameDate'].dt.date

# Filter games from the 2000-01 season onwards (year >= 2000)
game_data_filtered = game_data[game_data['gameDate'].apply(lambda x: x.year >= 2000)]

# Check the filtered data
print(game_data_filtered[['gameId', 'gameDate', 'hometeamCity', 'hometeamName', 'awayteamCity', 'awayteamName']])

         gameId    gameDate   hometeamCity hometeamName  awayteamCity  \
0      22400477  2025-01-03    Los Angeles       Lakers       Atlanta
1      22400476  2025-01-03     Sacramento        Kings       Memphis
2      22400474  2025-01-03         Dallas    Mavericks     Cleveland
3      22400473  2025-01-03  Oklahoma City      Thunder      New York
4      22400471  2025-01-03        Houston      Rockets        Boston
...         ...         ...            ...          ...           ...
29244  29900427  2000-01-04        Orlando        Magic       Detroit
29245  29900426  2000-01-04     Washington      Wizards  Golden State
29246  29900425  2000-01-04   Philadelphia        76ers     Milwaukee
29247  29900424  2000-01-04         Boston      Celtics     Cleveland
29248  29900423  2000-01-03          Miami         Heat       Orlando

      awayteamName
0            Hawks
1        Grizzlies
2        Cavaliers
3           Knicks
4          Celtics
...            ...
29244      Pistons
29245     Warriors
29246        Bucks
29247    Cavaliers
29248        Magic

[29249 rows x 6 columns]

In [ ]:
# Convert game_date to datetime and select relevant columns
game_data['game_date'] = pd.to_datetime(game_data['gameDate'])
new_table = game_data[['team_abbreviation_home', 'game_date', 'plus_minus_home', 
                  'matchup_home', 'team_abbreviation_away', 'plus_minus_away']]

KeyError: "['team_abbreviation_home', 'plus_minus_home', 'matchup_home', 'team_abbreviation_away', 'plus_minus_away'] not in index"

In [ ]:
# Convert 'gameDate' column to datetime, with errors='coerce' to handle invalid date formats
game_data['gameDate'] = pd.to_datetime(game_data['gameDate'], errors='coerce')

# Drop rows with invalid 'gameDate' (NaT values)
game_data = game_data.dropna(subset=['gameDate'])

# Extract only the date (year-month-day) part
game_data['gameDate'] = game_data['gameDate'].dt.date

# Filter games from the 2000-01 season onwards (year >= 2000)
game_data_filtered = game_data[game_data['gameDate'].apply(lambda x: x.year >= 2000)]

# Check the filtered data
print(game_data_filtered[['gameId', 'gameDate', 'hometeamCity', 'hometeamName', 'awayteamCity', 'awayteamName']])

         gameId    gameDate   hometeamCity hometeamName  awayteamCity  \
0      22400477  2025-01-03    Los Angeles       Lakers       Atlanta
1      22400476  2025-01-03     Sacramento        Kings       Memphis
2      22400474  2025-01-03         Dallas    Mavericks     Cleveland
3      22400473  2025-01-03  Oklahoma City      Thunder      New York
4      22400471  2025-01-03        Houston      Rockets        Boston
...         ...         ...            ...          ...           ...
29244  29900427  2000-01-04        Orlando        Magic       Detroit
29245  29900426  2000-01-04     Washington      Wizards  Golden State
29246  29900425  2000-01-04   Philadelphia        76ers     Milwaukee
29247  29900424  2000-01-04         Boston      Celtics     Cleveland
29248  29900423  2000-01-03          Miami         Heat       Orlando

      awayteamName
0            Hawks
1        Grizzlies
2        Cavaliers
3           Knicks
4          Celtics
...            ...
29244      Pistons
29245     Warriors
29246        Bucks
29247    Cavaliers
29248        Magic

[29249 rows x 6 columns]

In [ ]:
# Convert game_date to datetime and select relevant columns
game_data['game_date'] = pd.to_datetime(game_data['gameDate'])
new_table = game_data[['team_abbreviation_home', 'game_date', 'plus_minus_home', 
                  'matchup_home', 'team_abbreviation_away', 'plus_minus_away']]

KeyError: "['team_abbreviation_home', 'plus_minus_home', 'matchup_home', 'team_abbreviation_away', 'plus_minus_away'] not in index"

In [ ]:
# Convert game_date to datetime and select relevant columns
game_data['game_date'] = pd.to_datetime(game_data['gameDate'])
#new_table = game_data[['team_abbreviation_home', 'game_date', 'plus_minus_home', 
                  'matchup_home', 'team_abbreviation_away', 'plus_minus_away']]

IndentationError: unexpected indent (<ipython-input-56-ee471fea4114>, line 6)

In [ ]:
# Convert game_date to datetime and select relevant columns
game_data['game_date'] = pd.to_datetime(game_data['gameDate'])
""" new_table = game_data[['team_abbreviation_home', 'game_date', 'plus_minus_home', 
                  'matchup_home', 'team_abbreviation_away', 'plus_minus_away']]
 """

" new_table = game_data[['team_abbreviation_home', 'game_date', 'plus_minus_home', \n                  'matchup_home', 'team_abbreviation_away', 'plus_minus_away']]\n "

In [ ]:
# Merge home team abbreviations
game_data = pd.merge(game_data, team_data[['teamId', 'teamAbbrev']], left_on='hometeamId', right_on='teamId', how='left')
game_data = game_data.rename(columns={'teamAbbrev': 'hometeamAbbrev'}).drop(columns=['teamId'])

# Merge away team abbreviations
game_data = pd.merge(game_data, team_data[['teamId', 'teamAbbrev']], left_on='awayteamId', right_on='teamId', how='left')
game_data = game_data.rename(columns={'teamAbbrev': 'awayteamAbbrev'}).drop(columns=['teamId'])

print(game_data[['gameId', 'hometeamCity', 'hometeamName', 'hometeamAbbrev', 'awayteamCity', 'awayteamName', 'awayteamAbbrev']])

          gameId hometeamCity hometeamName hometeamAbbrev  awayteamCity  \
0       22400477  Los Angeles       Lakers          MIN         Atlanta
1       22400477  Los Angeles       Lakers          MIN         Atlanta
2       22400477  Los Angeles       Lakers          MIN         Atlanta
3       22400477  Los Angeles       Lakers          MIN         Atlanta
4       22400477  Los Angeles       Lakers          LAL         Atlanta
...          ...          ...          ...            ...           ...
244667  25400116  Minneapolis       Lakers          MIN    Philadelphia
244668  25400116  Minneapolis       Lakers          MIN    Philadelphia
244669  25400116  Minneapolis       Lakers          LAL    Philadelphia
244670  25400116  Minneapolis       Lakers          LAL    Philadelphia
244671  25400116  Minneapolis       Lakers          LAL    Philadelphia

       awayteamName awayteamAbbrev
0             Hawks          TRI
1             Hawks          MIL
2             Hawks          STL
3             Hawks          ATL
4             Hawks          TRI
...             ...            ...
244667     Warriors          SF
244668     Warriors          GSW
244669     Warriors          PHI
244670     Warriors          SF
244671     Warriors          GSW

[244672 rows x 7 columns]

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')

print(game_data.head())

     gameId             gameDate   hometeamCity hometeamName  hometeamId  \
0  22400477  2025-01-03 22:30:00    Los Angeles       Lakers  1610612747
1  22400476  2025-01-03 22:00:00     Sacramento        Kings  1610612758
2  22400474  2025-01-03 20:30:00         Dallas    Mavericks  1610612742
3  22400473  2025-01-03 20:00:00  Oklahoma City      Thunder  1610612760
4  22400471  2025-01-03 20:00:00        Houston      Rockets  1610612745

  awayteamCity awayteamName  awayteamId  homeScore  awayScore      winner  \
0      Atlanta        Hawks  1610612737        119        102  1610612747
1      Memphis    Grizzlies  1610612763        138        133  1610612758
2    Cleveland    Cavaliers  1610612739        122        134  1610612739
3     New York       Knicks  1610612752        117        107  1610612760
4       Boston      Celtics  1610612738         86        109  1610612738

   arenaId  attendance  gameType  tournamentRound
0      NaN     18997.0       NaN              NaN
1      NaN     16601.0       NaN              NaN
2      NaN     20231.0       NaN              NaN
3      NaN     18203.0       NaN              NaN
4      NaN     18055.0       NaN              NaN

In [ ]:
# Convert 'gameDate' column to datetime, with errors='coerce' to handle invalid date formats
game_data['gameDate'] = pd.to_datetime(game_data['gameDate'], errors='coerce')

# Drop rows with invalid 'gameDate' (NaT values)
game_data = game_data.dropna(subset=['gameDate'])

# Extract only the date (year-month-day) part
game_data['gameDate'] = game_data['gameDate'].dt.date

# Filter games from the 2000-01 season onwards (year >= 2000)
game_data_filtered = game_data[game_data['gameDate'].apply(lambda x: x.year >= 2000)]

# Check the filtered data
print(game_data_filtered[['gameId', 'gameDate', 'hometeamCity', 'hometeamName', 'awayteamCity', 'awayteamName']])

         gameId    gameDate   hometeamCity hometeamName  awayteamCity  \
0      22400477  2025-01-03    Los Angeles       Lakers       Atlanta
1      22400476  2025-01-03     Sacramento        Kings       Memphis
2      22400474  2025-01-03         Dallas    Mavericks     Cleveland
3      22400473  2025-01-03  Oklahoma City      Thunder      New York
4      22400471  2025-01-03        Houston      Rockets        Boston
...         ...         ...            ...          ...           ...
29244  29900427  2000-01-04        Orlando        Magic       Detroit
29245  29900426  2000-01-04     Washington      Wizards  Golden State
29246  29900425  2000-01-04   Philadelphia        76ers     Milwaukee
29247  29900424  2000-01-04         Boston      Celtics     Cleveland
29248  29900423  2000-01-03          Miami         Heat       Orlando

      awayteamName
0            Hawks
1        Grizzlies
2        Cavaliers
3           Knicks
4          Celtics
...            ...
29244      Pistons
29245     Warriors
29246        Bucks
29247    Cavaliers
29248        Magic

[29249 rows x 6 columns]

In [ ]:
# Convert game_date to datetime and select relevant columns
game_data['game_date'] = pd.to_datetime(game_data['gameDate'])
""" new_table = game_data[['team_abbreviation_home', 'game_date', 'plus_minus_home', 
                  'matchup_home', 'team_abbreviation_away', 'plus_minus_away']]
 """

" new_table = game_data[['team_abbreviation_home', 'game_date', 'plus_minus_home', \n                  'matchup_home', 'team_abbreviation_away', 'plus_minus_away']]\n "

In [ ]:
# Merge home team abbreviations
game_data = pd.merge(game_data, team_data[['teamId', 'teamAbbrev']], left_on='hometeamId', right_on='teamId', how='left')
game_data = game_data.rename(columns={'teamAbbrev': 'hometeamAbbrev'}).drop(columns=['teamId'])

# Merge away team abbreviations
game_data = pd.merge(game_data, team_data[['teamId', 'teamAbbrev']], left_on='awayteamId', right_on='teamId', how='left')
game_data = game_data.rename(columns={'teamAbbrev': 'awayteamAbbrev'}).drop(columns=['teamId'])

print(game_data[['gameId', 'hometeamCity', 'hometeamName', 'hometeamAbbrev', 'awayteamCity', 'awayteamName', 'awayteamAbbrev']])

          gameId hometeamCity hometeamName hometeamAbbrev  awayteamCity  \
0       22400477  Los Angeles       Lakers          MIN         Atlanta
1       22400477  Los Angeles       Lakers          MIN         Atlanta
2       22400477  Los Angeles       Lakers          MIN         Atlanta
3       22400477  Los Angeles       Lakers          MIN         Atlanta
4       22400477  Los Angeles       Lakers          LAL         Atlanta
...          ...          ...          ...            ...           ...
244667  25400116  Minneapolis       Lakers          MIN    Philadelphia
244668  25400116  Minneapolis       Lakers          MIN    Philadelphia
244669  25400116  Minneapolis       Lakers          LAL    Philadelphia
244670  25400116  Minneapolis       Lakers          LAL    Philadelphia
244671  25400116  Minneapolis       Lakers          LAL    Philadelphia

       awayteamName awayteamAbbrev
0             Hawks          TRI
1             Hawks          MIL
2             Hawks          STL
3             Hawks          ATL
4             Hawks          TRI
...             ...            ...
244667     Warriors          SF
244668     Warriors          GSW
244669     Warriors          PHI
244670     Warriors          SF
244671     Warriors          GSW

[244672 rows x 7 columns]

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')

print(game_data.head())

     gameId             gameDate   hometeamCity hometeamName  hometeamId  \
0  22400477  2025-01-03 22:30:00    Los Angeles       Lakers  1610612747
1  22400476  2025-01-03 22:00:00     Sacramento        Kings  1610612758
2  22400474  2025-01-03 20:30:00         Dallas    Mavericks  1610612742
3  22400473  2025-01-03 20:00:00  Oklahoma City      Thunder  1610612760
4  22400471  2025-01-03 20:00:00        Houston      Rockets  1610612745

  awayteamCity awayteamName  awayteamId  homeScore  awayScore      winner  \
0      Atlanta        Hawks  1610612737        119        102  1610612747
1      Memphis    Grizzlies  1610612763        138        133  1610612758
2    Cleveland    Cavaliers  1610612739        122        134  1610612739
3     New York       Knicks  1610612752        117        107  1610612760
4       Boston      Celtics  1610612738         86        109  1610612738

   arenaId  attendance  gameType  tournamentRound
0      NaN     18997.0       NaN              NaN
1      NaN     16601.0       NaN              NaN
2      NaN     20231.0       NaN              NaN
3      NaN     18203.0       NaN              NaN
4      NaN     18055.0       NaN              NaN

In [ ]:
# Convert 'gameDate' column to datetime, with errors='coerce' to handle invalid date formats
game_data['gameDate'] = pd.to_datetime(game_data['gameDate'], errors='coerce')

# Drop rows with invalid 'gameDate' (NaT values)
game_data = game_data.dropna(subset=['gameDate'])

# Extract only the date (year-month-day) part
game_data['gameDate'] = game_data['gameDate'].dt.date

# Filter games from the 2000-01 season onwards (year >= 2000)
game_data_filtered = game_data[game_data['gameDate'].apply(lambda x: x.year >= 2000)]

# Check the filtered data
print(game_data_filtered[['gameId', 'gameDate', 'hometeamCity', 'hometeamName', 'awayteamCity', 'awayteamName']])

         gameId    gameDate   hometeamCity hometeamName  awayteamCity  \
0      22400477  2025-01-03    Los Angeles       Lakers       Atlanta
1      22400476  2025-01-03     Sacramento        Kings       Memphis
2      22400474  2025-01-03         Dallas    Mavericks     Cleveland
3      22400473  2025-01-03  Oklahoma City      Thunder      New York
4      22400471  2025-01-03        Houston      Rockets        Boston
...         ...         ...            ...          ...           ...
29244  29900427  2000-01-04        Orlando        Magic       Detroit
29245  29900426  2000-01-04     Washington      Wizards  Golden State
29246  29900425  2000-01-04   Philadelphia        76ers     Milwaukee
29247  29900424  2000-01-04         Boston      Celtics     Cleveland
29248  29900423  2000-01-03          Miami         Heat       Orlando

      awayteamName
0            Hawks
1        Grizzlies
2        Cavaliers
3           Knicks
4          Celtics
...            ...
29244      Pistons
29245     Warriors
29246        Bucks
29247    Cavaliers
29248        Magic

[29249 rows x 6 columns]

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')

print(game_data.head())

     gameId             gameDate   hometeamCity hometeamName  hometeamId  \
0  22400477  2025-01-03 22:30:00    Los Angeles       Lakers  1610612747
1  22400476  2025-01-03 22:00:00     Sacramento        Kings  1610612758
2  22400474  2025-01-03 20:30:00         Dallas    Mavericks  1610612742
3  22400473  2025-01-03 20:00:00  Oklahoma City      Thunder  1610612760
4  22400471  2025-01-03 20:00:00        Houston      Rockets  1610612745

  awayteamCity awayteamName  awayteamId  homeScore  awayScore      winner  \
0      Atlanta        Hawks  1610612737        119        102  1610612747
1      Memphis    Grizzlies  1610612763        138        133  1610612758
2    Cleveland    Cavaliers  1610612739        122        134  1610612739
3     New York       Knicks  1610612752        117        107  1610612760
4       Boston      Celtics  1610612738         86        109  1610612738

   arenaId  attendance  gameType  tournamentRound
0      NaN     18997.0       NaN              NaN
1      NaN     16601.0       NaN              NaN
2      NaN     20231.0       NaN              NaN
3      NaN     18203.0       NaN              NaN
4      NaN     18055.0       NaN              NaN

In [ ]:
# Convert 'gameDate' column to datetime, with errors='coerce' to handle invalid date formats
game_data['gameDate'] = pd.to_datetime(game_data['gameDate'], errors='coerce')

# Drop rows with invalid 'gameDate' (NaT values)
game_data = game_data.dropna(subset=['gameDate'])

# Extract only the date (year-month-day) part
game_data['gameDate'] = game_data['gameDate'].dt.date

# Filter games from the 2000-01 season onwards (year >= 2000)
game_data_filtered = game_data[game_data['gameDate'].apply(lambda x: x.year >= 2000)]

# Check the filtered data
print(game_data_filtered[['gameId', 'gameDate', 'hometeamCity', 'hometeamName', 'awayteamCity', 'awayteamName']])

         gameId    gameDate   hometeamCity hometeamName  awayteamCity  \
0      22400477  2025-01-03    Los Angeles       Lakers       Atlanta
1      22400476  2025-01-03     Sacramento        Kings       Memphis
2      22400474  2025-01-03         Dallas    Mavericks     Cleveland
3      22400473  2025-01-03  Oklahoma City      Thunder      New York
4      22400471  2025-01-03        Houston      Rockets        Boston
...         ...         ...            ...          ...           ...
29244  29900427  2000-01-04        Orlando        Magic       Detroit
29245  29900426  2000-01-04     Washington      Wizards  Golden State
29246  29900425  2000-01-04   Philadelphia        76ers     Milwaukee
29247  29900424  2000-01-04         Boston      Celtics     Cleveland
29248  29900423  2000-01-03          Miami         Heat       Orlando

      awayteamName
0            Hawks
1        Grizzlies
2        Cavaliers
3           Knicks
4          Celtics
...            ...
29244      Pistons
29245     Warriors
29246        Bucks
29247    Cavaliers
29248        Magic

[29249 rows x 6 columns]

In [ ]:
# Convert game_date to datetime and select relevant columns
game_data_filtered['game_date'] = pd.to_datetime(game_data_filtered['gameDate'])
""" new_table = game_data[['team_abbreviation_home', 'game_date', 'plus_minus_home', 
                  'matchup_home', 'team_abbreviation_away', 'plus_minus_away']]
 """

<ipython-input-70-3207f5d6f117>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  game_data_filtered['game_date'] = pd.to_datetime(game_data_filtered['gameDate'])

" new_table = game_data[['team_abbreviation_home', 'game_date', 'plus_minus_home', \n                  'matchup_home', 'team_abbreviation_away', 'plus_minus_away']]\n "

In [ ]:
# Merge home team abbreviations
game_data_filtered = pd.merge(game_data_filtered, team_data[['teamId', 'teamAbbrev']], left_on='hometeamId', right_on='teamId', how='left')
game_data_filtered = game_data_filtered.rename(columns={'teamAbbrev': 'hometeamAbbrev'}).drop(columns=['teamId'])

# Merge away team abbreviations
game_data_filtered = pd.merge(game_data_filtered, team_data[['teamId', 'teamAbbrev']], left_on='awayteamId', right_on='teamId', how='left')
game_data_filtered = game_data_filtered.rename(columns={'teamAbbrev': 'awayteamAbbrev'}).drop(columns=['teamId'])

print(game_data_filtered[['gameId', 'hometeamCity', 'hometeamName', 'hometeamAbbrev', 'awayteamCity', 'awayteamName', 'awayteamAbbrev']])

          gameId  hometeamCity hometeamName hometeamAbbrev  awayteamCity  \
0       22400477   Los Angeles       Lakers          MIN         Atlanta
1       22400477   Los Angeles       Lakers          MIN         Atlanta
2       22400477   Los Angeles       Lakers          MIN         Atlanta
3       22400477   Los Angeles       Lakers          MIN         Atlanta
4       22400477   Los Angeles       Lakers          LAL         Atlanta
...          ...           ...          ...            ...           ...
104863  29900426    Washington      Wizards          WAS    Golden State
104864  29900425  Philadelphia        76ers          SYR       Milwaukee
104865  29900425  Philadelphia        76ers          PHI       Milwaukee
104866  29900424        Boston      Celtics          BOS       Cleveland
104867  29900423         Miami         Heat          MIA         Orlando

       awayteamName awayteamAbbrev
0             Hawks          TRI
1             Hawks          MIL
2             Hawks          STL
3             Hawks          ATL
4             Hawks          TRI
...             ...            ...
104863     Warriors          GSW
104864        Bucks          MIL
104865        Bucks          MIL
104866    Cavaliers          CLE
104867        Magic          ORL

[104868 rows x 7 columns]

In [ ]:
# Assuming team_data and game_data_filtered are already loaded

# Allowed team abbreviations
allowed_teams = [
    'ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL',
    'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS'
]

# Merge home team abbreviations
game_data_filtered = pd.merge(
    game_data_filtered, 
    team_data[['teamId', 'teamAbbrev']], 
    left_on='hometeamId', 
    right_on='teamId', 
    how='left'
)
game_data_filtered = game_data_filtered.rename(columns={'teamAbbrev': 'team_abbreviation_home'}).drop(columns=['teamId'])

# Merge away team abbreviations
game_data_filtered = pd.merge(
    game_data_filtered, 
    team_data[['teamId', 'teamAbbrev']], 
    left_on='awayteamId', 
    right_on='teamId', 
    how='left'
)
game_data_filtered = game_data_filtered.rename(columns={'teamAbbrev': 'team_abbreviation_away'}).drop(columns=['teamId'])

# Filter to include only rows where both home and away team abbreviations are in the allowed_teams list
game_data_filtered = game_data_filtered[
    game_data_filtered['team_abbreviation_home'].isin(allowed_teams) &
    game_data_filtered['team_abbreviation_away'].isin(allowed_teams)
]

# Check the result
print(game_data_filtered[['gameId', 'gameDate', 'hometeamCity', 'hometeamName', 'team_abbreviation_home', 
                          'awayteamCity', 'awayteamName', 'team_abbreviation_away']])

Empty DataFrame
Columns: [gameId, gameDate, hometeamCity, hometeamName, team_abbreviation_home, awayteamCity, awayteamName, team_abbreviation_away]
Index: []

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')

print(game_data.head())

     gameId             gameDate   hometeamCity hometeamName  hometeamId  \
0  22400477  2025-01-03 22:30:00    Los Angeles       Lakers  1610612747
1  22400476  2025-01-03 22:00:00     Sacramento        Kings  1610612758
2  22400474  2025-01-03 20:30:00         Dallas    Mavericks  1610612742
3  22400473  2025-01-03 20:00:00  Oklahoma City      Thunder  1610612760
4  22400471  2025-01-03 20:00:00        Houston      Rockets  1610612745

  awayteamCity awayteamName  awayteamId  homeScore  awayScore      winner  \
0      Atlanta        Hawks  1610612737        119        102  1610612747
1      Memphis    Grizzlies  1610612763        138        133  1610612758
2    Cleveland    Cavaliers  1610612739        122        134  1610612739
3     New York       Knicks  1610612752        117        107  1610612760
4       Boston      Celtics  1610612738         86        109  1610612738

   arenaId  attendance  gameType  tournamentRound
0      NaN     18997.0       NaN              NaN
1      NaN     16601.0       NaN              NaN
2      NaN     20231.0       NaN              NaN
3      NaN     18203.0       NaN              NaN
4      NaN     18055.0       NaN              NaN

In [ ]:
# Convert 'gameDate' column to datetime, with errors='coerce' to handle invalid date formats
game_data['gameDate'] = pd.to_datetime(game_data['gameDate'], errors='coerce')

# Drop rows with invalid 'gameDate' (NaT values)
game_data = game_data.dropna(subset=['gameDate'])

# Extract only the date (year-month-day) part
game_data['gameDate'] = game_data['gameDate'].dt.date

# Filter games from the 2000-01 season onwards (year >= 2000)
game_data_filtered = game_data[game_data['gameDate'].apply(lambda x: x.year >= 2000)]

# Check the filtered data
print(game_data_filtered[['gameId', 'gameDate', 'hometeamCity', 'hometeamName', 'awayteamCity', 'awayteamName']])

         gameId    gameDate   hometeamCity hometeamName  awayteamCity  \
0      22400477  2025-01-03    Los Angeles       Lakers       Atlanta
1      22400476  2025-01-03     Sacramento        Kings       Memphis
2      22400474  2025-01-03         Dallas    Mavericks     Cleveland
3      22400473  2025-01-03  Oklahoma City      Thunder      New York
4      22400471  2025-01-03        Houston      Rockets        Boston
...         ...         ...            ...          ...           ...
29244  29900427  2000-01-04        Orlando        Magic       Detroit
29245  29900426  2000-01-04     Washington      Wizards  Golden State
29246  29900425  2000-01-04   Philadelphia        76ers     Milwaukee
29247  29900424  2000-01-04         Boston      Celtics     Cleveland
29248  29900423  2000-01-03          Miami         Heat       Orlando

      awayteamName
0            Hawks
1        Grizzlies
2        Cavaliers
3           Knicks
4          Celtics
...            ...
29244      Pistons
29245     Warriors
29246        Bucks
29247    Cavaliers
29248        Magic

[29249 rows x 6 columns]

In [ ]:
# Convert game_date to datetime and select relevant columns
game_data_filtered['game_date'] = pd.to_datetime(game_data_filtered['gameDate'])
""" new_table = game_data[['team_abbreviation_home', 'game_date', 'plus_minus_home', 
                  'matchup_home', 'team_abbreviation_away', 'plus_minus_away']]
 """

<ipython-input-76-3207f5d6f117>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  game_data_filtered['game_date'] = pd.to_datetime(game_data_filtered['gameDate'])

" new_table = game_data[['team_abbreviation_home', 'game_date', 'plus_minus_home', \n                  'matchup_home', 'team_abbreviation_away', 'plus_minus_away']]\n "

In [ ]:
# Merge home team abbreviations
game_data_filtered = pd.merge(game_data_filtered, team_data[['teamId', 'teamAbbrev']], left_on='hometeamId', right_on='teamId', how='left')
game_data_filtered = game_data_filtered.rename(columns={'teamAbbrev': 'hometeamAbbrev'}).drop(columns=['teamId'])

# Merge away team abbreviations
game_data_filtered = pd.merge(game_data_filtered, team_data[['teamId', 'teamAbbrev']], left_on='awayteamId', right_on='teamId', how='left')
game_data_filtered = game_data_filtered.rename(columns={'teamAbbrev': 'awayteamAbbrev'}).drop(columns=['teamId'])

print(game_data_filtered[['gameId', 'hometeamCity', 'hometeamName', 'hometeamAbbrev', 'awayteamCity', 'awayteamName', 'awayteamAbbrev']])

          gameId  hometeamCity hometeamName hometeamAbbrev  awayteamCity  \
0       22400477   Los Angeles       Lakers          MIN         Atlanta
1       22400477   Los Angeles       Lakers          MIN         Atlanta
2       22400477   Los Angeles       Lakers          MIN         Atlanta
3       22400477   Los Angeles       Lakers          MIN         Atlanta
4       22400477   Los Angeles       Lakers          LAL         Atlanta
...          ...           ...          ...            ...           ...
104863  29900426    Washington      Wizards          WAS    Golden State
104864  29900425  Philadelphia        76ers          SYR       Milwaukee
104865  29900425  Philadelphia        76ers          PHI       Milwaukee
104866  29900424        Boston      Celtics          BOS       Cleveland
104867  29900423         Miami         Heat          MIA         Orlando

       awayteamName awayteamAbbrev
0             Hawks          TRI
1             Hawks          MIL
2             Hawks          STL
3             Hawks          ATL
4             Hawks          TRI
...             ...            ...
104863     Warriors          GSW
104864        Bucks          MIL
104865        Bucks          MIL
104866    Cavaliers          CLE
104867        Magic          ORL

[104868 rows x 7 columns]

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')

print(game_data.head())

     gameId             gameDate   hometeamCity hometeamName  hometeamId  \
0  22400477  2025-01-03 22:30:00    Los Angeles       Lakers  1610612747
1  22400476  2025-01-03 22:00:00     Sacramento        Kings  1610612758
2  22400474  2025-01-03 20:30:00         Dallas    Mavericks  1610612742
3  22400473  2025-01-03 20:00:00  Oklahoma City      Thunder  1610612760
4  22400471  2025-01-03 20:00:00        Houston      Rockets  1610612745

  awayteamCity awayteamName  awayteamId  homeScore  awayScore      winner  \
0      Atlanta        Hawks  1610612737        119        102  1610612747
1      Memphis    Grizzlies  1610612763        138        133  1610612758
2    Cleveland    Cavaliers  1610612739        122        134  1610612739
3     New York       Knicks  1610612752        117        107  1610612760
4       Boston      Celtics  1610612738         86        109  1610612738

   arenaId  attendance  gameType  tournamentRound
0      NaN     18997.0       NaN              NaN
1      NaN     16601.0       NaN              NaN
2      NaN     20231.0       NaN              NaN
3      NaN     18203.0       NaN              NaN
4      NaN     18055.0       NaN              NaN

In [ ]:
# Convert 'gameDate' column to datetime, with errors='coerce' to handle invalid date formats
game_data['gameDate'] = pd.to_datetime(game_data['gameDate'], errors='coerce')

# Drop rows with invalid 'gameDate' (NaT values)
game_data = game_data.dropna(subset=['gameDate'])

# Extract only the date (year-month-day) part
game_data['gameDate'] = game_data['gameDate'].dt.date

# Filter games from the 2000-01 season onwards (year >= 2000)
game_data_filtered = game_data[game_data['gameDate'].apply(lambda x: x.year >= 2000)]

# Check the filtered data
print(game_data_filtered[['gameId', 'gameDate', 'hometeamCity', 'hometeamName', 'awayteamCity', 'awayteamName']])

         gameId    gameDate   hometeamCity hometeamName  awayteamCity  \
0      22400477  2025-01-03    Los Angeles       Lakers       Atlanta
1      22400476  2025-01-03     Sacramento        Kings       Memphis
2      22400474  2025-01-03         Dallas    Mavericks     Cleveland
3      22400473  2025-01-03  Oklahoma City      Thunder      New York
4      22400471  2025-01-03        Houston      Rockets        Boston
...         ...         ...            ...          ...           ...
29244  29900427  2000-01-04        Orlando        Magic       Detroit
29245  29900426  2000-01-04     Washington      Wizards  Golden State
29246  29900425  2000-01-04   Philadelphia        76ers     Milwaukee
29247  29900424  2000-01-04         Boston      Celtics     Cleveland
29248  29900423  2000-01-03          Miami         Heat       Orlando

      awayteamName
0            Hawks
1        Grizzlies
2        Cavaliers
3           Knicks
4          Celtics
...            ...
29244      Pistons
29245     Warriors
29246        Bucks
29247    Cavaliers
29248        Magic

[29249 rows x 6 columns]

In [ ]:
# Convert game_date to datetime and select relevant columns
game_data_filtered['game_date'] = pd.to_datetime(game_data_filtered['gameDate'])
""" new_table = game_data[['team_abbreviation_home', 'game_date', 'plus_minus_home', 
                  'matchup_home', 'team_abbreviation_away', 'plus_minus_away']]
 """

<ipython-input-81-3207f5d6f117>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  game_data_filtered['game_date'] = pd.to_datetime(game_data_filtered['gameDate'])

" new_table = game_data[['team_abbreviation_home', 'game_date', 'plus_minus_home', \n                  'matchup_home', 'team_abbreviation_away', 'plus_minus_away']]\n "

In [ ]:
# Merge home team abbreviations
game_data_filtered = pd.merge(game_data_filtered, team_data[['teamId', 'teamAbbrev']], left_on='hometeamId', right_on='teamId', how='left')
game_data_filtered = game_data_filtered.rename(columns={'teamAbbrev': 'hometeamAbbrev'}).drop(columns=['teamId'])

# Merge away team abbreviations
game_data_filtered = pd.merge(game_data_filtered, team_data[['teamId', 'teamAbbrev']], left_on='awayteamId', right_on='teamId', how='left')
game_data_filtered = game_data_filtered.rename(columns={'teamAbbrev': 'awayteamAbbrev'}).drop(columns=['teamId'])

print(game_data_filtered[['gameId', 'hometeamCity', 'hometeamName', 'hometeamAbbrev', 'awayteamCity', 'awayteamName', 'awayteamAbbrev']])

          gameId  hometeamCity hometeamName hometeamAbbrev  awayteamCity  \
0       22400477   Los Angeles       Lakers          MIN         Atlanta
1       22400477   Los Angeles       Lakers          MIN         Atlanta
2       22400477   Los Angeles       Lakers          MIN         Atlanta
3       22400477   Los Angeles       Lakers          MIN         Atlanta
4       22400477   Los Angeles       Lakers          LAL         Atlanta
...          ...           ...          ...            ...           ...
104863  29900426    Washington      Wizards          WAS    Golden State
104864  29900425  Philadelphia        76ers          SYR       Milwaukee
104865  29900425  Philadelphia        76ers          PHI       Milwaukee
104866  29900424        Boston      Celtics          BOS       Cleveland
104867  29900423         Miami         Heat          MIA         Orlando

       awayteamName awayteamAbbrev
0             Hawks          TRI
1             Hawks          MIL
2             Hawks          STL
3             Hawks          ATL
4             Hawks          TRI
...             ...            ...
104863     Warriors          GSW
104864        Bucks          MIL
104865        Bucks          MIL
104866    Cavaliers          CLE
104867        Magic          ORL

[104868 rows x 7 columns]

In [ ]:
# Assuming team_data and game_data_filtered are already loaded

# Allowed team abbreviations
allowed_teams = [
    'ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL',
    'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS'
]

# Step 1: Filter team_data to only include teams in allowed_teams
team_data_filtered = team_data[team_data['teamAbbrev'].isin(allowed_teams)]

# Step 2: Merge home team abbreviations with filtered team data
game_data_filtered = pd.merge(
    game_data_filtered, 
    team_data_filtered[['teamId', 'teamAbbrev']], 
    left_on='hometeamId', 
    right_on='teamId', 
    how='left'
)
game_data_filtered = game_data_filtered.rename(columns={'teamAbbrev': 'team_abbreviation_home'}).drop(columns=['teamId'])

# Step 3: Merge away team abbreviations with filtered team data
game_data_filtered = pd.merge(
    game_data_filtered, 
    team_data_filtered[['teamId', 'teamAbbrev']], 
    left_on='awayteamId', 
    right_on='teamId', 
    how='left'
)
game_data_filtered = game_data_filtered.rename(columns={'teamAbbrev': 'team_abbreviation_away'}).drop(columns=['teamId'])

# Check the result
print(game_data_filtered[['gameId', 'gameDate', 'hometeamCity', 'hometeamName', 'team_abbreviation_home', 
                          'awayteamCity', 'awayteamName', 'team_abbreviation_away']])

          gameId    gameDate  hometeamCity hometeamName  \
0       22400477  2025-01-03   Los Angeles       Lakers
1       22400477  2025-01-03   Los Angeles       Lakers
2       22400477  2025-01-03   Los Angeles       Lakers
3       22400477  2025-01-03   Los Angeles       Lakers
4       22400477  2025-01-03   Los Angeles       Lakers
...          ...         ...           ...          ...
104863  29900426  2000-01-04    Washington      Wizards
104864  29900425  2000-01-04  Philadelphia        76ers
104865  29900425  2000-01-04  Philadelphia        76ers
104866  29900424  2000-01-04        Boston      Celtics
104867  29900423  2000-01-03         Miami         Heat

       team_abbreviation_home  awayteamCity awayteamName  \
0                         NaN       Atlanta        Hawks
1                         NaN       Atlanta        Hawks
2                         NaN       Atlanta        Hawks
3                         NaN       Atlanta        Hawks
4                         NaN       Atlanta        Hawks
...                       ...           ...          ...
104863                    NaN  Golden State     Warriors
104864                    NaN     Milwaukee        Bucks
104865                    NaN     Milwaukee        Bucks
104866                    NaN     Cleveland    Cavaliers
104867                    NaN       Orlando        Magic

       team_abbreviation_away
0                         NaN
1                         NaN
2                         NaN
3                         NaN
4                         NaN
...                       ...
104863                    NaN
104864                    NaN
104865                    NaN
104866                    NaN
104867                    NaN

[104868 rows x 8 columns]

In [ ]:
print(team_data.head())

       teamId    teamCity    teamName teamAbbrev  yearFounded  yearActiveTill
0  1610612737  Tri-Cities  Blackhawks      TRI           1949            1950
1  1610612737   Milwaukee       Hawks      MIL           1951            1954
2  1610612737   St. Louis       Hawks      STL           1955            1967
3  1610612737     Atlanta       Hawks      ATL           1968            2100
4  1610612738      Boston     Celtics      BOS           1946            2100

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')

print(team_data.head())

       teamId    teamCity    teamName teamAbbrev  yearFounded  yearActiveTill
0  1610612737  Tri-Cities  Blackhawks      TRI           1949            1950
1  1610612737   Milwaukee       Hawks      MIL           1951            1954
2  1610612737   St. Louis       Hawks      STL           1955            1967
3  1610612737     Atlanta       Hawks      ATL           1968            2100
4  1610612738      Boston     Celtics      BOS           1946            2100

In [ ]:
team_data['teamAbbrev'] = team_data['teamAbbrev'].replace({'SEA': 'OKC', 'NOH': 'NOP', 'NJN': 'BKN', 'NOK': 'NOP', 'GS': 'GSW'})
print(team_data.head())

# Allowed team abbreviations
allowed_teams = [
    'ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL',
    'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS'
]

# Step 1: Filter team_data to only include teams in allowed_teams
team_data_filtered = team_data[team_data['teamAbbrev'].isin(allowed_teams)]

       teamId    teamCity    teamName teamAbbrev  yearFounded  yearActiveTill
0  1610612737  Tri-Cities  Blackhawks      TRI           1949            1950
1  1610612737   Milwaukee       Hawks      MIL           1951            1954
2  1610612737   St. Louis       Hawks      STL           1955            1967
3  1610612737     Atlanta       Hawks      ATL           1968            2100
4  1610612738      Boston     Celtics      BOS           1946            2100

In [ ]:
team_data['teamAbbrev'] = team_data['teamAbbrev'].replace({'SEA': 'OKC', 'NOH': 'NOP', 'NJN': 'BKN', 'NOK': 'NOP', 'GS': 'GSW'})
print(team_data.head())

# Allowed team abbreviations
allowed_teams = [
    'ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL',
    'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS'
]

# Step 1: Filter team_data to only include teams in allowed_teams
team_data_filtered = team_data[team_data['teamAbbrev'].isin(allowed_teams)]
print(team_data.head())

       teamId    teamCity    teamName teamAbbrev  yearFounded  yearActiveTill
0  1610612737  Tri-Cities  Blackhawks      TRI           1949            1950
1  1610612737   Milwaukee       Hawks      MIL           1951            1954
2  1610612737   St. Louis       Hawks      STL           1955            1967
3  1610612737     Atlanta       Hawks      ATL           1968            2100
4  1610612738      Boston     Celtics      BOS           1946            2100
       teamId    teamCity    teamName teamAbbrev  yearFounded  yearActiveTill
0  1610612737  Tri-Cities  Blackhawks      TRI           1949            1950
1  1610612737   Milwaukee       Hawks      MIL           1951            1954
2  1610612737   St. Louis       Hawks      STL           1955            1967
3  1610612737     Atlanta       Hawks      ATL           1968            2100
4  1610612738      Boston     Celtics      BOS           1946            2100

In [ ]:
team_data['teamAbbrev'] = team_data['teamAbbrev'].replace({'SEA': 'OKC', 'NOH': 'NOP', 'NJN': 'BKN', 'NOK': 'NOP', 'GS': 'GSW'})
print(team_data.head())

# Allowed team abbreviations
allowed_teams = [
    'ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL',
    'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS'
]

# Step 1: Filter team_data to only include teams in allowed_teams
team_data_filtered = team_data[team_data['teamAbbrev'].isin(allowed_teams)]
print(team_data_filtered.head())

       teamId    teamCity    teamName teamAbbrev  yearFounded  yearActiveTill
0  1610612737  Tri-Cities  Blackhawks      TRI           1949            1950
1  1610612737   Milwaukee       Hawks      MIL           1951            1954
2  1610612737   St. Louis       Hawks      STL           1955            1967
3  1610612737     Atlanta       Hawks      ATL           1968            2100
4  1610612738      Boston     Celtics      BOS           1946            2100
Empty DataFrame
Columns: [teamId, teamCity, teamName, teamAbbrev, yearFounded, yearActiveTill]
Index: []

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')

In [ ]:
team_data['teamAbbrev'] = team_data['teamAbbrev'].replace({'SEA': 'OKC', 'NOH': 'NOP', 'NJN': 'BKN', 'NOK': 'NOP', 'GS': 'GSW'})
print(team_data.head())

# Allowed team abbreviations
allowed_teams = [
    'ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL',
    'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS'
]

# Step 1: Filter team_data to only include teams in allowed_teams
team_data_filtered = team_data[team_data['teamAbbrev'].isin(allowed_teams)]
print(team_data_filtered.head())

       teamId    teamCity    teamName teamAbbrev  yearFounded  yearActiveTill
0  1610612737  Tri-Cities  Blackhawks      TRI           1949            1950
1  1610612737   Milwaukee       Hawks      MIL           1951            1954
2  1610612737   St. Louis       Hawks      STL           1955            1967
3  1610612737     Atlanta       Hawks      ATL           1968            2100
4  1610612738      Boston     Celtics      BOS           1946            2100
Empty DataFrame
Columns: [teamId, teamCity, teamName, teamAbbrev, yearFounded, yearActiveTill]
Index: []

In [ ]:
# Clean and standardize teamAbbrev
team_data['teamAbbrev'] = team_data['teamAbbrev'].str.strip().str.upper()

# Replace abbreviations
team_data['teamAbbrev'] = team_data['teamAbbrev'].replace({'SEA': 'OKC', 'NOH': 'NOP', 'NJN': 'BKN', 'NOK': 'NOP', 'GS': 'GSW'})

# Print the first few rows to check if replacements worked
print(team_data.head())

# Allowed team abbreviations
allowed_teams = [
    'ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL',
    'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS'
]

# Step 1: Filter team_data to only include teams in allowed_teams
team_data_filtered = team_data[team_data['teamAbbrev'].isin(allowed_teams)]

# Print the filtered data
print(team_data_filtered.head())

       teamId    teamCity    teamName teamAbbrev  yearFounded  yearActiveTill
0  1610612737  Tri-Cities  Blackhawks        TRI         1949            1950
1  1610612737   Milwaukee       Hawks        MIL         1951            1954
2  1610612737   St. Louis       Hawks        STL         1955            1967
3  1610612737     Atlanta       Hawks        ATL         1968            2100
4  1610612738      Boston     Celtics        BOS         1946            2100
       teamId     teamCity   teamName teamAbbrev  yearFounded  yearActiveTill
1  1610612737    Milwaukee      Hawks        MIL         1951            1954
3  1610612737      Atlanta      Hawks        ATL         1968            2100
4  1610612738       Boston    Celtics        BOS         1946            2100
5  1610612739    Cleveland  Cavaliers        CLE         1970            2100
6  1610612740  New Orleans    Hornets        NOP         2002            2012

In [ ]:
# Clean and standardize teamAbbrev
team_data['teamAbbrev'] = team_data['teamAbbrev'].str.strip().str.upper()

# Replace abbreviations
team_data['teamAbbrev'] = team_data['teamAbbrev'].replace({'SEA': 'OKC', 'NOH': 'NOP', 'NJN': 'BKN', 'NOK': 'NOP', 'GS': 'GSW'})

# Print the first few rows to check if replacements worked
print(team_data.head())

# Allowed team abbreviations
allowed_teams = [
    'ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL',
    'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS'
]

# Step 1: Filter team_data to only include teams in allowed_teams
team_data_filtered = team_data[team_data['teamAbbrev'].isin(allowed_teams)]

# Print the filtered data
print(team_data_filtered))

SyntaxError: unmatched ')' (<ipython-input-95-a9ea6b99b14f>, line 21)

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')

In [ ]:
# Clean and standardize teamAbbrev
team_data['teamAbbrev'] = team_data['teamAbbrev'].str.strip().str.upper()

# Replace abbreviations
team_data['teamAbbrev'] = team_data['teamAbbrev'].replace({'SEA': 'OKC', 'NOH': 'NOP', 'NJN': 'BKN', 'NOK': 'NOP', 'GS': 'GSW'})

# Print the first few rows to check if replacements worked
print(team_data.head())

# Allowed team abbreviations
allowed_teams = [
    'ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL',
    'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS'
]

# Step 1: Filter team_data to only include teams in allowed_teams
team_data_filtered = team_data[team_data['teamAbbrev'].isin(allowed_teams)]

# Print the filtered data
print(team_data_filtered)

       teamId    teamCity    teamName teamAbbrev  yearFounded  yearActiveTill
0  1610612737  Tri-Cities  Blackhawks        TRI         1949            1950
1  1610612737   Milwaukee       Hawks        MIL         1951            1954
2  1610612737   St. Louis       Hawks        STL         1955            1967
3  1610612737     Atlanta       Hawks        ATL         1968            2100
4  1610612738      Boston     Celtics        BOS         1946            2100
        teamId       teamCity       teamName teamAbbrev  yearFounded  \
1   1610612737      Milwaukee          Hawks        MIL         1951
3   1610612737        Atlanta          Hawks        ATL         1968
4   1610612738         Boston        Celtics        BOS         1946
5   1610612739      Cleveland      Cavaliers        CLE         1970
6   1610612740    New Orleans        Hornets        NOP         2002
7   1610612741        Chicago          Bulls        CHI         1966
8   1610612742         Dallas      Mavericks        DAL         1980
9   1610612743         Denver        Nuggets        DEN         1976
10  1610612744   Philadelphia       Warriors        PHI         1946
12  1610612744   Golden State       Warriors        GSW         1971
14  1610612745        Houston        Rockets        HOU         1971
17  1610612746    Los Angeles       Clippers        LAC         1984
18  1610612747    Minneapolis         Lakers        MIN         1948
19  1610612747    Los Angeles         Lakers        LAL         1960
20  1610612748          Miami           Heat        MIA         1988
21  1610612749      Milwaukee          Bucks        MIL         1968
22  1610612750      Minnesota   Timberwolves        MIN         1989
23  1610612751       New York           Nets        NYK         1976
25  1610612751       Brooklyn           Nets        BKN         2012
26  1610612752       New York         Knicks        NYK         1946
27  1610612753        Orlando          Magic        ORL         1989
28  1610612754        Indiana         Pacers        IND         1976
30  1610612755   Philadelphia          76ers        PHI         1963
31  1610612756        Phoenix           Suns        PHX         1968
32  1610612757       Portland  Trail Blazers        POR         1970
37  1610612758     Sacramento          Kings        SAC         1985
39  1610612760        Seattle    SuperSonics        OKC         1967
40  1610612760  Oklahoma City        Thunder        OKC         2008
41  1610612761        Toronto        Raptors        TOR         1995
43  1610612762           Utah           Jazz        UTA         1979
45  1610612763        Memphis      Grizzlies        MEM         2001
46  1610612764        Chicago        Packers        CHI         1961
47  1610612764        Chicago        Zephyrs        CHI         1962
50  1610612764     Washington        Bullets        WAS         1974
51  1610612764     Washington        Wizards        WAS         1997
53  1610612765        Detroit        Pistons        DET         1957
54  1610612766      Charlotte        Hornets        CHA         1988
55  1610612766      Charlotte        Bobcats        CHA         2004
56  1610612766      Charlotte        Hornets        CHA         2014

    yearActiveTill
1             1954
3             2100
4             2100
5             2100
6             2012
7             2100
8             2100
9             2019
10            1961
12            2100
14            2100
17            2100
18            1959
19            2100
20            2100
21            2100
22            2019
23            1976
25            2100
26            2100
27            2199
28            2100
30            2100
31            2100
32            2100
37            2100
39            2007
40            2100
41            2100
43            2100
45            2100
46            1961
47            1962
50            1996
51            2100
53            2100
54            2001
55            2013
56            2100

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')
team_data = team_data.sort(reverse=True)

AttributeError: 'DataFrame' object has no attribute 'sort'

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')
# Reverse the rows of the DataFrame
team_data_reversed = team_data.iloc[::-1].reset_index(drop=True)

# Check the result
print(team_data_reversed.head())

       teamId           teamCity teamName teamAbbrev  yearFounded  \
0  1610612766          Charlotte  Hornets      CHA           2014
1  1610612766          Charlotte  Bobcats      CHA           2004
2  1610612766          Charlotte  Hornets      CHA           1988
3  1610612765            Detroit  Pistons      DET           1957
4  1610612765  Ft. Wayne Zollner  Pistons      FWZ           1948

   yearActiveTill
0            2100
1            2013
2            2001
3            2100
4            1956

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')
# Reverse the rows of the DataFrame (to get most recent team names)
team_data_reversed = team_data.iloc[::-1].reset_index(drop=True)

team_data = team_data_reversed

In [ ]:
# Clean and standardize teamAbbrev
team_data['teamAbbrev'] = team_data['teamAbbrev'].str.strip().str.upper()

# Replace abbreviations
team_data['teamAbbrev'] = team_data['teamAbbrev'].replace({'SEA': 'OKC', 'NOH': 'NOP', 'NJN': 'BKN', 'NOK': 'NOP', 'GS': 'GSW'})

# Print the first few rows to check if replacements worked
print(team_data.head())

# Allowed team abbreviations
allowed_teams = [
    'ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL',
    'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS'
]

# Step 1: Filter team_data to only include teams in allowed_teams
team_data_filtered = team_data[team_data['teamAbbrev'].isin(allowed_teams)]

# Print the filtered data
print(team_data_filtered)

       teamId           teamCity teamName teamAbbrev  yearFounded  \
0  1610612766          Charlotte  Hornets        CHA         2014
1  1610612766          Charlotte  Bobcats        CHA         2004
2  1610612766          Charlotte  Hornets        CHA         1988
3  1610612765            Detroit  Pistons        DET         1957
4  1610612765  Ft. Wayne Zollner  Pistons        FWZ         1948

   yearActiveTill
0            2100
1            2013
2            2001
3            2100
4            1956
        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
1   1610612766      Charlotte        Bobcats        CHA         2004
2   1610612766      Charlotte        Hornets        CHA         1988
3   1610612765        Detroit        Pistons        DET         1957
5   1610612764     Washington        Wizards        WAS         1997
6   1610612764     Washington        Bullets        WAS         1974
9   1610612764        Chicago        Zephyrs        CHI         1962
10  1610612764        Chicago        Packers        CHI         1961
11  1610612763        Memphis      Grizzlies        MEM         2001
13  1610612762           Utah           Jazz        UTA         1979
15  1610612761        Toronto        Raptors        TOR         1995
16  1610612760  Oklahoma City        Thunder        OKC         2008
17  1610612760        Seattle    SuperSonics        OKC         1967
19  1610612758     Sacramento          Kings        SAC         1985
24  1610612757       Portland  Trail Blazers        POR         1970
25  1610612756        Phoenix           Suns        PHX         1968
26  1610612755   Philadelphia          76ers        PHI         1963
28  1610612754        Indiana         Pacers        IND         1976
29  1610612753        Orlando          Magic        ORL         1989
30  1610612752       New York         Knicks        NYK         1946
31  1610612751       Brooklyn           Nets        BKN         2012
33  1610612751       New York           Nets        NYK         1976
34  1610612750      Minnesota   Timberwolves        MIN         1989
35  1610612749      Milwaukee          Bucks        MIL         1968
36  1610612748          Miami           Heat        MIA         1988
37  1610612747    Los Angeles         Lakers        LAL         1960
38  1610612747    Minneapolis         Lakers        MIN         1948
39  1610612746    Los Angeles       Clippers        LAC         1984
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
46  1610612744   Philadelphia       Warriors        PHI         1946
47  1610612743         Denver        Nuggets        DEN         1976
48  1610612742         Dallas      Mavericks        DAL         1980
49  1610612741        Chicago          Bulls        CHI         1966
50  1610612740    New Orleans        Hornets        NOP         2002
51  1610612739      Cleveland      Cavaliers        CLE         1970
52  1610612738         Boston        Celtics        BOS         1946
53  1610612737        Atlanta          Hawks        ATL         1968
55  1610612737      Milwaukee          Hawks        MIL         1951

    yearActiveTill
0             2100
1             2013
2             2001
3             2100
5             2100
6             1996
9             1962
10            1961
11            2100
13            2100
15            2100
16            2100
17            2007
19            2100
24            2100
25            2100
26            2100
28            2100
29            2199
30            2100
31            2100
33            1976
34            2019
35            2100
36            2100
37            2100
38            1959
39            2100
42            2100
44            2100
46            1961
47            2019
48            2100
49            2100
50            2012
51            2100
52            2100
53            2100
55            1954

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')
# Reverse the rows of the DataFrame (to get most recent team names)
team_data_reversed = team_data.iloc[::-1].reset_index(drop=True)

team_data = team_data_reversed

In [ ]:
# Clean and standardize teamAbbrev
team_data['teamAbbrev'] = team_data['teamAbbrev'].str.strip().str.upper()

# Replace abbreviations
team_data['teamAbbrev'] = team_data['teamAbbrev'].replace({'SEA': 'OKC', 'NOH': 'NOP', 'NJN': 'BKN', 'NOK': 'NOP', 'GS': 'GSW'})

# Print the first few rows to check if replacements worked
print(team_data.head())

# Allowed team abbreviations
allowed_teams = [
    'ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL',
    'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS'
]

# Step 1: Filter team_data to only include teams in allowed_teams
team_data_filtered = team_data[team_data['teamAbbrev'].isin(allowed_teams)]
# Filter team_data to keep only rows where 'yearActiveTill' >= 2023
team_data_filtered = team_data[team_data['yearActiveTill'] >= 2023]
# Print the filtered data
print(team_data_filtered)

       teamId           teamCity teamName teamAbbrev  yearFounded  \
0  1610612766          Charlotte  Hornets        CHA         2014
1  1610612766          Charlotte  Bobcats        CHA         2004
2  1610612766          Charlotte  Hornets        CHA         1988
3  1610612765            Detroit  Pistons        DET         1957
4  1610612765  Ft. Wayne Zollner  Pistons        FWZ         1948

   yearActiveTill
0            2100
1            2013
2            2001
3            2100
4            1956
        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
3   1610612765        Detroit        Pistons        DET         1957
5   1610612764     Washington        Wizards        WAS         1997
11  1610612763        Memphis      Grizzlies        MEM         2001
13  1610612762           Utah           Jazz        UTA         1979
15  1610612761        Toronto        Raptors        TOR         1995
16  1610612760  Oklahoma City        Thunder        OKC         2008
18  1610612759    San Antonio          Spurs        SAN         1976
19  1610612758     Sacramento          Kings        SAC         1985
24  1610612757       Portland  Trail Blazers        POR         1970
25  1610612756        Phoenix           Suns        PHX         1968
26  1610612755   Philadelphia          76ers        PHI         1963
28  1610612754        Indiana         Pacers        IND         1976
29  1610612753        Orlando          Magic        ORL         1989
30  1610612752       New York         Knicks        NYK         1946
31  1610612751       Brooklyn           Nets        BKN         2012
35  1610612749      Milwaukee          Bucks        MIL         1968
36  1610612748          Miami           Heat        MIA         1988
37  1610612747    Los Angeles         Lakers        LAL         1960
39  1610612746    Los Angeles       Clippers        LAC         1984
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
48  1610612742         Dallas      Mavericks        DAL         1980
49  1610612741        Chicago          Bulls        CHI         1966
51  1610612739      Cleveland      Cavaliers        CLE         1970
52  1610612738         Boston        Celtics        BOS         1946
53  1610612737        Atlanta          Hawks        ATL         1968

    yearActiveTill
0             2100
3             2100
5             2100
11            2100
13            2100
15            2100
16            2100
18            2100
19            2100
24            2100
25            2100
26            2100
28            2100
29            2199
30            2100
31            2100
35            2100
36            2100
37            2100
39            2100
42            2100
44            2100
48            2100
49            2100
51            2100
52            2100
53            2100

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')
# Reverse the rows of the DataFrame (to get most recent team names)
team_data_reversed = team_data.iloc[::-1].reset_index(drop=True)

team_data = team_data_reversed

In [ ]:
# Clean and standardize teamAbbrev
team_data['teamAbbrev'] = team_data['teamAbbrev'].str.strip().str.upper()

# Replace abbreviations
team_data['teamAbbrev'] = team_data['teamAbbrev'].replace({'SEA': 'OKC', 'NOH': 'NOP', 'NJN': 'BKN', 'NOK': 'NOP', 'GS': 'GSW'})

# Print the first few rows to check if replacements worked
print(team_data.head())

# Allowed team abbreviations
allowed_teams = [
    'ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL',
    'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS'
]

# Step 1: Filter team_data to only include teams in allowed_teams
team_data_filtered = team_data[team_data['teamAbbrev'].isin(allowed_teams)]
# Filter team_data to keep only rows where 'yearActiveTill' >= 2023
team_data_filtered = team_data_filtered[team_data_filtered['yearActiveTill'] >= 2023]
# Print the filtered data
print(team_data_filtered)

       teamId           teamCity teamName teamAbbrev  yearFounded  \
0  1610612766          Charlotte  Hornets        CHA         2014
1  1610612766          Charlotte  Bobcats        CHA         2004
2  1610612766          Charlotte  Hornets        CHA         1988
3  1610612765            Detroit  Pistons        DET         1957
4  1610612765  Ft. Wayne Zollner  Pistons        FWZ         1948

   yearActiveTill
0            2100
1            2013
2            2001
3            2100
4            1956
        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
3   1610612765        Detroit        Pistons        DET         1957
5   1610612764     Washington        Wizards        WAS         1997
11  1610612763        Memphis      Grizzlies        MEM         2001
13  1610612762           Utah           Jazz        UTA         1979
15  1610612761        Toronto        Raptors        TOR         1995
16  1610612760  Oklahoma City        Thunder        OKC         2008
19  1610612758     Sacramento          Kings        SAC         1985
24  1610612757       Portland  Trail Blazers        POR         1970
25  1610612756        Phoenix           Suns        PHX         1968
26  1610612755   Philadelphia          76ers        PHI         1963
28  1610612754        Indiana         Pacers        IND         1976
29  1610612753        Orlando          Magic        ORL         1989
30  1610612752       New York         Knicks        NYK         1946
31  1610612751       Brooklyn           Nets        BKN         2012
35  1610612749      Milwaukee          Bucks        MIL         1968
36  1610612748          Miami           Heat        MIA         1988
37  1610612747    Los Angeles         Lakers        LAL         1960
39  1610612746    Los Angeles       Clippers        LAC         1984
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
48  1610612742         Dallas      Mavericks        DAL         1980
49  1610612741        Chicago          Bulls        CHI         1966
51  1610612739      Cleveland      Cavaliers        CLE         1970
52  1610612738         Boston        Celtics        BOS         1946
53  1610612737        Atlanta          Hawks        ATL         1968

    yearActiveTill
0             2100
3             2100
5             2100
11            2100
13            2100
15            2100
16            2100
19            2100
24            2100
25            2100
26            2100
28            2100
29            2199
30            2100
31            2100
35            2100
36            2100
37            2100
39            2100
42            2100
44            2100
48            2100
49            2100
51            2100
52            2100
53            2100

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')
# Reverse the rows of the DataFrame (to get most recent team names)
team_data_reversed = team_data.iloc[::-1].reset_index(drop=True)

team_data = team_data_reversed

In [ ]:
# Clean and standardize teamAbbrev
team_data['teamAbbrev'] = team_data['teamAbbrev'].str.strip().str.upper()

# Replace abbreviations
team_data['teamAbbrev'] = team_data['teamAbbrev'].replace({'SEA': 'OKC', 'NOH': 'NOP', 'NJN': 'BKN', 'NOK': 'NOP', 'GS': 'GSW'})

# Print the first few rows to check if replacements worked
print(team_data.head())

# Allowed team abbreviations
allowed_teams = [
    'ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL',
    'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS'
]

# Step 1: Filter team_data to only include teams in allowed_teams
team_data_filtered = team_data[team_data['teamAbbrev'].isin(allowed_teams)]
# Filter team_data to keep only rows where 'yearActiveTill' >= 2023
team_data_filtered = team_data_filtered[team_data_filtered['yearActiveTill'] >= 2023]
# Print the filtered data
length(print(team_data_filtered))

       teamId           teamCity teamName teamAbbrev  yearFounded  \
0  1610612766          Charlotte  Hornets        CHA         2014
1  1610612766          Charlotte  Bobcats        CHA         2004
2  1610612766          Charlotte  Hornets        CHA         1988
3  1610612765            Detroit  Pistons        DET         1957
4  1610612765  Ft. Wayne Zollner  Pistons        FWZ         1948

   yearActiveTill
0            2100
1            2013
2            2001
3            2100
4            1956

NameError: name 'length' is not defined

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')
# Reverse the rows of the DataFrame (to get most recent team names)
team_data_reversed = team_data.iloc[::-1].reset_index(drop=True)

team_data = team_data_reversed

In [ ]:
# Clean and standardize teamAbbrev
team_data['teamAbbrev'] = team_data['teamAbbrev'].str.strip().str.upper()

# Replace abbreviations
team_data['teamAbbrev'] = team_data['teamAbbrev'].replace({'SEA': 'OKC', 'NOH': 'NOP', 'NJN': 'BKN', 'NOK': 'NOP', 'GS': 'GSW'})

# Print the first few rows to check if replacements worked
print(team_data.head())

# Allowed team abbreviations
allowed_teams = [
    'ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL',
    'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS'
]

# Step 1: Filter team_data to only include teams in allowed_teams
team_data_filtered = team_data[team_data['teamAbbrev'].isin(allowed_teams)]
# Filter team_data to keep only rows where 'yearActiveTill' >= 2023
team_data_filtered = team_data_filtered[team_data_filtered['yearActiveTill'] >= 2023]
# Print the filtered data
print(team_data_filtered.length())

       teamId           teamCity teamName teamAbbrev  yearFounded  \
0  1610612766          Charlotte  Hornets        CHA         2014
1  1610612766          Charlotte  Bobcats        CHA         2004
2  1610612766          Charlotte  Hornets        CHA         1988
3  1610612765            Detroit  Pistons        DET         1957
4  1610612765  Ft. Wayne Zollner  Pistons        FWZ         1948

   yearActiveTill
0            2100
1            2013
2            2001
3            2100
4            1956

AttributeError: 'DataFrame' object has no attribute 'length'

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')
# Reverse the rows of the DataFrame (to get most recent team names)
team_data_reversed = team_data.iloc[::-1].reset_index(drop=True)

team_data = team_data_reversed

In [ ]:
# Clean and standardize teamAbbrev
team_data['teamAbbrev'] = team_data['teamAbbrev'].str.strip().str.upper()

# Replace abbreviations
team_data['teamAbbrev'] = team_data['teamAbbrev'].replace({'SEA': 'OKC', 'NOH': 'NOP', 'NJN': 'BKN', 'NOK': 'NOP', 'GS': 'GSW'})

# Print the first few rows to check if replacements worked
print(team_data.head())

# Allowed team abbreviations
allowed_teams = [
    'ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL',
    'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS'
]

# Step 1: Filter team_data to only include teams in allowed_teams
team_data_filtered = team_data[team_data['teamAbbrev'].isin(allowed_teams)]
# Filter team_data to keep only rows where 'yearActiveTill' >= 2023
team_data_filtered = team_data_filtered[team_data_filtered['yearActiveTill'] >= 2023]
# Print the filtered data
print(team_data_filtered.size())

       teamId           teamCity teamName teamAbbrev  yearFounded  \
0  1610612766          Charlotte  Hornets        CHA         2014
1  1610612766          Charlotte  Bobcats        CHA         2004
2  1610612766          Charlotte  Hornets        CHA         1988
3  1610612765            Detroit  Pistons        DET         1957
4  1610612765  Ft. Wayne Zollner  Pistons        FWZ         1948

   yearActiveTill
0            2100
1            2013
2            2001
3            2100
4            1956

TypeError: 'int' object is not callable

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')
# Reverse the rows of the DataFrame (to get most recent team names)
team_data_reversed = team_data.iloc[::-1].reset_index(drop=True)

team_data = team_data_reversed

In [ ]:
# Clean and standardize teamAbbrev
team_data['teamAbbrev'] = team_data['teamAbbrev'].str.strip().str.upper()

# Replace abbreviations
team_data['teamAbbrev'] = team_data['teamAbbrev'].replace({'SEA': 'OKC', 'NOH': 'NOP', 'NJN': 'BKN', 'NOK': 'NOP', 'GS': 'GSW'})

# Print the first few rows to check if replacements worked
print(team_data.head())

# Allowed team abbreviations
allowed_teams = [
    'ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL',
    'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS'
]

# Step 1: Filter team_data to only include teams in allowed_teams
team_data_filtered = team_data[team_data['teamAbbrev'].isin(allowed_teams)]
# Filter team_data to keep only rows where 'yearActiveTill' >= 2023
team_data_filtered = team_data_filtered[team_data_filtered['yearActiveTill'] >= 2023]
# Print the filtered data
print(team_data_filtered)
# Number of rows and columns in the DataFrame
print(f'Rows: {team_data_filtered.shape[0]}, Columns: {team_data_filtered.shape[1]}')

       teamId           teamCity teamName teamAbbrev  yearFounded  \
0  1610612766          Charlotte  Hornets        CHA         2014
1  1610612766          Charlotte  Bobcats        CHA         2004
2  1610612766          Charlotte  Hornets        CHA         1988
3  1610612765            Detroit  Pistons        DET         1957
4  1610612765  Ft. Wayne Zollner  Pistons        FWZ         1948

   yearActiveTill
0            2100
1            2013
2            2001
3            2100
4            1956
        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
3   1610612765        Detroit        Pistons        DET         1957
5   1610612764     Washington        Wizards        WAS         1997
11  1610612763        Memphis      Grizzlies        MEM         2001
13  1610612762           Utah           Jazz        UTA         1979
15  1610612761        Toronto        Raptors        TOR         1995
16  1610612760  Oklahoma City        Thunder        OKC         2008
19  1610612758     Sacramento          Kings        SAC         1985
24  1610612757       Portland  Trail Blazers        POR         1970
25  1610612756        Phoenix           Suns        PHX         1968
26  1610612755   Philadelphia          76ers        PHI         1963
28  1610612754        Indiana         Pacers        IND         1976
29  1610612753        Orlando          Magic        ORL         1989
30  1610612752       New York         Knicks        NYK         1946
31  1610612751       Brooklyn           Nets        BKN         2012
35  1610612749      Milwaukee          Bucks        MIL         1968
36  1610612748          Miami           Heat        MIA         1988
37  1610612747    Los Angeles         Lakers        LAL         1960
39  1610612746    Los Angeles       Clippers        LAC         1984
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
48  1610612742         Dallas      Mavericks        DAL         1980
49  1610612741        Chicago          Bulls        CHI         1966
51  1610612739      Cleveland      Cavaliers        CLE         1970
52  1610612738         Boston        Celtics        BOS         1946
53  1610612737        Atlanta          Hawks        ATL         1968

    yearActiveTill
0             2100
3             2100
5             2100
11            2100
13            2100
15            2100
16            2100
19            2100
24            2100
25            2100
26            2100
28            2100
29            2199
30            2100
31            2100
35            2100
36            2100
37            2100
39            2100
42            2100
44            2100
48            2100
49            2100
51            2100
52            2100
53            2100
Rows: 26, Columns: 6

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')
# Reverse the rows of the DataFrame (to get most recent team names)
team_data_reversed = team_data.iloc[::-1].reset_index(drop=True)

team_data = team_data_reversed

In [ ]:
# Clean and standardize teamAbbrev
team_data['teamAbbrev'] = team_data['teamAbbrev'].str.strip().str.upper()

# Replace abbreviations
team_data['teamAbbrev'] = team_data['teamAbbrev'].replace({'SEA': 'OKC', 'NOH': 'NOP', 'NJN': 'BKN', 'NOK': 'NOP', 'GS': 'GSW'})

# Print the first few rows to check if replacements worked
print(team_data.head())

# Allowed team abbreviations
allowed_teams = [
    'ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL',
    'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS'
]

# Step 1: Filter team_data to only include teams in allowed_teams
team_data_filtered = team_data[team_data['teamAbbrev'].isin(allowed_teams)]
# Filter team_data to keep only rows where 'yearActiveTill' >= 2023
#team_data_filtered = team_data_filtered[team_data_filtered['yearActiveTill'] >= 2023]
# Print the filtered data
print(team_data_filtered)
# Number of rows and columns in the DataFrame
print(f'Rows: {team_data_filtered.shape[0]}, Columns: {team_data_filtered.shape[1]}')

       teamId           teamCity teamName teamAbbrev  yearFounded  \
0  1610612766          Charlotte  Hornets        CHA         2014
1  1610612766          Charlotte  Bobcats        CHA         2004
2  1610612766          Charlotte  Hornets        CHA         1988
3  1610612765            Detroit  Pistons        DET         1957
4  1610612765  Ft. Wayne Zollner  Pistons        FWZ         1948

   yearActiveTill
0            2100
1            2013
2            2001
3            2100
4            1956
        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
1   1610612766      Charlotte        Bobcats        CHA         2004
2   1610612766      Charlotte        Hornets        CHA         1988
3   1610612765        Detroit        Pistons        DET         1957
5   1610612764     Washington        Wizards        WAS         1997
6   1610612764     Washington        Bullets        WAS         1974
9   1610612764        Chicago        Zephyrs        CHI         1962
10  1610612764        Chicago        Packers        CHI         1961
11  1610612763        Memphis      Grizzlies        MEM         2001
13  1610612762           Utah           Jazz        UTA         1979
15  1610612761        Toronto        Raptors        TOR         1995
16  1610612760  Oklahoma City        Thunder        OKC         2008
17  1610612760        Seattle    SuperSonics        OKC         1967
19  1610612758     Sacramento          Kings        SAC         1985
24  1610612757       Portland  Trail Blazers        POR         1970
25  1610612756        Phoenix           Suns        PHX         1968
26  1610612755   Philadelphia          76ers        PHI         1963
28  1610612754        Indiana         Pacers        IND         1976
29  1610612753        Orlando          Magic        ORL         1989
30  1610612752       New York         Knicks        NYK         1946
31  1610612751       Brooklyn           Nets        BKN         2012
33  1610612751       New York           Nets        NYK         1976
34  1610612750      Minnesota   Timberwolves        MIN         1989
35  1610612749      Milwaukee          Bucks        MIL         1968
36  1610612748          Miami           Heat        MIA         1988
37  1610612747    Los Angeles         Lakers        LAL         1960
38  1610612747    Minneapolis         Lakers        MIN         1948
39  1610612746    Los Angeles       Clippers        LAC         1984
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
46  1610612744   Philadelphia       Warriors        PHI         1946
47  1610612743         Denver        Nuggets        DEN         1976
48  1610612742         Dallas      Mavericks        DAL         1980
49  1610612741        Chicago          Bulls        CHI         1966
50  1610612740    New Orleans        Hornets        NOP         2002
51  1610612739      Cleveland      Cavaliers        CLE         1970
52  1610612738         Boston        Celtics        BOS         1946
53  1610612737        Atlanta          Hawks        ATL         1968
55  1610612737      Milwaukee          Hawks        MIL         1951

    yearActiveTill
0             2100
1             2013
2             2001
3             2100
5             2100
6             1996
9             1962
10            1961
11            2100
13            2100
15            2100
16            2100
17            2007
19            2100
24            2100
25            2100
26            2100
28            2100
29            2199
30            2100
31            2100
33            1976
34            2019
35            2100
36            2100
37            2100
38            1959
39            2100
42            2100
44            2100
46            1961
47            2019
48            2100
49            2100
50            2012
51            2100
52            2100
53            2100
55            1954
Rows: 39, Columns: 6

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')
# Reverse the rows of the DataFrame (to get most recent team names)
team_data_reversed = team_data.iloc[::-1].reset_index(drop=True)

team_data = team_data_reversed

In [ ]:
# Clean and standardize teamAbbrev
team_data['teamAbbrev'] = team_data['teamAbbrev'].str.strip().str.upper()

# Replace abbreviations
team_data['teamAbbrev'] = team_data['teamAbbrev'].replace({'SEA': 'OKC', 'NOH': 'NOP', 'NJN': 'BKN', 'NOK': 'NOP', 'GS': 'GSW'})

# Print the first few rows to check if replacements worked
print(team_data.head())

# Allowed team abbreviations
allowed_teams = [
    'ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL',
    'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS'
]

# Step 1: Filter team_data to only include teams in allowed_teams
team_data_filtered = team_data[team_data['teamAbbrev'].isin(allowed_teams)]
# Filter team_data to keep only rows where 'yearActiveTill' >= 2023
team_data_filtered = team_data[(team_data['yearActiveTill'] >= 2023) | team_data['yearActiveTill'].isna()]
# Print the filtered data
print(team_data_filtered)
# Number of rows and columns in the DataFrame
print(f'Rows: {team_data_filtered.shape[0]}, Columns: {team_data_filtered.shape[1]}')

       teamId           teamCity teamName teamAbbrev  yearFounded  \
0  1610612766          Charlotte  Hornets        CHA         2014
1  1610612766          Charlotte  Bobcats        CHA         2004
2  1610612766          Charlotte  Hornets        CHA         1988
3  1610612765            Detroit  Pistons        DET         1957
4  1610612765  Ft. Wayne Zollner  Pistons        FWZ         1948

   yearActiveTill
0            2100
1            2013
2            2001
3            2100
4            1956
        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
3   1610612765        Detroit        Pistons        DET         1957
5   1610612764     Washington        Wizards        WAS         1997
11  1610612763        Memphis      Grizzlies        MEM         2001
13  1610612762           Utah           Jazz        UTA         1979
15  1610612761        Toronto        Raptors        TOR         1995
16  1610612760  Oklahoma City        Thunder        OKC         2008
18  1610612759    San Antonio          Spurs        SAN         1976
19  1610612758     Sacramento          Kings        SAC         1985
24  1610612757       Portland  Trail Blazers        POR         1970
25  1610612756        Phoenix           Suns        PHX         1968
26  1610612755   Philadelphia          76ers        PHI         1963
28  1610612754        Indiana         Pacers        IND         1976
29  1610612753        Orlando          Magic        ORL         1989
30  1610612752       New York         Knicks        NYK         1946
31  1610612751       Brooklyn           Nets        BKN         2012
35  1610612749      Milwaukee          Bucks        MIL         1968
36  1610612748          Miami           Heat        MIA         1988
37  1610612747    Los Angeles         Lakers        LAL         1960
39  1610612746    Los Angeles       Clippers        LAC         1984
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
48  1610612742         Dallas      Mavericks        DAL         1980
49  1610612741        Chicago          Bulls        CHI         1966
51  1610612739      Cleveland      Cavaliers        CLE         1970
52  1610612738         Boston        Celtics        BOS         1946
53  1610612737        Atlanta          Hawks        ATL         1968

    yearActiveTill
0             2100
3             2100
5             2100
11            2100
13            2100
15            2100
16            2100
18            2100
19            2100
24            2100
25            2100
26            2100
28            2100
29            2199
30            2100
31            2100
35            2100
36            2100
37            2100
39            2100
42            2100
44            2100
48            2100
49            2100
51            2100
52            2100
53            2100
Rows: 27, Columns: 6

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')
# Reverse the rows of the DataFrame (to get most recent team names)
team_data_reversed = team_data.iloc[::-1].reset_index(drop=True)

team_data = team_data_reversed

In [ ]:
# Clean and standardize teamAbbrev
team_data['teamAbbrev'] = team_data['teamAbbrev'].str.strip().str.upper()

# Replace abbreviations
team_data['teamAbbrev'] = team_data['teamAbbrev'].replace({'SEA': 'OKC', 'NOH': 'NOP', 'NJN': 'BKN', 'NOK': 'NOP', 'GS': 'GSW'})

# Print the first few rows to check if replacements worked
print(team_data.head())

# Allowed team abbreviations
allowed_teams = [
    'ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL',
    'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS'
]

# Step 1: Filter team_data to only include teams in allowed_teams
team_data_filtered = team_data[team_data['teamAbbrev'].isin(allowed_teams)]
# Filter team_data to keep only rows where 'yearActiveTill' >= 2023
#team_data_filtered = team_data[(team_data['yearActiveTill'] >= 2023) | team_data['yearActiveTill'].isna()]
# Print the filtered data
print(team_data_filtered)
# Number of rows and columns in the DataFrame
print(f'Rows: {team_data_filtered.shape[0]}, Columns: {team_data_filtered.shape[1]}')

       teamId           teamCity teamName teamAbbrev  yearFounded  \
0  1610612766          Charlotte  Hornets        CHA         2014
1  1610612766          Charlotte  Bobcats        CHA         2004
2  1610612766          Charlotte  Hornets        CHA         1988
3  1610612765            Detroit  Pistons        DET         1957
4  1610612765  Ft. Wayne Zollner  Pistons        FWZ         1948

   yearActiveTill
0            2100
1            2013
2            2001
3            2100
4            1956
        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
1   1610612766      Charlotte        Bobcats        CHA         2004
2   1610612766      Charlotte        Hornets        CHA         1988
3   1610612765        Detroit        Pistons        DET         1957
5   1610612764     Washington        Wizards        WAS         1997
6   1610612764     Washington        Bullets        WAS         1974
9   1610612764        Chicago        Zephyrs        CHI         1962
10  1610612764        Chicago        Packers        CHI         1961
11  1610612763        Memphis      Grizzlies        MEM         2001
13  1610612762           Utah           Jazz        UTA         1979
15  1610612761        Toronto        Raptors        TOR         1995
16  1610612760  Oklahoma City        Thunder        OKC         2008
17  1610612760        Seattle    SuperSonics        OKC         1967
19  1610612758     Sacramento          Kings        SAC         1985
24  1610612757       Portland  Trail Blazers        POR         1970
25  1610612756        Phoenix           Suns        PHX         1968
26  1610612755   Philadelphia          76ers        PHI         1963
28  1610612754        Indiana         Pacers        IND         1976
29  1610612753        Orlando          Magic        ORL         1989
30  1610612752       New York         Knicks        NYK         1946
31  1610612751       Brooklyn           Nets        BKN         2012
33  1610612751       New York           Nets        NYK         1976
34  1610612750      Minnesota   Timberwolves        MIN         1989
35  1610612749      Milwaukee          Bucks        MIL         1968
36  1610612748          Miami           Heat        MIA         1988
37  1610612747    Los Angeles         Lakers        LAL         1960
38  1610612747    Minneapolis         Lakers        MIN         1948
39  1610612746    Los Angeles       Clippers        LAC         1984
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
46  1610612744   Philadelphia       Warriors        PHI         1946
47  1610612743         Denver        Nuggets        DEN         1976
48  1610612742         Dallas      Mavericks        DAL         1980
49  1610612741        Chicago          Bulls        CHI         1966
50  1610612740    New Orleans        Hornets        NOP         2002
51  1610612739      Cleveland      Cavaliers        CLE         1970
52  1610612738         Boston        Celtics        BOS         1946
53  1610612737        Atlanta          Hawks        ATL         1968
55  1610612737      Milwaukee          Hawks        MIL         1951

    yearActiveTill
0             2100
1             2013
2             2001
3             2100
5             2100
6             1996
9             1962
10            1961
11            2100
13            2100
15            2100
16            2100
17            2007
19            2100
24            2100
25            2100
26            2100
28            2100
29            2199
30            2100
31            2100
33            1976
34            2019
35            2100
36            2100
37            2100
38            1959
39            2100
42            2100
44            2100
46            1961
47            2019
48            2100
49            2100
50            2012
51            2100
52            2100
53            2100
55            1954
Rows: 39, Columns: 6

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')
# Reverse the rows of the DataFrame (to get most recent team names)
team_data_reversed = team_data.iloc[::-1].reset_index(drop=True)

team_data = team_data_reversed

In [ ]:
# Clean and standardize teamAbbrev
team_data['teamAbbrev'] = team_data['teamAbbrev'].str.strip().str.upper()

# Replace abbreviations
team_data['teamAbbrev'] = team_data['teamAbbrev'].replace({'SEA': 'OKC', 'NOH': 'NOP', 'NJN': 'BKN', 'NOK': 'NOP', 'GS': 'GSW'})

# Print the first few rows to check if replacements worked
print(team_data.head())

# Allowed team abbreviations
allowed_teams = [
    'ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL',
    'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS'
]

# Step 1: Filter team_data to only include teams in allowed_teams
team_data_filtered = team_data[team_data['teamAbbrev'].isin(allowed_teams)]
# Filter team_data to keep only rows where 'yearActiveTill' >= 2023
#team_data_filtered = team_data[(team_data['yearActiveTill'] >= 2023) | team_data['yearActiveTill'].isna()]
# Print the filtered data
print(team_data_filtered)
# Number of rows and columns in the DataFrame
print(f'Rows: {team_data_filtered.shape[0]}, Columns: {team_data_filtered.shape[1]}')

       teamId           teamCity teamName teamAbbrev  yearFounded  \
0  1610612766          Charlotte  Hornets        CHA         2014
1  1610612766          Charlotte  Bobcats        CHA         2004
2  1610612766          Charlotte  Hornets        CHA         1988
3  1610612765            Detroit  Pistons        DET         1957
4  1610612765  Ft. Wayne Zollner  Pistons        FWZ         1948

   yearActiveTill
0            2100
1            2013
2            2001
3            2100
4            1956
        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
1   1610612766      Charlotte        Bobcats        CHA         2004
2   1610612766      Charlotte        Hornets        CHA         1988
3   1610612765        Detroit        Pistons        DET         1957
5   1610612764     Washington        Wizards        WAS         1997
6   1610612764     Washington        Bullets        WAS         1974
9   1610612764        Chicago        Zephyrs        CHI         1962
10  1610612764        Chicago        Packers        CHI         1961
11  1610612763        Memphis      Grizzlies        MEM         2001
13  1610612762           Utah           Jazz        UTA         1979
15  1610612761        Toronto        Raptors        TOR         1995
16  1610612760  Oklahoma City        Thunder        OKC         2008
17  1610612760        Seattle    SuperSonics        OKC         1967
19  1610612758     Sacramento          Kings        SAC         1985
24  1610612757       Portland  Trail Blazers        POR         1970
25  1610612756        Phoenix           Suns        PHX         1968
26  1610612755   Philadelphia          76ers        PHI         1963
28  1610612754        Indiana         Pacers        IND         1976
29  1610612753        Orlando          Magic        ORL         1989
30  1610612752       New York         Knicks        NYK         1946
31  1610612751       Brooklyn           Nets        BKN         2012
33  1610612751       New York           Nets        NYK         1976
34  1610612750      Minnesota   Timberwolves        MIN         1989
35  1610612749      Milwaukee          Bucks        MIL         1968
36  1610612748          Miami           Heat        MIA         1988
37  1610612747    Los Angeles         Lakers        LAL         1960
38  1610612747    Minneapolis         Lakers        MIN         1948
39  1610612746    Los Angeles       Clippers        LAC         1984
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
46  1610612744   Philadelphia       Warriors        PHI         1946
47  1610612743         Denver        Nuggets        DEN         1976
48  1610612742         Dallas      Mavericks        DAL         1980
49  1610612741        Chicago          Bulls        CHI         1966
50  1610612740    New Orleans        Hornets        NOP         2002
51  1610612739      Cleveland      Cavaliers        CLE         1970
52  1610612738         Boston        Celtics        BOS         1946
53  1610612737        Atlanta          Hawks        ATL         1968
55  1610612737      Milwaukee          Hawks        MIL         1951

    yearActiveTill
0             2100
1             2013
2             2001
3             2100
5             2100
6             1996
9             1962
10            1961
11            2100
13            2100
15            2100
16            2100
17            2007
19            2100
24            2100
25            2100
26            2100
28            2100
29            2199
30            2100
31            2100
33            1976
34            2019
35            2100
36            2100
37            2100
38            1959
39            2100
42            2100
44            2100
46            1961
47            2019
48            2100
49            2100
50            2012
51            2100
52            2100
53            2100
55            1954
Rows: 39, Columns: 6

In [ ]:
# Sort by 'yearFounded' to keep the most recent instance
team_data_sorted = team_data_filtered.sort_values(by='yearFounded', ascending=False)

# Drop duplicates based on 'teamAbbrev' to keep only the most recent for each team
team_data_filtered = team_data_sorted.drop_duplicates(subset='teamAbbrev')

# Check the result
print(team_data_filtered)

        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
31  1610612751       Brooklyn           Nets        BKN         2012
16  1610612760  Oklahoma City        Thunder        OKC         2008
50  1610612740    New Orleans        Hornets        NOP         2002
11  1610612763        Memphis      Grizzlies        MEM         2001
5   1610612764     Washington        Wizards        WAS         1997
15  1610612761        Toronto        Raptors        TOR         1995
29  1610612753        Orlando          Magic        ORL         1989
34  1610612750      Minnesota   Timberwolves        MIN         1989
36  1610612748          Miami           Heat        MIA         1988
19  1610612758     Sacramento          Kings        SAC         1985
39  1610612746    Los Angeles       Clippers        LAC         1984
48  1610612742         Dallas      Mavericks        DAL         1980
13  1610612762           Utah           Jazz        UTA         1979
47  1610612743         Denver        Nuggets        DEN         1976
33  1610612751       New York           Nets        NYK         1976
28  1610612754        Indiana         Pacers        IND         1976
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
24  1610612757       Portland  Trail Blazers        POR         1970
51  1610612739      Cleveland      Cavaliers        CLE         1970
25  1610612756        Phoenix           Suns        PHX         1968
35  1610612749      Milwaukee          Bucks        MIL         1968
53  1610612737        Atlanta          Hawks        ATL         1968
49  1610612741        Chicago          Bulls        CHI         1966
26  1610612755   Philadelphia          76ers        PHI         1963
37  1610612747    Los Angeles         Lakers        LAL         1960
3   1610612765        Detroit        Pistons        DET         1957
52  1610612738         Boston        Celtics        BOS         1946

    yearActiveTill
0             2100
31            2100
16            2100
50            2012
11            2100
5             2100
15            2100
29            2199
34            2019
36            2100
19            2100
39            2100
48            2100
13            2100
47            2019
33            1976
28            2100
42            2100
44            2100
24            2100
51            2100
25            2100
35            2100
53            2100
49            2100
26            2100
37            2100
3             2100
52            2100

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')
# Reverse the rows of the DataFrame (to get most recent team names)
team_data_reversed = team_data.iloc[::-1].reset_index(drop=True)

team_data = team_data_reversed

In [ ]:
# Clean and standardize teamAbbrev
team_data['teamAbbrev'] = team_data['teamAbbrev'].str.strip().str.upper()

# Replace abbreviations
team_data['teamAbbrev'] = team_data['teamAbbrev'].replace({'SEA': 'OKC', 'NOH': 'NOP', 'NJN': 'BKN', 'NOK': 'NOP', 'GS': 'GSW'})

# Print the first few rows to check if replacements worked
print(team_data.head())

# Allowed team abbreviations
allowed_teams = [
    'ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL',
    'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS'
]

# Step 1: Filter team_data to only include teams in allowed_teams
team_data_filtered = team_data[team_data['teamAbbrev'].isin(allowed_teams)]
# Filter team_data to keep only rows where 'yearActiveTill' >= 2023
#team_data_filtered = team_data[(team_data['yearActiveTill'] >= 2023) | team_data['yearActiveTill'].isna()]
# Print the filtered data
print(team_data_filtered)
# Number of rows and columns in the DataFrame
print(f'Rows: {team_data_filtered.shape[0]}, Columns: {team_data_filtered.shape[1]}')

       teamId           teamCity teamName teamAbbrev  yearFounded  \
0  1610612766          Charlotte  Hornets        CHA         2014
1  1610612766          Charlotte  Bobcats        CHA         2004
2  1610612766          Charlotte  Hornets        CHA         1988
3  1610612765            Detroit  Pistons        DET         1957
4  1610612765  Ft. Wayne Zollner  Pistons        FWZ         1948

   yearActiveTill
0            2100
1            2013
2            2001
3            2100
4            1956
        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
1   1610612766      Charlotte        Bobcats        CHA         2004
2   1610612766      Charlotte        Hornets        CHA         1988
3   1610612765        Detroit        Pistons        DET         1957
5   1610612764     Washington        Wizards        WAS         1997
6   1610612764     Washington        Bullets        WAS         1974
9   1610612764        Chicago        Zephyrs        CHI         1962
10  1610612764        Chicago        Packers        CHI         1961
11  1610612763        Memphis      Grizzlies        MEM         2001
13  1610612762           Utah           Jazz        UTA         1979
15  1610612761        Toronto        Raptors        TOR         1995
16  1610612760  Oklahoma City        Thunder        OKC         2008
17  1610612760        Seattle    SuperSonics        OKC         1967
19  1610612758     Sacramento          Kings        SAC         1985
24  1610612757       Portland  Trail Blazers        POR         1970
25  1610612756        Phoenix           Suns        PHX         1968
26  1610612755   Philadelphia          76ers        PHI         1963
28  1610612754        Indiana         Pacers        IND         1976
29  1610612753        Orlando          Magic        ORL         1989
30  1610612752       New York         Knicks        NYK         1946
31  1610612751       Brooklyn           Nets        BKN         2012
33  1610612751       New York           Nets        NYK         1976
34  1610612750      Minnesota   Timberwolves        MIN         1989
35  1610612749      Milwaukee          Bucks        MIL         1968
36  1610612748          Miami           Heat        MIA         1988
37  1610612747    Los Angeles         Lakers        LAL         1960
38  1610612747    Minneapolis         Lakers        MIN         1948
39  1610612746    Los Angeles       Clippers        LAC         1984
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
46  1610612744   Philadelphia       Warriors        PHI         1946
47  1610612743         Denver        Nuggets        DEN         1976
48  1610612742         Dallas      Mavericks        DAL         1980
49  1610612741        Chicago          Bulls        CHI         1966
50  1610612740    New Orleans        Hornets        NOP         2002
51  1610612739      Cleveland      Cavaliers        CLE         1970
52  1610612738         Boston        Celtics        BOS         1946
53  1610612737        Atlanta          Hawks        ATL         1968
55  1610612737      Milwaukee          Hawks        MIL         1951

    yearActiveTill
0             2100
1             2013
2             2001
3             2100
5             2100
6             1996
9             1962
10            1961
11            2100
13            2100
15            2100
16            2100
17            2007
19            2100
24            2100
25            2100
26            2100
28            2100
29            2199
30            2100
31            2100
33            1976
34            2019
35            2100
36            2100
37            2100
38            1959
39            2100
42            2100
44            2100
46            1961
47            2019
48            2100
49            2100
50            2012
51            2100
52            2100
53            2100
55            1954
Rows: 39, Columns: 6

In [ ]:
# Sort by 'yearFounded' to keep the most recent instance
team_data_sorted = team_data_filtered.sort_values(by='yearFounded', ascending=False)

# Drop duplicates based on 'teamAbbrev' to keep only the most recent for each team
team_data_filtered = team_data_sorted.drop_duplicates(subset='teamAbbrev')

# Check the result
print(team_data_filtered)

# Count the occurrences of each team abbreviation
abbreviation_counts = team_data_filtered['teamAbbrev'].value_counts().reset_index()

# Rename the columns for better readability
abbreviation_counts.columns = ['teamAbbrev', 'count']

# Print the result
print(abbreviation_counts)

        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
31  1610612751       Brooklyn           Nets        BKN         2012
16  1610612760  Oklahoma City        Thunder        OKC         2008
50  1610612740    New Orleans        Hornets        NOP         2002
11  1610612763        Memphis      Grizzlies        MEM         2001
5   1610612764     Washington        Wizards        WAS         1997
15  1610612761        Toronto        Raptors        TOR         1995
29  1610612753        Orlando          Magic        ORL         1989
34  1610612750      Minnesota   Timberwolves        MIN         1989
36  1610612748          Miami           Heat        MIA         1988
19  1610612758     Sacramento          Kings        SAC         1985
39  1610612746    Los Angeles       Clippers        LAC         1984
48  1610612742         Dallas      Mavericks        DAL         1980
13  1610612762           Utah           Jazz        UTA         1979
47  1610612743         Denver        Nuggets        DEN         1976
33  1610612751       New York           Nets        NYK         1976
28  1610612754        Indiana         Pacers        IND         1976
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
24  1610612757       Portland  Trail Blazers        POR         1970
51  1610612739      Cleveland      Cavaliers        CLE         1970
25  1610612756        Phoenix           Suns        PHX         1968
35  1610612749      Milwaukee          Bucks        MIL         1968
53  1610612737        Atlanta          Hawks        ATL         1968
49  1610612741        Chicago          Bulls        CHI         1966
26  1610612755   Philadelphia          76ers        PHI         1963
37  1610612747    Los Angeles         Lakers        LAL         1960
3   1610612765        Detroit        Pistons        DET         1957
52  1610612738         Boston        Celtics        BOS         1946

    yearActiveTill
0             2100
31            2100
16            2100
50            2012
11            2100
5             2100
15            2100
29            2199
34            2019
36            2100
19            2100
39            2100
48            2100
13            2100
47            2019
33            1976
28            2100
42            2100
44            2100
24            2100
51            2100
25            2100
35            2100
53            2100
49            2100
26            2100
37            2100
3             2100
52            2100
   teamAbbrev  count
0         CHA      1
1         NYK      1
2         DET      1
3         LAL      1
4         PHI      1
5         CHI      1
6         ATL      1
7         MIL      1
8         PHX      1
9         CLE      1
10        POR      1
11        GSW      1
12        HOU      1
13        IND      1
14        DEN      1
15        BKN      1
16        UTA      1
17        DAL      1
18        LAC      1
19        SAC      1
20        MIA      1
21        MIN      1
22        ORL      1
23        TOR      1
24        WAS      1
25        MEM      1
26        NOP      1
27        OKC      1
28        BOS      1

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')
# Reverse the rows of the DataFrame (to get most recent team names)
team_data_reversed = team_data.iloc[::-1].reset_index(drop=True)

team_data = team_data_reversed

In [ ]:
# Clean and standardize teamAbbrev
team_data['teamAbbrev'] = team_data['teamAbbrev'].str.strip().str.upper()

# Replace abbreviations
team_data['teamAbbrev'] = team_data['teamAbbrev'].replace({'SEA': 'OKC', 'NOH': 'NOP', 'NJN': 'BKN', 'NOK': 'NOP', 'GS': 'GSW'})

# Print the first few rows to check if replacements worked
print(team_data.head())

# Allowed team abbreviations
allowed_teams = [
    'ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL',
    'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS'
]

# Step 1: Filter team_data to only include teams in allowed_teams
team_data_filtered = team_data[team_data['teamAbbrev'].isin(allowed_teams)]
# Filter team_data to keep only rows where 'yearActiveTill' >= 2023
#team_data_filtered = team_data[(team_data['yearActiveTill'] >= 2023) | team_data['yearActiveTill'].isna()]
# Print the filtered data
print(team_data_filtered)
# Number of rows and columns in the DataFrame
print(f'Rows: {team_data_filtered.shape[0]}, Columns: {team_data_filtered.shape[1]}')

       teamId           teamCity teamName teamAbbrev  yearFounded  \
0  1610612766          Charlotte  Hornets        CHA         2014
1  1610612766          Charlotte  Bobcats        CHA         2004
2  1610612766          Charlotte  Hornets        CHA         1988
3  1610612765            Detroit  Pistons        DET         1957
4  1610612765  Ft. Wayne Zollner  Pistons        FWZ         1948

   yearActiveTill
0            2100
1            2013
2            2001
3            2100
4            1956
        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
1   1610612766      Charlotte        Bobcats        CHA         2004
2   1610612766      Charlotte        Hornets        CHA         1988
3   1610612765        Detroit        Pistons        DET         1957
5   1610612764     Washington        Wizards        WAS         1997
6   1610612764     Washington        Bullets        WAS         1974
9   1610612764        Chicago        Zephyrs        CHI         1962
10  1610612764        Chicago        Packers        CHI         1961
11  1610612763        Memphis      Grizzlies        MEM         2001
13  1610612762           Utah           Jazz        UTA         1979
15  1610612761        Toronto        Raptors        TOR         1995
16  1610612760  Oklahoma City        Thunder        OKC         2008
17  1610612760        Seattle    SuperSonics        OKC         1967
19  1610612758     Sacramento          Kings        SAC         1985
24  1610612757       Portland  Trail Blazers        POR         1970
25  1610612756        Phoenix           Suns        PHX         1968
26  1610612755   Philadelphia          76ers        PHI         1963
28  1610612754        Indiana         Pacers        IND         1976
29  1610612753        Orlando          Magic        ORL         1989
30  1610612752       New York         Knicks        NYK         1946
31  1610612751       Brooklyn           Nets        BKN         2012
33  1610612751       New York           Nets        NYK         1976
34  1610612750      Minnesota   Timberwolves        MIN         1989
35  1610612749      Milwaukee          Bucks        MIL         1968
36  1610612748          Miami           Heat        MIA         1988
37  1610612747    Los Angeles         Lakers        LAL         1960
38  1610612747    Minneapolis         Lakers        MIN         1948
39  1610612746    Los Angeles       Clippers        LAC         1984
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
46  1610612744   Philadelphia       Warriors        PHI         1946
47  1610612743         Denver        Nuggets        DEN         1976
48  1610612742         Dallas      Mavericks        DAL         1980
49  1610612741        Chicago          Bulls        CHI         1966
50  1610612740    New Orleans        Hornets        NOP         2002
51  1610612739      Cleveland      Cavaliers        CLE         1970
52  1610612738         Boston        Celtics        BOS         1946
53  1610612737        Atlanta          Hawks        ATL         1968
55  1610612737      Milwaukee          Hawks        MIL         1951

    yearActiveTill
0             2100
1             2013
2             2001
3             2100
5             2100
6             1996
9             1962
10            1961
11            2100
13            2100
15            2100
16            2100
17            2007
19            2100
24            2100
25            2100
26            2100
28            2100
29            2199
30            2100
31            2100
33            1976
34            2019
35            2100
36            2100
37            2100
38            1959
39            2100
42            2100
44            2100
46            1961
47            2019
48            2100
49            2100
50            2012
51            2100
52            2100
53            2100
55            1954
Rows: 39, Columns: 6

In [ ]:
# Sort by 'yearFounded' to keep the most recent instance
team_data_sorted = team_data_filtered.sort_values(by='yearFounded', ascending=False)

# Drop duplicates based on 'teamAbbrev' to keep only the most recent for each team
team_data_filtered = team_data_sorted.drop_duplicates(subset='teamAbbrev')

# Check the result
print(team_data_filtered)
# Sort by 'teamAbbrev'
team_data_sorted = team_data_filtered.sort_values(by='teamAbbrev')

# Get the count of each abbreviation and add it as a new row
abbreviation_counts = team_data_sorted['teamAbbrev'].value_counts().reset_index()

# Rename the columns for clarity
abbreviation_counts.columns = ['teamAbbrev', 'count']

# Append the row with the sum of counts
total_row = pd.DataFrame([['Total', abbreviation_counts['count'].sum()]], columns=['teamAbbrev', 'count'])

# Append the total row to the original sorted DataFrame
team_data_with_total = abbreviation_counts.append(total_row, ignore_index=True)

# Print the final DataFrame
print(team_data_with_total)

        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
31  1610612751       Brooklyn           Nets        BKN         2012
16  1610612760  Oklahoma City        Thunder        OKC         2008
50  1610612740    New Orleans        Hornets        NOP         2002
11  1610612763        Memphis      Grizzlies        MEM         2001
5   1610612764     Washington        Wizards        WAS         1997
15  1610612761        Toronto        Raptors        TOR         1995
29  1610612753        Orlando          Magic        ORL         1989
34  1610612750      Minnesota   Timberwolves        MIN         1989
36  1610612748          Miami           Heat        MIA         1988
19  1610612758     Sacramento          Kings        SAC         1985
39  1610612746    Los Angeles       Clippers        LAC         1984
48  1610612742         Dallas      Mavericks        DAL         1980
13  1610612762           Utah           Jazz        UTA         1979
47  1610612743         Denver        Nuggets        DEN         1976
33  1610612751       New York           Nets        NYK         1976
28  1610612754        Indiana         Pacers        IND         1976
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
24  1610612757       Portland  Trail Blazers        POR         1970
51  1610612739      Cleveland      Cavaliers        CLE         1970
25  1610612756        Phoenix           Suns        PHX         1968
35  1610612749      Milwaukee          Bucks        MIL         1968
53  1610612737        Atlanta          Hawks        ATL         1968
49  1610612741        Chicago          Bulls        CHI         1966
26  1610612755   Philadelphia          76ers        PHI         1963
37  1610612747    Los Angeles         Lakers        LAL         1960
3   1610612765        Detroit        Pistons        DET         1957
52  1610612738         Boston        Celtics        BOS         1946

    yearActiveTill
0             2100
31            2100
16            2100
50            2012
11            2100
5             2100
15            2100
29            2199
34            2019
36            2100
19            2100
39            2100
48            2100
13            2100
47            2019
33            1976
28            2100
42            2100
44            2100
24            2100
51            2100
25            2100
35            2100
53            2100
49            2100
26            2100
37            2100
3             2100
52            2100

AttributeError: 'DataFrame' object has no attribute 'append'

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')
# Reverse the rows of the DataFrame (to get most recent team names)
team_data_reversed = team_data.iloc[::-1].reset_index(drop=True)

team_data = team_data_reversed

In [ ]:
# Clean and standardize teamAbbrev
team_data['teamAbbrev'] = team_data['teamAbbrev'].str.strip().str.upper()

# Replace abbreviations
team_data['teamAbbrev'] = team_data['teamAbbrev'].replace({'SEA': 'OKC', 'NOH': 'NOP', 'NJN': 'BKN', 'NOK': 'NOP', 'GS': 'GSW'})

# Print the first few rows to check if replacements worked
print(team_data.head())

# Allowed team abbreviations
allowed_teams = [
    'ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL',
    'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS'
]

# Step 1: Filter team_data to only include teams in allowed_teams
team_data_filtered = team_data[team_data['teamAbbrev'].isin(allowed_teams)]
# Filter team_data to keep only rows where 'yearActiveTill' >= 2023
#team_data_filtered = team_data[(team_data['yearActiveTill'] >= 2023) | team_data['yearActiveTill'].isna()]
# Print the filtered data
print(team_data_filtered)
# Number of rows and columns in the DataFrame
print(f'Rows: {team_data_filtered.shape[0]}, Columns: {team_data_filtered.shape[1]}')

       teamId           teamCity teamName teamAbbrev  yearFounded  \
0  1610612766          Charlotte  Hornets        CHA         2014
1  1610612766          Charlotte  Bobcats        CHA         2004
2  1610612766          Charlotte  Hornets        CHA         1988
3  1610612765            Detroit  Pistons        DET         1957
4  1610612765  Ft. Wayne Zollner  Pistons        FWZ         1948

   yearActiveTill
0            2100
1            2013
2            2001
3            2100
4            1956
        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
1   1610612766      Charlotte        Bobcats        CHA         2004
2   1610612766      Charlotte        Hornets        CHA         1988
3   1610612765        Detroit        Pistons        DET         1957
5   1610612764     Washington        Wizards        WAS         1997
6   1610612764     Washington        Bullets        WAS         1974
9   1610612764        Chicago        Zephyrs        CHI         1962
10  1610612764        Chicago        Packers        CHI         1961
11  1610612763        Memphis      Grizzlies        MEM         2001
13  1610612762           Utah           Jazz        UTA         1979
15  1610612761        Toronto        Raptors        TOR         1995
16  1610612760  Oklahoma City        Thunder        OKC         2008
17  1610612760        Seattle    SuperSonics        OKC         1967
19  1610612758     Sacramento          Kings        SAC         1985
24  1610612757       Portland  Trail Blazers        POR         1970
25  1610612756        Phoenix           Suns        PHX         1968
26  1610612755   Philadelphia          76ers        PHI         1963
28  1610612754        Indiana         Pacers        IND         1976
29  1610612753        Orlando          Magic        ORL         1989
30  1610612752       New York         Knicks        NYK         1946
31  1610612751       Brooklyn           Nets        BKN         2012
33  1610612751       New York           Nets        NYK         1976
34  1610612750      Minnesota   Timberwolves        MIN         1989
35  1610612749      Milwaukee          Bucks        MIL         1968
36  1610612748          Miami           Heat        MIA         1988
37  1610612747    Los Angeles         Lakers        LAL         1960
38  1610612747    Minneapolis         Lakers        MIN         1948
39  1610612746    Los Angeles       Clippers        LAC         1984
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
46  1610612744   Philadelphia       Warriors        PHI         1946
47  1610612743         Denver        Nuggets        DEN         1976
48  1610612742         Dallas      Mavericks        DAL         1980
49  1610612741        Chicago          Bulls        CHI         1966
50  1610612740    New Orleans        Hornets        NOP         2002
51  1610612739      Cleveland      Cavaliers        CLE         1970
52  1610612738         Boston        Celtics        BOS         1946
53  1610612737        Atlanta          Hawks        ATL         1968
55  1610612737      Milwaukee          Hawks        MIL         1951

    yearActiveTill
0             2100
1             2013
2             2001
3             2100
5             2100
6             1996
9             1962
10            1961
11            2100
13            2100
15            2100
16            2100
17            2007
19            2100
24            2100
25            2100
26            2100
28            2100
29            2199
30            2100
31            2100
33            1976
34            2019
35            2100
36            2100
37            2100
38            1959
39            2100
42            2100
44            2100
46            1961
47            2019
48            2100
49            2100
50            2012
51            2100
52            2100
53            2100
55            1954
Rows: 39, Columns: 6

In [ ]:
# Sort by 'yearFounded' to keep the most recent instance
team_data_sorted = team_data_filtered.sort_values(by='yearFounded', ascending=False)

# Drop duplicates based on 'teamAbbrev' to keep only the most recent for each team
team_data_filtered = team_data_sorted.drop_duplicates(subset='teamAbbrev')

# Check the result
print(team_data_filtered)

# Count the occurrences of each team abbreviation
abbreviation_counts = team_data_filtered['teamAbbrev'].value_counts().reset_index()

# Rename the columns for better readability
abbreviation_counts.columns = ['teamAbbrev', 'count']

# Print the result
print(abbreviation_counts)

# Sort by 'teamAbbrev'
team_data_sorted = team_data_filtered.sort_values(by='teamAbbrev')

# Get the count of each abbreviation and add it as a new row
abbreviation_counts = team_data_sorted['teamAbbrev'].value_counts().reset_index()

# Rename the columns for clarity
abbreviation_counts.columns = ['teamAbbrev', 'count']

# Append the row with the sum of counts
total_row = pd.DataFrame([['Total', abbreviation_counts['count'].sum()]], columns=['teamAbbrev', 'count'])

# Append the total row to the original sorted DataFrame
team_data_with_total = abbreviation_counts.append(total_row, ignore_index=True)

# Print the final DataFrame
print(team_data_with_total)

        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
31  1610612751       Brooklyn           Nets        BKN         2012
16  1610612760  Oklahoma City        Thunder        OKC         2008
50  1610612740    New Orleans        Hornets        NOP         2002
11  1610612763        Memphis      Grizzlies        MEM         2001
5   1610612764     Washington        Wizards        WAS         1997
15  1610612761        Toronto        Raptors        TOR         1995
29  1610612753        Orlando          Magic        ORL         1989
34  1610612750      Minnesota   Timberwolves        MIN         1989
36  1610612748          Miami           Heat        MIA         1988
19  1610612758     Sacramento          Kings        SAC         1985
39  1610612746    Los Angeles       Clippers        LAC         1984
48  1610612742         Dallas      Mavericks        DAL         1980
13  1610612762           Utah           Jazz        UTA         1979
47  1610612743         Denver        Nuggets        DEN         1976
33  1610612751       New York           Nets        NYK         1976
28  1610612754        Indiana         Pacers        IND         1976
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
24  1610612757       Portland  Trail Blazers        POR         1970
51  1610612739      Cleveland      Cavaliers        CLE         1970
25  1610612756        Phoenix           Suns        PHX         1968
35  1610612749      Milwaukee          Bucks        MIL         1968
53  1610612737        Atlanta          Hawks        ATL         1968
49  1610612741        Chicago          Bulls        CHI         1966
26  1610612755   Philadelphia          76ers        PHI         1963
37  1610612747    Los Angeles         Lakers        LAL         1960
3   1610612765        Detroit        Pistons        DET         1957
52  1610612738         Boston        Celtics        BOS         1946

    yearActiveTill
0             2100
31            2100
16            2100
50            2012
11            2100
5             2100
15            2100
29            2199
34            2019
36            2100
19            2100
39            2100
48            2100
13            2100
47            2019
33            1976
28            2100
42            2100
44            2100
24            2100
51            2100
25            2100
35            2100
53            2100
49            2100
26            2100
37            2100
3             2100
52            2100
   teamAbbrev  count
0         CHA      1
1         NYK      1
2         DET      1
3         LAL      1
4         PHI      1
5         CHI      1
6         ATL      1
7         MIL      1
8         PHX      1
9         CLE      1
10        POR      1
11        GSW      1
12        HOU      1
13        IND      1
14        DEN      1
15        BKN      1
16        UTA      1
17        DAL      1
18        LAC      1
19        SAC      1
20        MIA      1
21        MIN      1
22        ORL      1
23        TOR      1
24        WAS      1
25        MEM      1
26        NOP      1
27        OKC      1
28        BOS      1

AttributeError: 'DataFrame' object has no attribute 'append'

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')
# Reverse the rows of the DataFrame (to get most recent team names)
team_data_reversed = team_data.iloc[::-1].reset_index(drop=True)

team_data = team_data_reversed

In [ ]:
# Clean and standardize teamAbbrev
team_data['teamAbbrev'] = team_data['teamAbbrev'].str.strip().str.upper()

# Replace abbreviations
team_data['teamAbbrev'] = team_data['teamAbbrev'].replace({'SEA': 'OKC', 'NOH': 'NOP', 'NJN': 'BKN', 'NOK': 'NOP', 'GS': 'GSW'})

# Print the first few rows to check if replacements worked
print(team_data.head())

# Allowed team abbreviations
allowed_teams = [
    'ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL',
    'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS'
]

# Step 1: Filter team_data to only include teams in allowed_teams
team_data_filtered = team_data[team_data['teamAbbrev'].isin(allowed_teams)]
# Filter team_data to keep only rows where 'yearActiveTill' >= 2023
#team_data_filtered = team_data[(team_data['yearActiveTill'] >= 2023) | team_data['yearActiveTill'].isna()]
# Print the filtered data
print(team_data_filtered)
# Number of rows and columns in the DataFrame
print(f'Rows: {team_data_filtered.shape[0]}, Columns: {team_data_filtered.shape[1]}')

       teamId           teamCity teamName teamAbbrev  yearFounded  \
0  1610612766          Charlotte  Hornets        CHA         2014
1  1610612766          Charlotte  Bobcats        CHA         2004
2  1610612766          Charlotte  Hornets        CHA         1988
3  1610612765            Detroit  Pistons        DET         1957
4  1610612765  Ft. Wayne Zollner  Pistons        FWZ         1948

   yearActiveTill
0            2100
1            2013
2            2001
3            2100
4            1956
        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
1   1610612766      Charlotte        Bobcats        CHA         2004
2   1610612766      Charlotte        Hornets        CHA         1988
3   1610612765        Detroit        Pistons        DET         1957
5   1610612764     Washington        Wizards        WAS         1997
6   1610612764     Washington        Bullets        WAS         1974
9   1610612764        Chicago        Zephyrs        CHI         1962
10  1610612764        Chicago        Packers        CHI         1961
11  1610612763        Memphis      Grizzlies        MEM         2001
13  1610612762           Utah           Jazz        UTA         1979
15  1610612761        Toronto        Raptors        TOR         1995
16  1610612760  Oklahoma City        Thunder        OKC         2008
17  1610612760        Seattle    SuperSonics        OKC         1967
19  1610612758     Sacramento          Kings        SAC         1985
24  1610612757       Portland  Trail Blazers        POR         1970
25  1610612756        Phoenix           Suns        PHX         1968
26  1610612755   Philadelphia          76ers        PHI         1963
28  1610612754        Indiana         Pacers        IND         1976
29  1610612753        Orlando          Magic        ORL         1989
30  1610612752       New York         Knicks        NYK         1946
31  1610612751       Brooklyn           Nets        BKN         2012
33  1610612751       New York           Nets        NYK         1976
34  1610612750      Minnesota   Timberwolves        MIN         1989
35  1610612749      Milwaukee          Bucks        MIL         1968
36  1610612748          Miami           Heat        MIA         1988
37  1610612747    Los Angeles         Lakers        LAL         1960
38  1610612747    Minneapolis         Lakers        MIN         1948
39  1610612746    Los Angeles       Clippers        LAC         1984
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
46  1610612744   Philadelphia       Warriors        PHI         1946
47  1610612743         Denver        Nuggets        DEN         1976
48  1610612742         Dallas      Mavericks        DAL         1980
49  1610612741        Chicago          Bulls        CHI         1966
50  1610612740    New Orleans        Hornets        NOP         2002
51  1610612739      Cleveland      Cavaliers        CLE         1970
52  1610612738         Boston        Celtics        BOS         1946
53  1610612737        Atlanta          Hawks        ATL         1968
55  1610612737      Milwaukee          Hawks        MIL         1951

    yearActiveTill
0             2100
1             2013
2             2001
3             2100
5             2100
6             1996
9             1962
10            1961
11            2100
13            2100
15            2100
16            2100
17            2007
19            2100
24            2100
25            2100
26            2100
28            2100
29            2199
30            2100
31            2100
33            1976
34            2019
35            2100
36            2100
37            2100
38            1959
39            2100
42            2100
44            2100
46            1961
47            2019
48            2100
49            2100
50            2012
51            2100
52            2100
53            2100
55            1954
Rows: 39, Columns: 6

In [ ]:
# Sort by 'yearFounded' to keep the most recent instance
team_data_sorted = team_data_filtered.sort_values(by='yearFounded', ascending=False)

# Drop duplicates based on 'teamAbbrev' to keep only the most recent for each team
team_data_filtered = team_data_sorted.drop_duplicates(subset='teamAbbrev')

# Check the result
print(team_data_filtered)

# Count the occurrences of each team abbreviation
abbreviation_counts = team_data_filtered['teamAbbrev'].value_counts().reset_index()

# Rename the columns for better readability
abbreviation_counts.columns = ['teamAbbrev', 'count']

# Print the result
print(abbreviation_counts)

# Sort by 'teamAbbrev'
team_data_sorted = team_data_filtered.sort_values(by='teamAbbrev')

# Get the count of each abbreviation and add it as a new row
abbreviation_counts = team_data_sorted['teamAbbrev'].value_counts().reset_index()

# Rename the columns for clarity
abbreviation_counts.columns = ['teamAbbrev', 'count']

# Append the row with the sum of counts
total_row = pd.DataFrame([['Total', abbreviation_counts['count'].sum()]], columns=['teamAbbrev', 'count'])

# Append the total row to the original sorted DataFrame
team_data_with_total = abbreviation_counts.append(total_row, ignore_index=True)

# Print the final DataFrame
print(team_data_with_total)

        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
31  1610612751       Brooklyn           Nets        BKN         2012
16  1610612760  Oklahoma City        Thunder        OKC         2008
50  1610612740    New Orleans        Hornets        NOP         2002
11  1610612763        Memphis      Grizzlies        MEM         2001
5   1610612764     Washington        Wizards        WAS         1997
15  1610612761        Toronto        Raptors        TOR         1995
29  1610612753        Orlando          Magic        ORL         1989
34  1610612750      Minnesota   Timberwolves        MIN         1989
36  1610612748          Miami           Heat        MIA         1988
19  1610612758     Sacramento          Kings        SAC         1985
39  1610612746    Los Angeles       Clippers        LAC         1984
48  1610612742         Dallas      Mavericks        DAL         1980
13  1610612762           Utah           Jazz        UTA         1979
47  1610612743         Denver        Nuggets        DEN         1976
33  1610612751       New York           Nets        NYK         1976
28  1610612754        Indiana         Pacers        IND         1976
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
24  1610612757       Portland  Trail Blazers        POR         1970
51  1610612739      Cleveland      Cavaliers        CLE         1970
25  1610612756        Phoenix           Suns        PHX         1968
35  1610612749      Milwaukee          Bucks        MIL         1968
53  1610612737        Atlanta          Hawks        ATL         1968
49  1610612741        Chicago          Bulls        CHI         1966
26  1610612755   Philadelphia          76ers        PHI         1963
37  1610612747    Los Angeles         Lakers        LAL         1960
3   1610612765        Detroit        Pistons        DET         1957
52  1610612738         Boston        Celtics        BOS         1946

    yearActiveTill
0             2100
31            2100
16            2100
50            2012
11            2100
5             2100
15            2100
29            2199
34            2019
36            2100
19            2100
39            2100
48            2100
13            2100
47            2019
33            1976
28            2100
42            2100
44            2100
24            2100
51            2100
25            2100
35            2100
53            2100
49            2100
26            2100
37            2100
3             2100
52            2100
   teamAbbrev  count
0         CHA      1
1         NYK      1
2         DET      1
3         LAL      1
4         PHI      1
5         CHI      1
6         ATL      1
7         MIL      1
8         PHX      1
9         CLE      1
10        POR      1
11        GSW      1
12        HOU      1
13        IND      1
14        DEN      1
15        BKN      1
16        UTA      1
17        DAL      1
18        LAC      1
19        SAC      1
20        MIA      1
21        MIN      1
22        ORL      1
23        TOR      1
24        WAS      1
25        MEM      1
26        NOP      1
27        OKC      1
28        BOS      1

AttributeError: 'DataFrame' object has no attribute 'append'

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')
# Reverse the rows of the DataFrame (to get most recent team names)
team_data_reversed = team_data.iloc[::-1].reset_index(drop=True)

team_data = team_data_reversed

In [ ]:
# Clean and standardize teamAbbrev
team_data['teamAbbrev'] = team_data['teamAbbrev'].str.strip().str.upper()

# Replace abbreviations
team_data['teamAbbrev'] = team_data['teamAbbrev'].replace({'SEA': 'OKC', 'NOH': 'NOP', 'NJN': 'BKN', 'NOK': 'NOP', 'GS': 'GSW'})

# Print the first few rows to check if replacements worked
print(team_data.head())

# Allowed team abbreviations
allowed_teams = [
    'ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL',
    'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS'
]

# Step 1: Filter team_data to only include teams in allowed_teams
team_data_filtered = team_data[team_data['teamAbbrev'].isin(allowed_teams)]
# Filter team_data to keep only rows where 'yearActiveTill' >= 2023
#team_data_filtered = team_data[(team_data['yearActiveTill'] >= 2023) | team_data['yearActiveTill'].isna()]
# Print the filtered data
print(team_data_filtered)
# Number of rows and columns in the DataFrame
print(f'Rows: {team_data_filtered.shape[0]}, Columns: {team_data_filtered.shape[1]}')

       teamId           teamCity teamName teamAbbrev  yearFounded  \
0  1610612766          Charlotte  Hornets        CHA         2014
1  1610612766          Charlotte  Bobcats        CHA         2004
2  1610612766          Charlotte  Hornets        CHA         1988
3  1610612765            Detroit  Pistons        DET         1957
4  1610612765  Ft. Wayne Zollner  Pistons        FWZ         1948

   yearActiveTill
0            2100
1            2013
2            2001
3            2100
4            1956
        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
1   1610612766      Charlotte        Bobcats        CHA         2004
2   1610612766      Charlotte        Hornets        CHA         1988
3   1610612765        Detroit        Pistons        DET         1957
5   1610612764     Washington        Wizards        WAS         1997
6   1610612764     Washington        Bullets        WAS         1974
9   1610612764        Chicago        Zephyrs        CHI         1962
10  1610612764        Chicago        Packers        CHI         1961
11  1610612763        Memphis      Grizzlies        MEM         2001
13  1610612762           Utah           Jazz        UTA         1979
15  1610612761        Toronto        Raptors        TOR         1995
16  1610612760  Oklahoma City        Thunder        OKC         2008
17  1610612760        Seattle    SuperSonics        OKC         1967
19  1610612758     Sacramento          Kings        SAC         1985
24  1610612757       Portland  Trail Blazers        POR         1970
25  1610612756        Phoenix           Suns        PHX         1968
26  1610612755   Philadelphia          76ers        PHI         1963
28  1610612754        Indiana         Pacers        IND         1976
29  1610612753        Orlando          Magic        ORL         1989
30  1610612752       New York         Knicks        NYK         1946
31  1610612751       Brooklyn           Nets        BKN         2012
33  1610612751       New York           Nets        NYK         1976
34  1610612750      Minnesota   Timberwolves        MIN         1989
35  1610612749      Milwaukee          Bucks        MIL         1968
36  1610612748          Miami           Heat        MIA         1988
37  1610612747    Los Angeles         Lakers        LAL         1960
38  1610612747    Minneapolis         Lakers        MIN         1948
39  1610612746    Los Angeles       Clippers        LAC         1984
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
46  1610612744   Philadelphia       Warriors        PHI         1946
47  1610612743         Denver        Nuggets        DEN         1976
48  1610612742         Dallas      Mavericks        DAL         1980
49  1610612741        Chicago          Bulls        CHI         1966
50  1610612740    New Orleans        Hornets        NOP         2002
51  1610612739      Cleveland      Cavaliers        CLE         1970
52  1610612738         Boston        Celtics        BOS         1946
53  1610612737        Atlanta          Hawks        ATL         1968
55  1610612737      Milwaukee          Hawks        MIL         1951

    yearActiveTill
0             2100
1             2013
2             2001
3             2100
5             2100
6             1996
9             1962
10            1961
11            2100
13            2100
15            2100
16            2100
17            2007
19            2100
24            2100
25            2100
26            2100
28            2100
29            2199
30            2100
31            2100
33            1976
34            2019
35            2100
36            2100
37            2100
38            1959
39            2100
42            2100
44            2100
46            1961
47            2019
48            2100
49            2100
50            2012
51            2100
52            2100
53            2100
55            1954
Rows: 39, Columns: 6

In [ ]:
# Sort by 'yearFounded' to keep the most recent instance
team_data_sorted = team_data_filtered.sort_values(by='yearFounded', ascending=False)

# Drop duplicates based on 'teamAbbrev' to keep only the most recent for each team
team_data_filtered = team_data_sorted.drop_duplicates(subset='teamAbbrev')

# Check the result
print(team_data_filtered)

# Count the occurrences of each team abbreviation
abbreviation_counts = team_data_filtered['teamAbbrev'].value_counts().reset_index()

# Rename the columns for better readability
abbreviation_counts.columns = ['teamAbbrev', 'count']

# Print the result
print(abbreviation_counts)

# Sort by 'teamAbbrev'
team_data_sorted = team_data_filtered.sort_values(by='teamAbbrev')

# Get the count of each abbreviation and add it as a new row
abbreviation_counts = team_data_sorted['teamAbbrev'].value_counts().reset_index()

# Rename the columns for clarity
abbreviation_counts.columns = ['teamAbbrev', 'count']

# Append the row with the sum of counts
total_row = pd.DataFrame([['Total', abbreviation_counts['count'].sum()]], columns=['teamAbbrev', 'count'])

# Append the total row to the original sorted DataFrame
team_data_with_total = abbreviation_counts.append(total_row, ignore_index=True)

# Print the final DataFrame
print(team_data_with_total)

        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
31  1610612751       Brooklyn           Nets        BKN         2012
16  1610612760  Oklahoma City        Thunder        OKC         2008
50  1610612740    New Orleans        Hornets        NOP         2002
11  1610612763        Memphis      Grizzlies        MEM         2001
5   1610612764     Washington        Wizards        WAS         1997
15  1610612761        Toronto        Raptors        TOR         1995
29  1610612753        Orlando          Magic        ORL         1989
34  1610612750      Minnesota   Timberwolves        MIN         1989
36  1610612748          Miami           Heat        MIA         1988
19  1610612758     Sacramento          Kings        SAC         1985
39  1610612746    Los Angeles       Clippers        LAC         1984
48  1610612742         Dallas      Mavericks        DAL         1980
13  1610612762           Utah           Jazz        UTA         1979
47  1610612743         Denver        Nuggets        DEN         1976
33  1610612751       New York           Nets        NYK         1976
28  1610612754        Indiana         Pacers        IND         1976
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
24  1610612757       Portland  Trail Blazers        POR         1970
51  1610612739      Cleveland      Cavaliers        CLE         1970
25  1610612756        Phoenix           Suns        PHX         1968
35  1610612749      Milwaukee          Bucks        MIL         1968
53  1610612737        Atlanta          Hawks        ATL         1968
49  1610612741        Chicago          Bulls        CHI         1966
26  1610612755   Philadelphia          76ers        PHI         1963
37  1610612747    Los Angeles         Lakers        LAL         1960
3   1610612765        Detroit        Pistons        DET         1957
52  1610612738         Boston        Celtics        BOS         1946

    yearActiveTill
0             2100
31            2100
16            2100
50            2012
11            2100
5             2100
15            2100
29            2199
34            2019
36            2100
19            2100
39            2100
48            2100
13            2100
47            2019
33            1976
28            2100
42            2100
44            2100
24            2100
51            2100
25            2100
35            2100
53            2100
49            2100
26            2100
37            2100
3             2100
52            2100
   teamAbbrev  count
0         CHA      1
1         NYK      1
2         DET      1
3         LAL      1
4         PHI      1
5         CHI      1
6         ATL      1
7         MIL      1
8         PHX      1
9         CLE      1
10        POR      1
11        GSW      1
12        HOU      1
13        IND      1
14        DEN      1
15        BKN      1
16        UTA      1
17        DAL      1
18        LAC      1
19        SAC      1
20        MIA      1
21        MIN      1
22        ORL      1
23        TOR      1
24        WAS      1
25        MEM      1
26        NOP      1
27        OKC      1
28        BOS      1

AttributeError: 'DataFrame' object has no attribute 'append'

In [ ]:
# Sort by 'yearFounded' to keep the most recent instance
team_data_sorted = team_data_filtered.sort_values(by='yearFounded', ascending=False)

# Drop duplicates based on 'teamAbbrev' to keep only the most recent for each team
team_data_filtered = team_data_sorted.drop_duplicates(subset='teamAbbrev')

# Check the result
print(team_data_filtered)

# Count the occurrences of each team abbreviation
abbreviation_counts = team_data_filtered['teamAbbrev'].value_counts().reset_index()

# Rename the columns for better readability
abbreviation_counts.columns = ['teamAbbrev', 'count']

# Print the result
print(abbreviation_counts)

# Sort by 'teamAbbrev'
team_data_sorted = team_data_filtered.sort_values(by='teamAbbrev')

# Get the count of each abbreviation and add it as a new row
abbreviation_counts = team_data_sorted['teamAbbrev'].value_counts().reset_index()

# Rename the columns for clarity
abbreviation_counts.columns = ['teamAbbrev', 'count']

# Append the row with the sum of counts
total_row = pd.DataFrame([['Total', abbreviation_counts['count'].sum()]], columns=['teamAbbrev', 'count'])

# Append the total row to the original sorted DataFrame
team_data_with_total = abbreviation_counts.append(total_row, ignore_index=True)

# Print the final DataFrame
print(team_data_with_total)

        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
31  1610612751       Brooklyn           Nets        BKN         2012
16  1610612760  Oklahoma City        Thunder        OKC         2008
50  1610612740    New Orleans        Hornets        NOP         2002
11  1610612763        Memphis      Grizzlies        MEM         2001
5   1610612764     Washington        Wizards        WAS         1997
15  1610612761        Toronto        Raptors        TOR         1995
29  1610612753        Orlando          Magic        ORL         1989
34  1610612750      Minnesota   Timberwolves        MIN         1989
36  1610612748          Miami           Heat        MIA         1988
19  1610612758     Sacramento          Kings        SAC         1985
39  1610612746    Los Angeles       Clippers        LAC         1984
48  1610612742         Dallas      Mavericks        DAL         1980
13  1610612762           Utah           Jazz        UTA         1979
28  1610612754        Indiana         Pacers        IND         1976
47  1610612743         Denver        Nuggets        DEN         1976
33  1610612751       New York           Nets        NYK         1976
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
24  1610612757       Portland  Trail Blazers        POR         1970
51  1610612739      Cleveland      Cavaliers        CLE         1970
25  1610612756        Phoenix           Suns        PHX         1968
35  1610612749      Milwaukee          Bucks        MIL         1968
53  1610612737        Atlanta          Hawks        ATL         1968
49  1610612741        Chicago          Bulls        CHI         1966
26  1610612755   Philadelphia          76ers        PHI         1963
37  1610612747    Los Angeles         Lakers        LAL         1960
3   1610612765        Detroit        Pistons        DET         1957
52  1610612738         Boston        Celtics        BOS         1946

    yearActiveTill
0             2100
31            2100
16            2100
50            2012
11            2100
5             2100
15            2100
29            2199
34            2019
36            2100
19            2100
39            2100
48            2100
13            2100
28            2100
47            2019
33            1976
42            2100
44            2100
24            2100
51            2100
25            2100
35            2100
53            2100
49            2100
26            2100
37            2100
3             2100
52            2100
   teamAbbrev  count
0         CHA      1
1         DEN      1
2         DET      1
3         LAL      1
4         PHI      1
5         CHI      1
6         ATL      1
7         MIL      1
8         PHX      1
9         CLE      1
10        POR      1
11        GSW      1
12        HOU      1
13        NYK      1
14        IND      1
15        BKN      1
16        UTA      1
17        DAL      1
18        LAC      1
19        SAC      1
20        MIA      1
21        MIN      1
22        ORL      1
23        TOR      1
24        WAS      1
25        MEM      1
26        NOP      1
27        OKC      1
28        BOS      1

AttributeError: 'DataFrame' object has no attribute 'append'

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')
# Reverse the rows of the DataFrame (to get most recent team names)
team_data_reversed = team_data.iloc[::-1].reset_index(drop=True)

team_data = team_data_reversed

In [ ]:
# Clean and standardize teamAbbrev
team_data['teamAbbrev'] = team_data['teamAbbrev'].str.strip().str.upper()

# Replace abbreviations
team_data['teamAbbrev'] = team_data['teamAbbrev'].replace({'SEA': 'OKC', 'NOH': 'NOP', 'NJN': 'BKN', 'NOK': 'NOP', 'GS': 'GSW'})

# Print the first few rows to check if replacements worked
print(team_data.head())

# Allowed team abbreviations
allowed_teams = [
    'ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL',
    'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS'
]

# Step 1: Filter team_data to only include teams in allowed_teams
team_data_filtered = team_data[team_data['teamAbbrev'].isin(allowed_teams)]
# Filter team_data to keep only rows where 'yearActiveTill' >= 2023
#team_data_filtered = team_data[(team_data['yearActiveTill'] >= 2023) | team_data['yearActiveTill'].isna()]
# Print the filtered data
print(team_data_filtered)
# Number of rows and columns in the DataFrame
print(f'Rows: {team_data_filtered.shape[0]}, Columns: {team_data_filtered.shape[1]}')

       teamId           teamCity teamName teamAbbrev  yearFounded  \
0  1610612766          Charlotte  Hornets        CHA         2014
1  1610612766          Charlotte  Bobcats        CHA         2004
2  1610612766          Charlotte  Hornets        CHA         1988
3  1610612765            Detroit  Pistons        DET         1957
4  1610612765  Ft. Wayne Zollner  Pistons        FWZ         1948

   yearActiveTill
0            2100
1            2013
2            2001
3            2100
4            1956
        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
1   1610612766      Charlotte        Bobcats        CHA         2004
2   1610612766      Charlotte        Hornets        CHA         1988
3   1610612765        Detroit        Pistons        DET         1957
5   1610612764     Washington        Wizards        WAS         1997
6   1610612764     Washington        Bullets        WAS         1974
9   1610612764        Chicago        Zephyrs        CHI         1962
10  1610612764        Chicago        Packers        CHI         1961
11  1610612763        Memphis      Grizzlies        MEM         2001
13  1610612762           Utah           Jazz        UTA         1979
15  1610612761        Toronto        Raptors        TOR         1995
16  1610612760  Oklahoma City        Thunder        OKC         2008
17  1610612760        Seattle    SuperSonics        OKC         1967
19  1610612758     Sacramento          Kings        SAC         1985
24  1610612757       Portland  Trail Blazers        POR         1970
25  1610612756        Phoenix           Suns        PHX         1968
26  1610612755   Philadelphia          76ers        PHI         1963
28  1610612754        Indiana         Pacers        IND         1976
29  1610612753        Orlando          Magic        ORL         1989
30  1610612752       New York         Knicks        NYK         1946
31  1610612751       Brooklyn           Nets        BKN         2012
33  1610612751       New York           Nets        NYK         1976
34  1610612750      Minnesota   Timberwolves        MIN         1989
35  1610612749      Milwaukee          Bucks        MIL         1968
36  1610612748          Miami           Heat        MIA         1988
37  1610612747    Los Angeles         Lakers        LAL         1960
38  1610612747    Minneapolis         Lakers        MIN         1948
39  1610612746    Los Angeles       Clippers        LAC         1984
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
46  1610612744   Philadelphia       Warriors        PHI         1946
47  1610612743         Denver        Nuggets        DEN         1976
48  1610612742         Dallas      Mavericks        DAL         1980
49  1610612741        Chicago          Bulls        CHI         1966
50  1610612740    New Orleans        Hornets        NOP         2002
51  1610612739      Cleveland      Cavaliers        CLE         1970
52  1610612738         Boston        Celtics        BOS         1946
53  1610612737        Atlanta          Hawks        ATL         1968
55  1610612737      Milwaukee          Hawks        MIL         1951

    yearActiveTill
0             2100
1             2013
2             2001
3             2100
5             2100
6             1996
9             1962
10            1961
11            2100
13            2100
15            2100
16            2100
17            2007
19            2100
24            2100
25            2100
26            2100
28            2100
29            2199
30            2100
31            2100
33            1976
34            2019
35            2100
36            2100
37            2100
38            1959
39            2100
42            2100
44            2100
46            1961
47            2019
48            2100
49            2100
50            2012
51            2100
52            2100
53            2100
55            1954
Rows: 39, Columns: 6

In [ ]:
# Sort by 'yearFounded' to keep the most recent instance
team_data_sorted = team_data_filtered.sort_values(by='yearFounded', ascending=False)

# Drop duplicates based on 'teamAbbrev' to keep only the most recent for each team
team_data_filtered = team_data_sorted.drop_duplicates(subset='teamAbbrev')

# Check the result
print(team_data_filtered)

# Count the occurrences of each team abbreviation
abbreviation_counts = team_data_filtered['teamAbbrev'].value_counts().reset_index()

# Rename the columns for better readability
abbreviation_counts.columns = ['teamAbbrev', 'count']

# Print the result
print(abbreviation_counts)

# Sort by 'teamAbbrev'
team_data_sorted = team_data_filtered.sort_values(by='teamAbbrev')

# Get the count of each abbreviation and add it as a new row
abbreviation_counts = team_data_sorted['teamAbbrev'].value_counts().reset_index()

# Rename the columns for clarity
abbreviation_counts.columns = ['teamAbbrev', 'count']

# Append the row with the sum of counts
total_row = pd.DataFrame([['Total', abbreviation_counts['count'].sum()]], columns=['teamAbbrev', 'count'])

# Append the total row to the original sorted DataFrame
team_data_with_total = abbreviation_counts.append(total_row, ignore_index=True)

# Print the final DataFrame
print(team_data_with_total)

        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
31  1610612751       Brooklyn           Nets        BKN         2012
16  1610612760  Oklahoma City        Thunder        OKC         2008
50  1610612740    New Orleans        Hornets        NOP         2002
11  1610612763        Memphis      Grizzlies        MEM         2001
5   1610612764     Washington        Wizards        WAS         1997
15  1610612761        Toronto        Raptors        TOR         1995
29  1610612753        Orlando          Magic        ORL         1989
34  1610612750      Minnesota   Timberwolves        MIN         1989
36  1610612748          Miami           Heat        MIA         1988
19  1610612758     Sacramento          Kings        SAC         1985
39  1610612746    Los Angeles       Clippers        LAC         1984
48  1610612742         Dallas      Mavericks        DAL         1980
13  1610612762           Utah           Jazz        UTA         1979
47  1610612743         Denver        Nuggets        DEN         1976
33  1610612751       New York           Nets        NYK         1976
28  1610612754        Indiana         Pacers        IND         1976
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
24  1610612757       Portland  Trail Blazers        POR         1970
51  1610612739      Cleveland      Cavaliers        CLE         1970
25  1610612756        Phoenix           Suns        PHX         1968
35  1610612749      Milwaukee          Bucks        MIL         1968
53  1610612737        Atlanta          Hawks        ATL         1968
49  1610612741        Chicago          Bulls        CHI         1966
26  1610612755   Philadelphia          76ers        PHI         1963
37  1610612747    Los Angeles         Lakers        LAL         1960
3   1610612765        Detroit        Pistons        DET         1957
52  1610612738         Boston        Celtics        BOS         1946

    yearActiveTill
0             2100
31            2100
16            2100
50            2012
11            2100
5             2100
15            2100
29            2199
34            2019
36            2100
19            2100
39            2100
48            2100
13            2100
47            2019
33            1976
28            2100
42            2100
44            2100
24            2100
51            2100
25            2100
35            2100
53            2100
49            2100
26            2100
37            2100
3             2100
52            2100
   teamAbbrev  count
0         CHA      1
1         NYK      1
2         DET      1
3         LAL      1
4         PHI      1
5         CHI      1
6         ATL      1
7         MIL      1
8         PHX      1
9         CLE      1
10        POR      1
11        GSW      1
12        HOU      1
13        IND      1
14        DEN      1
15        BKN      1
16        UTA      1
17        DAL      1
18        LAC      1
19        SAC      1
20        MIA      1
21        MIN      1
22        ORL      1
23        TOR      1
24        WAS      1
25        MEM      1
26        NOP      1
27        OKC      1
28        BOS      1

AttributeError: 'DataFrame' object has no attribute 'append'

In [ ]:
# Sort by 'yearFounded' to keep the most recent instance
team_data_sorted = team_data_filtered.sort_values(by='yearFounded', ascending=False)

# Drop duplicates based on 'teamAbbrev' to keep only the most recent for each team
team_data_filtered = team_data_sorted.drop_duplicates(subset='teamAbbrev')

# Check the result
print(team_data_filtered)

        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
31  1610612751       Brooklyn           Nets        BKN         2012
16  1610612760  Oklahoma City        Thunder        OKC         2008
50  1610612740    New Orleans        Hornets        NOP         2002
11  1610612763        Memphis      Grizzlies        MEM         2001
5   1610612764     Washington        Wizards        WAS         1997
15  1610612761        Toronto        Raptors        TOR         1995
29  1610612753        Orlando          Magic        ORL         1989
34  1610612750      Minnesota   Timberwolves        MIN         1989
36  1610612748          Miami           Heat        MIA         1988
19  1610612758     Sacramento          Kings        SAC         1985
39  1610612746    Los Angeles       Clippers        LAC         1984
48  1610612742         Dallas      Mavericks        DAL         1980
13  1610612762           Utah           Jazz        UTA         1979
28  1610612754        Indiana         Pacers        IND         1976
47  1610612743         Denver        Nuggets        DEN         1976
33  1610612751       New York           Nets        NYK         1976
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
24  1610612757       Portland  Trail Blazers        POR         1970
51  1610612739      Cleveland      Cavaliers        CLE         1970
25  1610612756        Phoenix           Suns        PHX         1968
35  1610612749      Milwaukee          Bucks        MIL         1968
53  1610612737        Atlanta          Hawks        ATL         1968
49  1610612741        Chicago          Bulls        CHI         1966
26  1610612755   Philadelphia          76ers        PHI         1963
37  1610612747    Los Angeles         Lakers        LAL         1960
3   1610612765        Detroit        Pistons        DET         1957
52  1610612738         Boston        Celtics        BOS         1946

    yearActiveTill
0             2100
31            2100
16            2100
50            2012
11            2100
5             2100
15            2100
29            2199
34            2019
36            2100
19            2100
39            2100
48            2100
13            2100
28            2100
47            2019
33            1976
42            2100
44            2100
24            2100
51            2100
25            2100
35            2100
53            2100
49            2100
26            2100
37            2100
3             2100
52            2100

In [ ]:
# Sort by 'yearFounded' to keep the most recent instance
team_data_sorted = team_data_filtered.sort_values(by='yearFounded', ascending=False)

# Drop duplicates based on 'teamAbbrev' to keep only the most recent for each team
team_data_filtered = team_data_sorted.drop_duplicates(subset='teamAbbrev')

# Check the result
print(team_data_filtered)

        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
31  1610612751       Brooklyn           Nets        BKN         2012
16  1610612760  Oklahoma City        Thunder        OKC         2008
50  1610612740    New Orleans        Hornets        NOP         2002
11  1610612763        Memphis      Grizzlies        MEM         2001
5   1610612764     Washington        Wizards        WAS         1997
15  1610612761        Toronto        Raptors        TOR         1995
29  1610612753        Orlando          Magic        ORL         1989
34  1610612750      Minnesota   Timberwolves        MIN         1989
36  1610612748          Miami           Heat        MIA         1988
19  1610612758     Sacramento          Kings        SAC         1985
39  1610612746    Los Angeles       Clippers        LAC         1984
48  1610612742         Dallas      Mavericks        DAL         1980
13  1610612762           Utah           Jazz        UTA         1979
33  1610612751       New York           Nets        NYK         1976
28  1610612754        Indiana         Pacers        IND         1976
47  1610612743         Denver        Nuggets        DEN         1976
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
24  1610612757       Portland  Trail Blazers        POR         1970
51  1610612739      Cleveland      Cavaliers        CLE         1970
25  1610612756        Phoenix           Suns        PHX         1968
35  1610612749      Milwaukee          Bucks        MIL         1968
53  1610612737        Atlanta          Hawks        ATL         1968
49  1610612741        Chicago          Bulls        CHI         1966
26  1610612755   Philadelphia          76ers        PHI         1963
37  1610612747    Los Angeles         Lakers        LAL         1960
3   1610612765        Detroit        Pistons        DET         1957
52  1610612738         Boston        Celtics        BOS         1946

    yearActiveTill
0             2100
31            2100
16            2100
50            2012
11            2100
5             2100
15            2100
29            2199
34            2019
36            2100
19            2100
39            2100
48            2100
13            2100
33            1976
28            2100
47            2019
42            2100
44            2100
24            2100
51            2100
25            2100
35            2100
53            2100
49            2100
26            2100
37            2100
3             2100
52            2100

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')
# Reverse the rows of the DataFrame (to get most recent team names)
team_data_reversed = team_data.iloc[::-1].reset_index(drop=True)

team_data = team_data_reversed

In [ ]:
# Clean and standardize teamAbbrev
team_data['teamAbbrev'] = team_data['teamAbbrev'].str.strip().str.upper()

# Replace abbreviations
team_data['teamAbbrev'] = team_data['teamAbbrev'].replace({'SEA': 'OKC', 'NOH': 'NOP', 'NJN': 'BKN', 'NOK': 'NOP', 'GS': 'GSW'})

# Print the first few rows to check if replacements worked
print(team_data.head())

# Allowed team abbreviations
allowed_teams = [
    'ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL',
    'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS'
]

# Step 1: Filter team_data to only include teams in allowed_teams
team_data_filtered = team_data[team_data['teamAbbrev'].isin(allowed_teams)]
# Filter team_data to keep only rows where 'yearActiveTill' >= 2023
#team_data_filtered = team_data[(team_data['yearActiveTill'] >= 2023) | team_data['yearActiveTill'].isna()]
# Print the filtered data
print(team_data_filtered)
# Number of rows and columns in the DataFrame
print(f'Rows: {team_data_filtered.shape[0]}, Columns: {team_data_filtered.shape[1]}')

       teamId           teamCity teamName teamAbbrev  yearFounded  \
0  1610612766          Charlotte  Hornets        CHA         2014
1  1610612766          Charlotte  Bobcats        CHA         2004
2  1610612766          Charlotte  Hornets        CHA         1988
3  1610612765            Detroit  Pistons        DET         1957
4  1610612765  Ft. Wayne Zollner  Pistons        FWZ         1948

   yearActiveTill
0            2100
1            2013
2            2001
3            2100
4            1956
        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
1   1610612766      Charlotte        Bobcats        CHA         2004
2   1610612766      Charlotte        Hornets        CHA         1988
3   1610612765        Detroit        Pistons        DET         1957
5   1610612764     Washington        Wizards        WAS         1997
6   1610612764     Washington        Bullets        WAS         1974
9   1610612764        Chicago        Zephyrs        CHI         1962
10  1610612764        Chicago        Packers        CHI         1961
11  1610612763        Memphis      Grizzlies        MEM         2001
13  1610612762           Utah           Jazz        UTA         1979
15  1610612761        Toronto        Raptors        TOR         1995
16  1610612760  Oklahoma City        Thunder        OKC         2008
17  1610612760        Seattle    SuperSonics        OKC         1967
19  1610612758     Sacramento          Kings        SAC         1985
24  1610612757       Portland  Trail Blazers        POR         1970
25  1610612756        Phoenix           Suns        PHX         1968
26  1610612755   Philadelphia          76ers        PHI         1963
28  1610612754        Indiana         Pacers        IND         1976
29  1610612753        Orlando          Magic        ORL         1989
30  1610612752       New York         Knicks        NYK         1946
31  1610612751       Brooklyn           Nets        BKN         2012
33  1610612751       New York           Nets        NYK         1976
34  1610612750      Minnesota   Timberwolves        MIN         1989
35  1610612749      Milwaukee          Bucks        MIL         1968
36  1610612748          Miami           Heat        MIA         1988
37  1610612747    Los Angeles         Lakers        LAL         1960
38  1610612747    Minneapolis         Lakers        MIN         1948
39  1610612746    Los Angeles       Clippers        LAC         1984
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
46  1610612744   Philadelphia       Warriors        PHI         1946
47  1610612743         Denver        Nuggets        DEN         1976
48  1610612742         Dallas      Mavericks        DAL         1980
49  1610612741        Chicago          Bulls        CHI         1966
50  1610612740    New Orleans        Hornets        NOP         2002
51  1610612739      Cleveland      Cavaliers        CLE         1970
52  1610612738         Boston        Celtics        BOS         1946
53  1610612737        Atlanta          Hawks        ATL         1968
55  1610612737      Milwaukee          Hawks        MIL         1951

    yearActiveTill
0             2100
1             2013
2             2001
3             2100
5             2100
6             1996
9             1962
10            1961
11            2100
13            2100
15            2100
16            2100
17            2007
19            2100
24            2100
25            2100
26            2100
28            2100
29            2199
30            2100
31            2100
33            1976
34            2019
35            2100
36            2100
37            2100
38            1959
39            2100
42            2100
44            2100
46            1961
47            2019
48            2100
49            2100
50            2012
51            2100
52            2100
53            2100
55            1954
Rows: 39, Columns: 6

In [ ]:
# Sort by 'yearFounded' to keep the most recent instance
team_data_sorted = team_data_filtered.sort_values(by='yearFounded', ascending=False)

# Drop duplicates based on 'teamAbbrev' to keep only the most recent for each team
team_data_filtered = team_data_sorted.drop_duplicates(subset='teamAbbrev')

# Check the result
print(team_data_filtered)

        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
31  1610612751       Brooklyn           Nets        BKN         2012
16  1610612760  Oklahoma City        Thunder        OKC         2008
50  1610612740    New Orleans        Hornets        NOP         2002
11  1610612763        Memphis      Grizzlies        MEM         2001
5   1610612764     Washington        Wizards        WAS         1997
15  1610612761        Toronto        Raptors        TOR         1995
29  1610612753        Orlando          Magic        ORL         1989
34  1610612750      Minnesota   Timberwolves        MIN         1989
36  1610612748          Miami           Heat        MIA         1988
19  1610612758     Sacramento          Kings        SAC         1985
39  1610612746    Los Angeles       Clippers        LAC         1984
48  1610612742         Dallas      Mavericks        DAL         1980
13  1610612762           Utah           Jazz        UTA         1979
47  1610612743         Denver        Nuggets        DEN         1976
33  1610612751       New York           Nets        NYK         1976
28  1610612754        Indiana         Pacers        IND         1976
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
24  1610612757       Portland  Trail Blazers        POR         1970
51  1610612739      Cleveland      Cavaliers        CLE         1970
25  1610612756        Phoenix           Suns        PHX         1968
35  1610612749      Milwaukee          Bucks        MIL         1968
53  1610612737        Atlanta          Hawks        ATL         1968
49  1610612741        Chicago          Bulls        CHI         1966
26  1610612755   Philadelphia          76ers        PHI         1963
37  1610612747    Los Angeles         Lakers        LAL         1960
3   1610612765        Detroit        Pistons        DET         1957
52  1610612738         Boston        Celtics        BOS         1946

    yearActiveTill
0             2100
31            2100
16            2100
50            2012
11            2100
5             2100
15            2100
29            2199
34            2019
36            2100
19            2100
39            2100
48            2100
13            2100
47            2019
33            1976
28            2100
42            2100
44            2100
24            2100
51            2100
25            2100
35            2100
53            2100
49            2100
26            2100
37            2100
3             2100
52            2100

In [ ]:
# Sort by 'yearFounded' to keep the most recent instance
team_data_sorted = team_data_filtered.sort_values(by='yearFounded', ascending=False)

# Drop duplicates based on 'teamAbbrev' to keep only the most recent for each team
team_data_filtered = team_data_sorted.drop_duplicates(subset='teamAbbrev')

# Show the length of the new DataFrame
print("Length of filtered team data:", len(team_data_filtered))

# Optionally, you can also print the shape (rows, columns) of the DataFrame
print("Shape of filtered team data:", team_data_filtered.shape)

# Check the result (optional)
print(team_data_filtered)

Length of filtered team data: 29
Shape of filtered team data: (29, 6)
        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
31  1610612751       Brooklyn           Nets        BKN         2012
16  1610612760  Oklahoma City        Thunder        OKC         2008
50  1610612740    New Orleans        Hornets        NOP         2002
11  1610612763        Memphis      Grizzlies        MEM         2001
5   1610612764     Washington        Wizards        WAS         1997
15  1610612761        Toronto        Raptors        TOR         1995
29  1610612753        Orlando          Magic        ORL         1989
34  1610612750      Minnesota   Timberwolves        MIN         1989
36  1610612748          Miami           Heat        MIA         1988
19  1610612758     Sacramento          Kings        SAC         1985
39  1610612746    Los Angeles       Clippers        LAC         1984
48  1610612742         Dallas      Mavericks        DAL         1980
13  1610612762           Utah           Jazz        UTA         1979
28  1610612754        Indiana         Pacers        IND         1976
47  1610612743         Denver        Nuggets        DEN         1976
33  1610612751       New York           Nets        NYK         1976
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
24  1610612757       Portland  Trail Blazers        POR         1970
51  1610612739      Cleveland      Cavaliers        CLE         1970
25  1610612756        Phoenix           Suns        PHX         1968
35  1610612749      Milwaukee          Bucks        MIL         1968
53  1610612737        Atlanta          Hawks        ATL         1968
49  1610612741        Chicago          Bulls        CHI         1966
26  1610612755   Philadelphia          76ers        PHI         1963
37  1610612747    Los Angeles         Lakers        LAL         1960
3   1610612765        Detroit        Pistons        DET         1957
52  1610612738         Boston        Celtics        BOS         1946

    yearActiveTill
0             2100
31            2100
16            2100
50            2012
11            2100
5             2100
15            2100
29            2199
34            2019
36            2100
19            2100
39            2100
48            2100
13            2100
28            2100
47            2019
33            1976
42            2100
44            2100
24            2100
51            2100
25            2100
35            2100
53            2100
49            2100
26            2100
37            2100
3             2100
52            2100

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')
# Reverse the rows of the DataFrame (to get most recent team names)
team_data_reversed = team_data.iloc[::-1].reset_index(drop=True)

team_data = team_data_reversed

In [ ]:
# Clean and standardize teamAbbrev
team_data['teamAbbrev'] = team_data['teamAbbrev'].str.strip().str.upper()

# Replace abbreviations
team_data['teamAbbrev'] = team_data['teamAbbrev'].replace({'SEA': 'OKC', 'NOH': 'NOP', 'NJN': 'BKN', 'NOK': 'NOP', 'GS': 'GSW'})

# Print the first few rows to check if replacements worked
print(team_data.head())

# Allowed team abbreviations
allowed_teams = [
    'ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL',
    'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS'
]

# Step 1: Filter team_data to only include teams in allowed_teams
team_data_filtered = team_data[team_data['teamAbbrev'].isin(allowed_teams)]
# Filter team_data to keep only rows where 'yearActiveTill' >= 2023
#team_data_filtered = team_data[(team_data['yearActiveTill'] >= 2023) | team_data['yearActiveTill'].isna()]
# Print the filtered data
print(team_data_filtered)
# Number of rows and columns in the DataFrame
print(f'Rows: {team_data_filtered.shape[0]}, Columns: {team_data_filtered.shape[1]}')

       teamId           teamCity teamName teamAbbrev  yearFounded  \
0  1610612766          Charlotte  Hornets        CHA         2014
1  1610612766          Charlotte  Bobcats        CHA         2004
2  1610612766          Charlotte  Hornets        CHA         1988
3  1610612765            Detroit  Pistons        DET         1957
4  1610612765  Ft. Wayne Zollner  Pistons        FWZ         1948

   yearActiveTill
0            2100
1            2013
2            2001
3            2100
4            1956
        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
1   1610612766      Charlotte        Bobcats        CHA         2004
2   1610612766      Charlotte        Hornets        CHA         1988
3   1610612765        Detroit        Pistons        DET         1957
5   1610612764     Washington        Wizards        WAS         1997
6   1610612764     Washington        Bullets        WAS         1974
9   1610612764        Chicago        Zephyrs        CHI         1962
10  1610612764        Chicago        Packers        CHI         1961
11  1610612763        Memphis      Grizzlies        MEM         2001
13  1610612762           Utah           Jazz        UTA         1979
15  1610612761        Toronto        Raptors        TOR         1995
16  1610612760  Oklahoma City        Thunder        OKC         2008
17  1610612760        Seattle    SuperSonics        OKC         1967
19  1610612758     Sacramento          Kings        SAC         1985
24  1610612757       Portland  Trail Blazers        POR         1970
25  1610612756        Phoenix           Suns        PHX         1968
26  1610612755   Philadelphia          76ers        PHI         1963
28  1610612754        Indiana         Pacers        IND         1976
29  1610612753        Orlando          Magic        ORL         1989
30  1610612752       New York         Knicks        NYK         1946
31  1610612751       Brooklyn           Nets        BKN         2012
33  1610612751       New York           Nets        NYK         1976
34  1610612750      Minnesota   Timberwolves        MIN         1989
35  1610612749      Milwaukee          Bucks        MIL         1968
36  1610612748          Miami           Heat        MIA         1988
37  1610612747    Los Angeles         Lakers        LAL         1960
38  1610612747    Minneapolis         Lakers        MIN         1948
39  1610612746    Los Angeles       Clippers        LAC         1984
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
46  1610612744   Philadelphia       Warriors        PHI         1946
47  1610612743         Denver        Nuggets        DEN         1976
48  1610612742         Dallas      Mavericks        DAL         1980
49  1610612741        Chicago          Bulls        CHI         1966
50  1610612740    New Orleans        Hornets        NOP         2002
51  1610612739      Cleveland      Cavaliers        CLE         1970
52  1610612738         Boston        Celtics        BOS         1946
53  1610612737        Atlanta          Hawks        ATL         1968
55  1610612737      Milwaukee          Hawks        MIL         1951

    yearActiveTill
0             2100
1             2013
2             2001
3             2100
5             2100
6             1996
9             1962
10            1961
11            2100
13            2100
15            2100
16            2100
17            2007
19            2100
24            2100
25            2100
26            2100
28            2100
29            2199
30            2100
31            2100
33            1976
34            2019
35            2100
36            2100
37            2100
38            1959
39            2100
42            2100
44            2100
46            1961
47            2019
48            2100
49            2100
50            2012
51            2100
52            2100
53            2100
55            1954
Rows: 39, Columns: 6

In [ ]:
# Sort by 'yearFounded' to keep the most recent instance
team_data_sorted = team_data_filtered.sort_values(by='yearFounded', ascending=False)

# Drop duplicates based on 'teamAbbrev' to keep only the most recent for each team
team_data_filtered = team_data_sorted.drop_duplicates(subset='teamAbbrev')

# Check the result
print(team_data_filtered)

        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
31  1610612751       Brooklyn           Nets        BKN         2012
16  1610612760  Oklahoma City        Thunder        OKC         2008
50  1610612740    New Orleans        Hornets        NOP         2002
11  1610612763        Memphis      Grizzlies        MEM         2001
5   1610612764     Washington        Wizards        WAS         1997
15  1610612761        Toronto        Raptors        TOR         1995
29  1610612753        Orlando          Magic        ORL         1989
34  1610612750      Minnesota   Timberwolves        MIN         1989
36  1610612748          Miami           Heat        MIA         1988
19  1610612758     Sacramento          Kings        SAC         1985
39  1610612746    Los Angeles       Clippers        LAC         1984
48  1610612742         Dallas      Mavericks        DAL         1980
13  1610612762           Utah           Jazz        UTA         1979
47  1610612743         Denver        Nuggets        DEN         1976
33  1610612751       New York           Nets        NYK         1976
28  1610612754        Indiana         Pacers        IND         1976
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
24  1610612757       Portland  Trail Blazers        POR         1970
51  1610612739      Cleveland      Cavaliers        CLE         1970
25  1610612756        Phoenix           Suns        PHX         1968
35  1610612749      Milwaukee          Bucks        MIL         1968
53  1610612737        Atlanta          Hawks        ATL         1968
49  1610612741        Chicago          Bulls        CHI         1966
26  1610612755   Philadelphia          76ers        PHI         1963
37  1610612747    Los Angeles         Lakers        LAL         1960
3   1610612765        Detroit        Pistons        DET         1957
52  1610612738         Boston        Celtics        BOS         1946

    yearActiveTill
0             2100
31            2100
16            2100
50            2012
11            2100
5             2100
15            2100
29            2199
34            2019
36            2100
19            2100
39            2100
48            2100
13            2100
47            2019
33            1976
28            2100
42            2100
44            2100
24            2100
51            2100
25            2100
35            2100
53            2100
49            2100
26            2100
37            2100
3             2100
52            2100

In [ ]:
# Sort by 'yearFounded' to keep the most recent instance
team_data_sorted = team_data_filtered.sort_values(by='yearFounded', ascending=False)

# Drop duplicates based on 'teamAbbrev' to keep only the most recent for each team
team_data_filtered = team_data_sorted.drop_duplicates(subset='teamAbbrev')

# Show the length of the new DataFrame
print("Length of filtered team data:", len(team_data_filtered))

# Optionally, you can also print the shape (rows, columns) of the DataFrame
print("Shape of filtered team data:", team_data_filtered.shape)

# Check the result (optional)
print(team_data_filtered)

Length of filtered team data: 29
Shape of filtered team data: (29, 6)
        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
31  1610612751       Brooklyn           Nets        BKN         2012
16  1610612760  Oklahoma City        Thunder        OKC         2008
50  1610612740    New Orleans        Hornets        NOP         2002
11  1610612763        Memphis      Grizzlies        MEM         2001
5   1610612764     Washington        Wizards        WAS         1997
15  1610612761        Toronto        Raptors        TOR         1995
29  1610612753        Orlando          Magic        ORL         1989
34  1610612750      Minnesota   Timberwolves        MIN         1989
36  1610612748          Miami           Heat        MIA         1988
19  1610612758     Sacramento          Kings        SAC         1985
39  1610612746    Los Angeles       Clippers        LAC         1984
48  1610612742         Dallas      Mavericks        DAL         1980
13  1610612762           Utah           Jazz        UTA         1979
28  1610612754        Indiana         Pacers        IND         1976
47  1610612743         Denver        Nuggets        DEN         1976
33  1610612751       New York           Nets        NYK         1976
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
24  1610612757       Portland  Trail Blazers        POR         1970
51  1610612739      Cleveland      Cavaliers        CLE         1970
25  1610612756        Phoenix           Suns        PHX         1968
35  1610612749      Milwaukee          Bucks        MIL         1968
53  1610612737        Atlanta          Hawks        ATL         1968
49  1610612741        Chicago          Bulls        CHI         1966
26  1610612755   Philadelphia          76ers        PHI         1963
37  1610612747    Los Angeles         Lakers        LAL         1960
3   1610612765        Detroit        Pistons        DET         1957
52  1610612738         Boston        Celtics        BOS         1946

    yearActiveTill
0             2100
31            2100
16            2100
50            2012
11            2100
5             2100
15            2100
29            2199
34            2019
36            2100
19            2100
39            2100
48            2100
13            2100
28            2100
47            2019
33            1976
42            2100
44            2100
24            2100
51            2100
25            2100
35            2100
53            2100
49            2100
26            2100
37            2100
3             2100
52            2100

In [ ]:
# Replace 'New Orleans Hornets' with 'New Orleans Pelicans'
team_data_filtered['teamAbbrev'] = team_data_filtered['teamAbbrev'].replace({'NOP': 'NOP'})

# Sort by 'yearFounded' to keep the most recent instance
team_data_sorted = team_data_filtered.sort_values(by='yearFounded', ascending=False)

# Drop duplicates based on 'teamAbbrev' to keep only the most recent for each team
team_data_filtered = team_data_sorted.drop_duplicates(subset='teamAbbrev')

# Show the length of the new DataFrame
print("Length of filtered team data:", len(team_data_filtered))

# Optionally, you can also print the shape (rows, columns) of the DataFrame
print("Shape of filtered team data:", team_data_filtered.shape)

# Check the result (optional)
print(team_data_filtered)

# Check unique team abbreviations in the filtered data
print("Unique team abbreviations in filtered data:", team_data_filtered['teamAbbrev'].unique())

Length of filtered team data: 29
Shape of filtered team data: (29, 6)
        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
31  1610612751       Brooklyn           Nets        BKN         2012
16  1610612760  Oklahoma City        Thunder        OKC         2008
50  1610612740    New Orleans        Hornets        NOP         2002
11  1610612763        Memphis      Grizzlies        MEM         2001
5   1610612764     Washington        Wizards        WAS         1997
15  1610612761        Toronto        Raptors        TOR         1995
29  1610612753        Orlando          Magic        ORL         1989
34  1610612750      Minnesota   Timberwolves        MIN         1989
36  1610612748          Miami           Heat        MIA         1988
19  1610612758     Sacramento          Kings        SAC         1985
39  1610612746    Los Angeles       Clippers        LAC         1984
48  1610612742         Dallas      Mavericks        DAL         1980
13  1610612762           Utah           Jazz        UTA         1979
33  1610612751       New York           Nets        NYK         1976
28  1610612754        Indiana         Pacers        IND         1976
47  1610612743         Denver        Nuggets        DEN         1976
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
24  1610612757       Portland  Trail Blazers        POR         1970
51  1610612739      Cleveland      Cavaliers        CLE         1970
25  1610612756        Phoenix           Suns        PHX         1968
35  1610612749      Milwaukee          Bucks        MIL         1968
53  1610612737        Atlanta          Hawks        ATL         1968
49  1610612741        Chicago          Bulls        CHI         1966
26  1610612755   Philadelphia          76ers        PHI         1963
37  1610612747    Los Angeles         Lakers        LAL         1960
3   1610612765        Detroit        Pistons        DET         1957
52  1610612738         Boston        Celtics        BOS         1946

    yearActiveTill
0             2100
31            2100
16            2100
50            2012
11            2100
5             2100
15            2100
29            2199
34            2019
36            2100
19            2100
39            2100
48            2100
13            2100
33            1976
28            2100
47            2019
42            2100
44            2100
24            2100
51            2100
25            2100
35            2100
53            2100
49            2100
26            2100
37            2100
3             2100
52            2100
Unique team abbreviations in filtered data: ['CHA' 'BKN' 'OKC' 'NOP' 'MEM' 'WAS' 'TOR' 'ORL' 'MIN' 'MIA' 'SAC' 'LAC'
 'DAL' 'UTA' 'NYK' 'IND' 'DEN' 'HOU' 'GSW' 'POR' 'CLE' 'PHX' 'MIL' 'ATL'
 'CHI' 'PHI' 'LAL' 'DET' 'BOS']

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')
# Reverse the rows of the DataFrame (to get most recent team names)
team_data_reversed = team_data.iloc[::-1].reset_index(drop=True)

team_data = team_data_reversed

In [ ]:
# Clean and standardize teamAbbrev
team_data['teamAbbrev'] = team_data['teamAbbrev'].str.strip().str.upper()

# Replace abbreviations
team_data['teamAbbrev'] = team_data['teamAbbrev'].replace({'SEA': 'OKC', 'NOH': 'NOP', 'NJN': 'BKN', 'NOK': 'NOP', 'GS': 'GSW'})

# Print the first few rows to check if replacements worked
print(team_data.head())

# Allowed team abbreviations
allowed_teams = [
    'ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL',
    'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS'
]

# Step 1: Filter team_data to only include teams in allowed_teams
team_data_filtered = team_data[team_data['teamAbbrev'].isin(allowed_teams)]
# Filter team_data to keep only rows where 'yearActiveTill' >= 2023
#team_data_filtered = team_data[(team_data['yearActiveTill'] >= 2023) | team_data['yearActiveTill'].isna()]
# Print the filtered data
print(team_data_filtered)
# Number of rows and columns in the DataFrame
print(f'Rows: {team_data_filtered.shape[0]}, Columns: {team_data_filtered.shape[1]}')

       teamId           teamCity teamName teamAbbrev  yearFounded  \
0  1610612766          Charlotte  Hornets        CHA         2014
1  1610612766          Charlotte  Bobcats        CHA         2004
2  1610612766          Charlotte  Hornets        CHA         1988
3  1610612765            Detroit  Pistons        DET         1957
4  1610612765  Ft. Wayne Zollner  Pistons        FWZ         1948

   yearActiveTill
0            2100
1            2013
2            2001
3            2100
4            1956
        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
1   1610612766      Charlotte        Bobcats        CHA         2004
2   1610612766      Charlotte        Hornets        CHA         1988
3   1610612765        Detroit        Pistons        DET         1957
5   1610612764     Washington        Wizards        WAS         1997
6   1610612764     Washington        Bullets        WAS         1974
9   1610612764        Chicago        Zephyrs        CHI         1962
10  1610612764        Chicago        Packers        CHI         1961
11  1610612763        Memphis      Grizzlies        MEM         2001
13  1610612762           Utah           Jazz        UTA         1979
15  1610612761        Toronto        Raptors        TOR         1995
16  1610612760  Oklahoma City        Thunder        OKC         2008
17  1610612760        Seattle    SuperSonics        OKC         1967
19  1610612758     Sacramento          Kings        SAC         1985
24  1610612757       Portland  Trail Blazers        POR         1970
25  1610612756        Phoenix           Suns        PHX         1968
26  1610612755   Philadelphia          76ers        PHI         1963
28  1610612754        Indiana         Pacers        IND         1976
29  1610612753        Orlando          Magic        ORL         1989
30  1610612752       New York         Knicks        NYK         1946
31  1610612751       Brooklyn           Nets        BKN         2012
33  1610612751       New York           Nets        NYK         1976
34  1610612750      Minnesota   Timberwolves        MIN         1989
35  1610612749      Milwaukee          Bucks        MIL         1968
36  1610612748          Miami           Heat        MIA         1988
37  1610612747    Los Angeles         Lakers        LAL         1960
38  1610612747    Minneapolis         Lakers        MIN         1948
39  1610612746    Los Angeles       Clippers        LAC         1984
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
46  1610612744   Philadelphia       Warriors        PHI         1946
47  1610612743         Denver        Nuggets        DEN         1976
48  1610612742         Dallas      Mavericks        DAL         1980
49  1610612741        Chicago          Bulls        CHI         1966
50  1610612740    New Orleans        Hornets        NOP         2002
51  1610612739      Cleveland      Cavaliers        CLE         1970
52  1610612738         Boston        Celtics        BOS         1946
53  1610612737        Atlanta          Hawks        ATL         1968
55  1610612737      Milwaukee          Hawks        MIL         1951

    yearActiveTill
0             2100
1             2013
2             2001
3             2100
5             2100
6             1996
9             1962
10            1961
11            2100
13            2100
15            2100
16            2100
17            2007
19            2100
24            2100
25            2100
26            2100
28            2100
29            2199
30            2100
31            2100
33            1976
34            2019
35            2100
36            2100
37            2100
38            1959
39            2100
42            2100
44            2100
46            1961
47            2019
48            2100
49            2100
50            2012
51            2100
52            2100
53            2100
55            1954
Rows: 39, Columns: 6

In [ ]:
# Sort by 'yearFounded' to keep the most recent instance
team_data_sorted = team_data_filtered.sort_values(by='yearFounded', ascending=False)

# Drop duplicates based on 'teamAbbrev' to keep only the most recent for each team
team_data_filtered = team_data_sorted.drop_duplicates(subset='teamAbbrev')

# Check the result
print(team_data_filtered)

        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
31  1610612751       Brooklyn           Nets        BKN         2012
16  1610612760  Oklahoma City        Thunder        OKC         2008
50  1610612740    New Orleans        Hornets        NOP         2002
11  1610612763        Memphis      Grizzlies        MEM         2001
5   1610612764     Washington        Wizards        WAS         1997
15  1610612761        Toronto        Raptors        TOR         1995
29  1610612753        Orlando          Magic        ORL         1989
34  1610612750      Minnesota   Timberwolves        MIN         1989
36  1610612748          Miami           Heat        MIA         1988
19  1610612758     Sacramento          Kings        SAC         1985
39  1610612746    Los Angeles       Clippers        LAC         1984
48  1610612742         Dallas      Mavericks        DAL         1980
13  1610612762           Utah           Jazz        UTA         1979
47  1610612743         Denver        Nuggets        DEN         1976
33  1610612751       New York           Nets        NYK         1976
28  1610612754        Indiana         Pacers        IND         1976
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
24  1610612757       Portland  Trail Blazers        POR         1970
51  1610612739      Cleveland      Cavaliers        CLE         1970
25  1610612756        Phoenix           Suns        PHX         1968
35  1610612749      Milwaukee          Bucks        MIL         1968
53  1610612737        Atlanta          Hawks        ATL         1968
49  1610612741        Chicago          Bulls        CHI         1966
26  1610612755   Philadelphia          76ers        PHI         1963
37  1610612747    Los Angeles         Lakers        LAL         1960
3   1610612765        Detroit        Pistons        DET         1957
52  1610612738         Boston        Celtics        BOS         1946

    yearActiveTill
0             2100
31            2100
16            2100
50            2012
11            2100
5             2100
15            2100
29            2199
34            2019
36            2100
19            2100
39            2100
48            2100
13            2100
47            2019
33            1976
28            2100
42            2100
44            2100
24            2100
51            2100
25            2100
35            2100
53            2100
49            2100
26            2100
37            2100
3             2100
52            2100

In [ ]:
# Sort by 'yearFounded' to keep the most recent instance
team_data_sorted = team_data_filtered.sort_values(by='yearFounded', ascending=False)

# Drop duplicates based on 'teamAbbrev' to keep only the most recent for each team
team_data_filtered = team_data_sorted.drop_duplicates(subset='teamAbbrev')

# Show the length of the new DataFrame
print("Length of filtered team data:", len(team_data_filtered))

# Optionally, you can also print the shape (rows, columns) of the DataFrame
print("Shape of filtered team data:", team_data_filtered.shape)

# Check the result (optional)
print(team_data_filtered)

Length of filtered team data: 29
Shape of filtered team data: (29, 6)
        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
31  1610612751       Brooklyn           Nets        BKN         2012
16  1610612760  Oklahoma City        Thunder        OKC         2008
50  1610612740    New Orleans        Hornets        NOP         2002
11  1610612763        Memphis      Grizzlies        MEM         2001
5   1610612764     Washington        Wizards        WAS         1997
15  1610612761        Toronto        Raptors        TOR         1995
29  1610612753        Orlando          Magic        ORL         1989
34  1610612750      Minnesota   Timberwolves        MIN         1989
36  1610612748          Miami           Heat        MIA         1988
19  1610612758     Sacramento          Kings        SAC         1985
39  1610612746    Los Angeles       Clippers        LAC         1984
48  1610612742         Dallas      Mavericks        DAL         1980
13  1610612762           Utah           Jazz        UTA         1979
28  1610612754        Indiana         Pacers        IND         1976
47  1610612743         Denver        Nuggets        DEN         1976
33  1610612751       New York           Nets        NYK         1976
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
24  1610612757       Portland  Trail Blazers        POR         1970
51  1610612739      Cleveland      Cavaliers        CLE         1970
25  1610612756        Phoenix           Suns        PHX         1968
35  1610612749      Milwaukee          Bucks        MIL         1968
53  1610612737        Atlanta          Hawks        ATL         1968
49  1610612741        Chicago          Bulls        CHI         1966
26  1610612755   Philadelphia          76ers        PHI         1963
37  1610612747    Los Angeles         Lakers        LAL         1960
3   1610612765        Detroit        Pistons        DET         1957
52  1610612738         Boston        Celtics        BOS         1946

    yearActiveTill
0             2100
31            2100
16            2100
50            2012
11            2100
5             2100
15            2100
29            2199
34            2019
36            2100
19            2100
39            2100
48            2100
13            2100
28            2100
47            2019
33            1976
42            2100
44            2100
24            2100
51            2100
25            2100
35            2100
53            2100
49            2100
26            2100
37            2100
3             2100
52            2100

In [ ]:
# Replace 'New Orleans Hornets' with 'New Orleans Pelicans'
team_data_filtered['teamAbbrev'] = team_data_filtered['teamAbbrev'].replace({'NOP': 'NOP'})

# Sort by 'yearFounded' to keep the most recent instance
team_data_sorted = team_data_filtered.sort_values(by='yearFounded', ascending=False)

# Drop duplicates based on 'teamAbbrev' to keep only the most recent for each team
team_data_filtered = team_data_sorted.drop_duplicates(subset='teamAbbrev')

# Show the length of the new DataFrame
print("Length of filtered team data:", len(team_data_filtered))

# Optionally, you can also print the shape (rows, columns) of the DataFrame
print("Shape of filtered team data:", team_data_filtered.shape)

# Check the result (optional)
print(team_data_filtered)

# Check unique team abbreviations in the filtered data
print("Unique team abbreviations in filtered data:", team_data_filtered['teamAbbrev'].unique().sort())

Length of filtered team data: 29
Shape of filtered team data: (29, 6)
        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
31  1610612751       Brooklyn           Nets        BKN         2012
16  1610612760  Oklahoma City        Thunder        OKC         2008
50  1610612740    New Orleans        Hornets        NOP         2002
11  1610612763        Memphis      Grizzlies        MEM         2001
5   1610612764     Washington        Wizards        WAS         1997
15  1610612761        Toronto        Raptors        TOR         1995
29  1610612753        Orlando          Magic        ORL         1989
34  1610612750      Minnesota   Timberwolves        MIN         1989
36  1610612748          Miami           Heat        MIA         1988
19  1610612758     Sacramento          Kings        SAC         1985
39  1610612746    Los Angeles       Clippers        LAC         1984
48  1610612742         Dallas      Mavericks        DAL         1980
13  1610612762           Utah           Jazz        UTA         1979
33  1610612751       New York           Nets        NYK         1976
28  1610612754        Indiana         Pacers        IND         1976
47  1610612743         Denver        Nuggets        DEN         1976
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
24  1610612757       Portland  Trail Blazers        POR         1970
51  1610612739      Cleveland      Cavaliers        CLE         1970
25  1610612756        Phoenix           Suns        PHX         1968
35  1610612749      Milwaukee          Bucks        MIL         1968
53  1610612737        Atlanta          Hawks        ATL         1968
49  1610612741        Chicago          Bulls        CHI         1966
26  1610612755   Philadelphia          76ers        PHI         1963
37  1610612747    Los Angeles         Lakers        LAL         1960
3   1610612765        Detroit        Pistons        DET         1957
52  1610612738         Boston        Celtics        BOS         1946

    yearActiveTill
0             2100
31            2100
16            2100
50            2012
11            2100
5             2100
15            2100
29            2199
34            2019
36            2100
19            2100
39            2100
48            2100
13            2100
33            1976
28            2100
47            2019
42            2100
44            2100
24            2100
51            2100
25            2100
35            2100
53            2100
49            2100
26            2100
37            2100
3             2100
52            2100
Unique team abbreviations in filtered data: None

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')
# Reverse the rows of the DataFrame (to get most recent team names)
team_data_reversed = team_data.iloc[::-1].reset_index(drop=True)

team_data = team_data_reversed

In [ ]:
# Clean and standardize teamAbbrev
team_data['teamAbbrev'] = team_data['teamAbbrev'].str.strip().str.upper()

# Replace abbreviations
team_data['teamAbbrev'] = team_data['teamAbbrev'].replace({'SEA': 'OKC', 'NOH': 'NOP', 'NJN': 'BKN', 'NOK': 'NOP', 'GS': 'GSW'})

# Print the first few rows to check if replacements worked
print(team_data.head())

# Allowed team abbreviations
allowed_teams = [
    'ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL',
    'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS'
]

# Step 1: Filter team_data to only include teams in allowed_teams
team_data_filtered = team_data[team_data['teamAbbrev'].isin(allowed_teams)]
# Filter team_data to keep only rows where 'yearActiveTill' >= 2023
#team_data_filtered = team_data[(team_data['yearActiveTill'] >= 2023) | team_data['yearActiveTill'].isna()]
# Print the filtered data
print(team_data_filtered)
# Number of rows and columns in the DataFrame
print(f'Rows: {team_data_filtered.shape[0]}, Columns: {team_data_filtered.shape[1]}')

       teamId           teamCity teamName teamAbbrev  yearFounded  \
0  1610612766          Charlotte  Hornets        CHA         2014
1  1610612766          Charlotte  Bobcats        CHA         2004
2  1610612766          Charlotte  Hornets        CHA         1988
3  1610612765            Detroit  Pistons        DET         1957
4  1610612765  Ft. Wayne Zollner  Pistons        FWZ         1948

   yearActiveTill
0            2100
1            2013
2            2001
3            2100
4            1956
        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
1   1610612766      Charlotte        Bobcats        CHA         2004
2   1610612766      Charlotte        Hornets        CHA         1988
3   1610612765        Detroit        Pistons        DET         1957
5   1610612764     Washington        Wizards        WAS         1997
6   1610612764     Washington        Bullets        WAS         1974
9   1610612764        Chicago        Zephyrs        CHI         1962
10  1610612764        Chicago        Packers        CHI         1961
11  1610612763        Memphis      Grizzlies        MEM         2001
13  1610612762           Utah           Jazz        UTA         1979
15  1610612761        Toronto        Raptors        TOR         1995
16  1610612760  Oklahoma City        Thunder        OKC         2008
17  1610612760        Seattle    SuperSonics        OKC         1967
19  1610612758     Sacramento          Kings        SAC         1985
24  1610612757       Portland  Trail Blazers        POR         1970
25  1610612756        Phoenix           Suns        PHX         1968
26  1610612755   Philadelphia          76ers        PHI         1963
28  1610612754        Indiana         Pacers        IND         1976
29  1610612753        Orlando          Magic        ORL         1989
30  1610612752       New York         Knicks        NYK         1946
31  1610612751       Brooklyn           Nets        BKN         2012
33  1610612751       New York           Nets        NYK         1976
34  1610612750      Minnesota   Timberwolves        MIN         1989
35  1610612749      Milwaukee          Bucks        MIL         1968
36  1610612748          Miami           Heat        MIA         1988
37  1610612747    Los Angeles         Lakers        LAL         1960
38  1610612747    Minneapolis         Lakers        MIN         1948
39  1610612746    Los Angeles       Clippers        LAC         1984
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
46  1610612744   Philadelphia       Warriors        PHI         1946
47  1610612743         Denver        Nuggets        DEN         1976
48  1610612742         Dallas      Mavericks        DAL         1980
49  1610612741        Chicago          Bulls        CHI         1966
50  1610612740    New Orleans        Hornets        NOP         2002
51  1610612739      Cleveland      Cavaliers        CLE         1970
52  1610612738         Boston        Celtics        BOS         1946
53  1610612737        Atlanta          Hawks        ATL         1968
55  1610612737      Milwaukee          Hawks        MIL         1951

    yearActiveTill
0             2100
1             2013
2             2001
3             2100
5             2100
6             1996
9             1962
10            1961
11            2100
13            2100
15            2100
16            2100
17            2007
19            2100
24            2100
25            2100
26            2100
28            2100
29            2199
30            2100
31            2100
33            1976
34            2019
35            2100
36            2100
37            2100
38            1959
39            2100
42            2100
44            2100
46            1961
47            2019
48            2100
49            2100
50            2012
51            2100
52            2100
53            2100
55            1954
Rows: 39, Columns: 6

In [ ]:
# Sort by 'yearFounded' to keep the most recent instance
team_data_sorted = team_data_filtered.sort_values(by='yearFounded', ascending=False)

# Drop duplicates based on 'teamAbbrev' to keep only the most recent for each team
team_data_filtered = team_data_sorted.drop_duplicates(subset='teamAbbrev')

# Check the result
print(team_data_filtered)

        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
31  1610612751       Brooklyn           Nets        BKN         2012
16  1610612760  Oklahoma City        Thunder        OKC         2008
50  1610612740    New Orleans        Hornets        NOP         2002
11  1610612763        Memphis      Grizzlies        MEM         2001
5   1610612764     Washington        Wizards        WAS         1997
15  1610612761        Toronto        Raptors        TOR         1995
29  1610612753        Orlando          Magic        ORL         1989
34  1610612750      Minnesota   Timberwolves        MIN         1989
36  1610612748          Miami           Heat        MIA         1988
19  1610612758     Sacramento          Kings        SAC         1985
39  1610612746    Los Angeles       Clippers        LAC         1984
48  1610612742         Dallas      Mavericks        DAL         1980
13  1610612762           Utah           Jazz        UTA         1979
47  1610612743         Denver        Nuggets        DEN         1976
33  1610612751       New York           Nets        NYK         1976
28  1610612754        Indiana         Pacers        IND         1976
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
24  1610612757       Portland  Trail Blazers        POR         1970
51  1610612739      Cleveland      Cavaliers        CLE         1970
25  1610612756        Phoenix           Suns        PHX         1968
35  1610612749      Milwaukee          Bucks        MIL         1968
53  1610612737        Atlanta          Hawks        ATL         1968
49  1610612741        Chicago          Bulls        CHI         1966
26  1610612755   Philadelphia          76ers        PHI         1963
37  1610612747    Los Angeles         Lakers        LAL         1960
3   1610612765        Detroit        Pistons        DET         1957
52  1610612738         Boston        Celtics        BOS         1946

    yearActiveTill
0             2100
31            2100
16            2100
50            2012
11            2100
5             2100
15            2100
29            2199
34            2019
36            2100
19            2100
39            2100
48            2100
13            2100
47            2019
33            1976
28            2100
42            2100
44            2100
24            2100
51            2100
25            2100
35            2100
53            2100
49            2100
26            2100
37            2100
3             2100
52            2100

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')
# Reverse the rows of the DataFrame (to get most recent team names)
team_data_reversed = team_data.iloc[::-1].reset_index(drop=True)

team_data = team_data_reversed

In [ ]:
# Clean and standardize teamAbbrev
team_data['teamAbbrev'] = team_data['teamAbbrev'].str.strip().str.upper()

# Replace abbreviations
team_data['teamAbbrev'] = team_data['teamAbbrev'].replace({'SEA': 'OKC', 'NOH': 'NOP', 'NJN': 'BKN', 'NOK': 'NOP', 'GS': 'GSW'})

# Print the first few rows to check if replacements worked
print(team_data.head())

# Allowed team abbreviations
allowed_teams = [
    'ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL',
    'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS'
]

# Step 1: Filter team_data to only include teams in allowed_teams
team_data_filtered = team_data[team_data['teamAbbrev'].isin(allowed_teams)]
# Filter team_data to keep only rows where 'yearActiveTill' >= 2023
#team_data_filtered = team_data[(team_data['yearActiveTill'] >= 2023) | team_data['yearActiveTill'].isna()]
# Print the filtered data
print(team_data_filtered)
# Number of rows and columns in the DataFrame
print(f'Rows: {team_data_filtered.shape[0]}, Columns: {team_data_filtered.shape[1]}')

       teamId           teamCity teamName teamAbbrev  yearFounded  \
0  1610612766          Charlotte  Hornets        CHA         2014
1  1610612766          Charlotte  Bobcats        CHA         2004
2  1610612766          Charlotte  Hornets        CHA         1988
3  1610612765            Detroit  Pistons        DET         1957
4  1610612765  Ft. Wayne Zollner  Pistons        FWZ         1948

   yearActiveTill
0            2100
1            2013
2            2001
3            2100
4            1956
        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
1   1610612766      Charlotte        Bobcats        CHA         2004
2   1610612766      Charlotte        Hornets        CHA         1988
3   1610612765        Detroit        Pistons        DET         1957
5   1610612764     Washington        Wizards        WAS         1997
6   1610612764     Washington        Bullets        WAS         1974
9   1610612764        Chicago        Zephyrs        CHI         1962
10  1610612764        Chicago        Packers        CHI         1961
11  1610612763        Memphis      Grizzlies        MEM         2001
13  1610612762           Utah           Jazz        UTA         1979
15  1610612761        Toronto        Raptors        TOR         1995
16  1610612760  Oklahoma City        Thunder        OKC         2008
17  1610612760        Seattle    SuperSonics        OKC         1967
19  1610612758     Sacramento          Kings        SAC         1985
24  1610612757       Portland  Trail Blazers        POR         1970
25  1610612756        Phoenix           Suns        PHX         1968
26  1610612755   Philadelphia          76ers        PHI         1963
28  1610612754        Indiana         Pacers        IND         1976
29  1610612753        Orlando          Magic        ORL         1989
30  1610612752       New York         Knicks        NYK         1946
31  1610612751       Brooklyn           Nets        BKN         2012
33  1610612751       New York           Nets        NYK         1976
34  1610612750      Minnesota   Timberwolves        MIN         1989
35  1610612749      Milwaukee          Bucks        MIL         1968
36  1610612748          Miami           Heat        MIA         1988
37  1610612747    Los Angeles         Lakers        LAL         1960
38  1610612747    Minneapolis         Lakers        MIN         1948
39  1610612746    Los Angeles       Clippers        LAC         1984
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
46  1610612744   Philadelphia       Warriors        PHI         1946
47  1610612743         Denver        Nuggets        DEN         1976
48  1610612742         Dallas      Mavericks        DAL         1980
49  1610612741        Chicago          Bulls        CHI         1966
50  1610612740    New Orleans        Hornets        NOP         2002
51  1610612739      Cleveland      Cavaliers        CLE         1970
52  1610612738         Boston        Celtics        BOS         1946
53  1610612737        Atlanta          Hawks        ATL         1968
55  1610612737      Milwaukee          Hawks        MIL         1951

    yearActiveTill
0             2100
1             2013
2             2001
3             2100
5             2100
6             1996
9             1962
10            1961
11            2100
13            2100
15            2100
16            2100
17            2007
19            2100
24            2100
25            2100
26            2100
28            2100
29            2199
30            2100
31            2100
33            1976
34            2019
35            2100
36            2100
37            2100
38            1959
39            2100
42            2100
44            2100
46            1961
47            2019
48            2100
49            2100
50            2012
51            2100
52            2100
53            2100
55            1954
Rows: 39, Columns: 6

In [ ]:
# Sort by 'yearFounded' to keep the most recent instance
team_data_sorted = team_data_filtered.sort_values(by='yearFounded', ascending=False)

# Drop duplicates based on 'teamAbbrev' to keep only the most recent for each team
team_data_filtered = team_data_sorted.drop_duplicates(subset='teamAbbrev')

# Check the result
print(team_data_filtered)
print("Length of filtered team data:", len(team_data_filtered))

        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
31  1610612751       Brooklyn           Nets        BKN         2012
16  1610612760  Oklahoma City        Thunder        OKC         2008
50  1610612740    New Orleans        Hornets        NOP         2002
11  1610612763        Memphis      Grizzlies        MEM         2001
5   1610612764     Washington        Wizards        WAS         1997
15  1610612761        Toronto        Raptors        TOR         1995
29  1610612753        Orlando          Magic        ORL         1989
34  1610612750      Minnesota   Timberwolves        MIN         1989
36  1610612748          Miami           Heat        MIA         1988
19  1610612758     Sacramento          Kings        SAC         1985
39  1610612746    Los Angeles       Clippers        LAC         1984
48  1610612742         Dallas      Mavericks        DAL         1980
13  1610612762           Utah           Jazz        UTA         1979
47  1610612743         Denver        Nuggets        DEN         1976
33  1610612751       New York           Nets        NYK         1976
28  1610612754        Indiana         Pacers        IND         1976
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
24  1610612757       Portland  Trail Blazers        POR         1970
51  1610612739      Cleveland      Cavaliers        CLE         1970
25  1610612756        Phoenix           Suns        PHX         1968
35  1610612749      Milwaukee          Bucks        MIL         1968
53  1610612737        Atlanta          Hawks        ATL         1968
49  1610612741        Chicago          Bulls        CHI         1966
26  1610612755   Philadelphia          76ers        PHI         1963
37  1610612747    Los Angeles         Lakers        LAL         1960
3   1610612765        Detroit        Pistons        DET         1957
52  1610612738         Boston        Celtics        BOS         1946

    yearActiveTill
0             2100
31            2100
16            2100
50            2012
11            2100
5             2100
15            2100
29            2199
34            2019
36            2100
19            2100
39            2100
48            2100
13            2100
47            2019
33            1976
28            2100
42            2100
44            2100
24            2100
51            2100
25            2100
35            2100
53            2100
49            2100
26            2100
37            2100
3             2100
52            2100
Length of filtered team data: 29

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')
# Reverse the rows of the DataFrame (to get most recent team names)
team_data_reversed = team_data.iloc[::-1].reset_index(drop=True)

team_data = team_data_reversed

In [ ]:
# Clean and standardize teamAbbrev
team_data['teamAbbrev'] = team_data['teamAbbrev'].str.strip().str.upper()

# Replace abbreviations
team_data['teamAbbrev'] = team_data['teamAbbrev'].replace({'SEA': 'OKC', 'NOH': 'NOP', 'NJN': 'BKN', 'NOK': 'NOP', 'GS': 'GSW'})

# Print the first few rows to check if replacements worked
print(team_data.head())

# Allowed team abbreviations
allowed_teams = [
    'ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL',
    'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS'
]

# Step 1: Filter team_data to only include teams in allowed_teams
team_data_filtered = team_data[team_data['teamAbbrev'].isin(allowed_teams)]
# Filter team_data to keep only rows where 'yearActiveTill' >= 2023
team_data_filtered = team_data[(team_data['yearActiveTill'] >= 2023) | team_data['yearActiveTill'].isna()]
# Print the filtered data
print(team_data_filtered)
# Number of rows and columns in the DataFrame
print(f'Rows: {team_data_filtered.shape[0]}, Columns: {team_data_filtered.shape[1]}')

       teamId           teamCity teamName teamAbbrev  yearFounded  \
0  1610612766          Charlotte  Hornets        CHA         2014
1  1610612766          Charlotte  Bobcats        CHA         2004
2  1610612766          Charlotte  Hornets        CHA         1988
3  1610612765            Detroit  Pistons        DET         1957
4  1610612765  Ft. Wayne Zollner  Pistons        FWZ         1948

   yearActiveTill
0            2100
1            2013
2            2001
3            2100
4            1956
        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
3   1610612765        Detroit        Pistons        DET         1957
5   1610612764     Washington        Wizards        WAS         1997
11  1610612763        Memphis      Grizzlies        MEM         2001
13  1610612762           Utah           Jazz        UTA         1979
15  1610612761        Toronto        Raptors        TOR         1995
16  1610612760  Oklahoma City        Thunder        OKC         2008
18  1610612759    San Antonio          Spurs        SAN         1976
19  1610612758     Sacramento          Kings        SAC         1985
24  1610612757       Portland  Trail Blazers        POR         1970
25  1610612756        Phoenix           Suns        PHX         1968
26  1610612755   Philadelphia          76ers        PHI         1963
28  1610612754        Indiana         Pacers        IND         1976
29  1610612753        Orlando          Magic        ORL         1989
30  1610612752       New York         Knicks        NYK         1946
31  1610612751       Brooklyn           Nets        BKN         2012
35  1610612749      Milwaukee          Bucks        MIL         1968
36  1610612748          Miami           Heat        MIA         1988
37  1610612747    Los Angeles         Lakers        LAL         1960
39  1610612746    Los Angeles       Clippers        LAC         1984
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
48  1610612742         Dallas      Mavericks        DAL         1980
49  1610612741        Chicago          Bulls        CHI         1966
51  1610612739      Cleveland      Cavaliers        CLE         1970
52  1610612738         Boston        Celtics        BOS         1946
53  1610612737        Atlanta          Hawks        ATL         1968

    yearActiveTill
0             2100
3             2100
5             2100
11            2100
13            2100
15            2100
16            2100
18            2100
19            2100
24            2100
25            2100
26            2100
28            2100
29            2199
30            2100
31            2100
35            2100
36            2100
37            2100
39            2100
42            2100
44            2100
48            2100
49            2100
51            2100
52            2100
53            2100
Rows: 27, Columns: 6

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')
# Reverse the rows of the DataFrame (to get most recent team names)
team_data_reversed = team_data.iloc[::-1].reset_index(drop=True)

team_data = team_data_reversed

In [ ]:
# Clean and standardize teamAbbrev
team_data['teamAbbrev'] = team_data['teamAbbrev'].str.strip().str.upper()

# Replace abbreviations
team_data['teamAbbrev'] = team_data['teamAbbrev'].replace({'SEA': 'OKC', 'NOH': 'NOP', 'NJN': 'BKN', 'NOK': 'NOP', 'GS': 'GSW'})

# Print the first few rows to check if replacements worked
print(team_data.head())

# Allowed team abbreviations
allowed_teams = [
    'ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL',
    'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS'
]

# Step 1: Filter team_data to only include teams in allowed_teams
team_data_filtered = team_data[team_data['teamAbbrev'].isin(allowed_teams)]
# Filter team_data to keep only rows where 'yearActiveTill' >= 2023
# team_data_filtered = team_data[(team_data['yearActiveTill'] >= 2023) | team_data['yearActiveTill'].isna()]
# Print the filtered data
print(team_data_filtered)
# Number of rows and columns in the DataFrame
print(f'Rows: {team_data_filtered.shape[0]}, Columns: {team_data_filtered.shape[1]}')

       teamId           teamCity teamName teamAbbrev  yearFounded  \
0  1610612766          Charlotte  Hornets        CHA         2014
1  1610612766          Charlotte  Bobcats        CHA         2004
2  1610612766          Charlotte  Hornets        CHA         1988
3  1610612765            Detroit  Pistons        DET         1957
4  1610612765  Ft. Wayne Zollner  Pistons        FWZ         1948

   yearActiveTill
0            2100
1            2013
2            2001
3            2100
4            1956
        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
1   1610612766      Charlotte        Bobcats        CHA         2004
2   1610612766      Charlotte        Hornets        CHA         1988
3   1610612765        Detroit        Pistons        DET         1957
5   1610612764     Washington        Wizards        WAS         1997
6   1610612764     Washington        Bullets        WAS         1974
9   1610612764        Chicago        Zephyrs        CHI         1962
10  1610612764        Chicago        Packers        CHI         1961
11  1610612763        Memphis      Grizzlies        MEM         2001
13  1610612762           Utah           Jazz        UTA         1979
15  1610612761        Toronto        Raptors        TOR         1995
16  1610612760  Oklahoma City        Thunder        OKC         2008
17  1610612760        Seattle    SuperSonics        OKC         1967
19  1610612758     Sacramento          Kings        SAC         1985
24  1610612757       Portland  Trail Blazers        POR         1970
25  1610612756        Phoenix           Suns        PHX         1968
26  1610612755   Philadelphia          76ers        PHI         1963
28  1610612754        Indiana         Pacers        IND         1976
29  1610612753        Orlando          Magic        ORL         1989
30  1610612752       New York         Knicks        NYK         1946
31  1610612751       Brooklyn           Nets        BKN         2012
33  1610612751       New York           Nets        NYK         1976
34  1610612750      Minnesota   Timberwolves        MIN         1989
35  1610612749      Milwaukee          Bucks        MIL         1968
36  1610612748          Miami           Heat        MIA         1988
37  1610612747    Los Angeles         Lakers        LAL         1960
38  1610612747    Minneapolis         Lakers        MIN         1948
39  1610612746    Los Angeles       Clippers        LAC         1984
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
46  1610612744   Philadelphia       Warriors        PHI         1946
47  1610612743         Denver        Nuggets        DEN         1976
48  1610612742         Dallas      Mavericks        DAL         1980
49  1610612741        Chicago          Bulls        CHI         1966
50  1610612740    New Orleans        Hornets        NOP         2002
51  1610612739      Cleveland      Cavaliers        CLE         1970
52  1610612738         Boston        Celtics        BOS         1946
53  1610612737        Atlanta          Hawks        ATL         1968
55  1610612737      Milwaukee          Hawks        MIL         1951

    yearActiveTill
0             2100
1             2013
2             2001
3             2100
5             2100
6             1996
9             1962
10            1961
11            2100
13            2100
15            2100
16            2100
17            2007
19            2100
24            2100
25            2100
26            2100
28            2100
29            2199
30            2100
31            2100
33            1976
34            2019
35            2100
36            2100
37            2100
38            1959
39            2100
42            2100
44            2100
46            1961
47            2019
48            2100
49            2100
50            2012
51            2100
52            2100
53            2100
55            1954
Rows: 39, Columns: 6

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')
# Reverse the rows of the DataFrame (to get most recent team names)
team_data_reversed = team_data.iloc[::-1].reset_index(drop=True)

team_data = team_data_reversed

In [ ]:
# Sort by 'yearFounded' to keep the most recent instance
team_data_sorted = team_data_filtered.sort_values(by='yearFounded', ascending=False)

# Drop duplicates based on 'teamAbbrev' to keep only the most recent for each team
team_data_filtered = team_data_sorted.drop_duplicates(subset='teamAbbrev')

# Check the result
print(team_data_filtered)
print("Length of filtered team data:", len(team_data_filtered))

        teamId       teamCity       teamName teamAbbrev  yearFounded  \
0   1610612766      Charlotte        Hornets        CHA         2014
31  1610612751       Brooklyn           Nets        BKN         2012
16  1610612760  Oklahoma City        Thunder        OKC         2008
50  1610612740    New Orleans        Hornets        NOP         2002
11  1610612763        Memphis      Grizzlies        MEM         2001
5   1610612764     Washington        Wizards        WAS         1997
15  1610612761        Toronto        Raptors        TOR         1995
29  1610612753        Orlando          Magic        ORL         1989
34  1610612750      Minnesota   Timberwolves        MIN         1989
36  1610612748          Miami           Heat        MIA         1988
19  1610612758     Sacramento          Kings        SAC         1985
39  1610612746    Los Angeles       Clippers        LAC         1984
48  1610612742         Dallas      Mavericks        DAL         1980
13  1610612762           Utah           Jazz        UTA         1979
47  1610612743         Denver        Nuggets        DEN         1976
33  1610612751       New York           Nets        NYK         1976
28  1610612754        Indiana         Pacers        IND         1976
42  1610612745        Houston        Rockets        HOU         1971
44  1610612744   Golden State       Warriors        GSW         1971
24  1610612757       Portland  Trail Blazers        POR         1970
51  1610612739      Cleveland      Cavaliers        CLE         1970
25  1610612756        Phoenix           Suns        PHX         1968
35  1610612749      Milwaukee          Bucks        MIL         1968
53  1610612737        Atlanta          Hawks        ATL         1968
49  1610612741        Chicago          Bulls        CHI         1966
26  1610612755   Philadelphia          76ers        PHI         1963
37  1610612747    Los Angeles         Lakers        LAL         1960
3   1610612765        Detroit        Pistons        DET         1957
52  1610612738         Boston        Celtics        BOS         1946

    yearActiveTill
0             2100
31            2100
16            2100
50            2012
11            2100
5             2100
15            2100
29            2199
34            2019
36            2100
19            2100
39            2100
48            2100
13            2100
47            2019
33            1976
28            2100
42            2100
44            2100
24            2100
51            2100
25            2100
35            2100
53            2100
49            2100
26            2100
37            2100
3             2100
52            2100
Length of filtered team data: 29

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')
# Reverse the rows of the DataFrame (to get most recent team names)
team_data_reversed = team_data.iloc[::-1].reset_index(drop=True)

team_data = team_data_reversed
head(team_data)

NameError: name 'head' is not defined

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Download latest version - run this in AM if doing daily refresh
#import kagglehub

#path = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")
#data = /Users/reese/.cache/kagglehub/datasets/eoinamoore/historical-nba-data-and-player-box-scores/versions/45
#print("Path to dataset files:", path)

In [ ]:
# Load and prepare the data
file_path = '~/code/data/kaggle/input/basketball/csv/Games.csv'
game_data = pd.read_csv(file_path)
team_data = pd.read_csv('~/code/data/kaggle/input/basketball/csv/TeamHistories.csv')
# Reverse the rows of the DataFrame (to get most recent team names)
team_data_reversed = team_data.iloc[::-1].reset_index(drop=True)

team_data = team_data_reversed
print(team_data.head())

       teamId           teamCity teamName teamAbbrev  yearFounded  \
0  1610612766          Charlotte  Hornets      CHA           2014
1  1610612766          Charlotte  Bobcats      CHA           2004
2  1610612766          Charlotte  Hornets      CHA           1988
3  1610612765            Detroit  Pistons      DET           1957
4  1610612765  Ft. Wayne Zollner  Pistons      FWZ           1948

   yearActiveTill
0            2100
1            2013
2            2001
3            2100
4            1956

No kernel connected

No kernel connected